@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = ViewData["Title"] ?? "Wallet Setup";
}

@section HeadScripts {
    @await RenderSectionAsync("HeadScripts", false)
}
@section HeaderContent {
    @await RenderSectionAsync("HeaderContent", false)
    <style>
        #wizard-navbar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        #wizard-navbar a {
            color: var(--btcpay-body-color);
        }
        #wizard-navbar a:hover {
            color: var(--btcpay-body-color-link-accent);
        }
        #wizard-navbar .cancel {
            margin-left: auto;
        }
    </style>
}
@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}

<nav id="wizard-navbar">
    @RenderSection("Navbar", false)

    <a asp-controller="Stores" asp-action="UpdateStore" asp-route-storeId="@Context.GetRouteValue("storeId")" class="cancel">
        <vc:icon symbol="close" />
    </a>
</nav>

<div class="row justify-content-md-center mt-4">
    <main class="col-md-10 col-lg-8 col-xl-6">
        @if (TempData.HasStatusMessage())
        {
            <partial name="_StatusMessage"/>
        }
        @RenderBody()
    </main>
</div>



