@using BTCPayServer.Views.Stores
@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills nav-stacked">
    <li class="@StoreNavPages.IndexNavClass(ViewContext)"><a asp-action="UpdateStore">Information</a></li>
    <li class="@StoreNavPages.TokensNavClass(ViewContext)"><a asp-action="ListTokens">Access Tokens</a></li>
</ul>

