@using NBXplorer.Models
@model DerivationSchemeViewModel
@if (Model.CanUseHotWallet)
{
    ViewData.Add(nameof(Model.CanUseRPCImport), Model.CanUseRPCImport);
    
    <partial name="AddDerivationSchemes_NBXWalletGenerate" model="@(new GenerateWalletRequest())"/>
}

<div class="modal fade" id="electrumimport" tabindex="-1" role="dialog" aria-labelledby="electrumimport" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" form method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="electrumimportLabel">Import Electrum/Air-gapped Hardware Wallet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You may import your air-gapped hardware wallet (such as ColdCard, Cobo Vault) by exporting a file and uploading it here.</p>
                <ul >
                    <li>Cobo Vault - <kbd>∙∙∙->Create Watch-Only Wallet in Electrum->export via microSD</kbd></li>
                    <li>ColdCard - <kbd>Advanced->MicroSD Card->Electrum Wallet</kbd></li>
                    <li>Electrum - <kbd>File->Save Copy</kbd></li>
                </ul>
                <div class="form-group">
                    <label asp-for="ElectrumWalletFile"></label>

                    <input type="file" class="form-control-file" asp-for="ElectrumWalletFile" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<template id="btcpayservervault_template">
    <div class="modal-dialog" role="document">
        <form class="modal-content" form method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import from BTCPayServer Vault</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You may import from BTCPayServer Vault.</p>
                <div class="form-group">
                    <div id="vaultPlaceholder"></div>
                </div>
                <div id="vault-xpub" style="display:none;">
                    <div class="form-group">
                        <label for="addressType">Address type</label>
                        <select name="addressType" class="form-control">
                            <option value="segwit">Segwit (Recommended, cheapest transaction fee)</option>
                            <option value="segwitWrapped">Segwit wrapped (less cheap but compatible with old wallets)</option>
                            <option value="legacy">Legacy (Not recommended)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="accountNumber">Account</label>
                        <select name="accountNumber" class="form-control">
                            @for (int i = 0; i < 20; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="vault-confirm" class="btn btn-primary" style="display:none;"></button>
            </div>
        </form>
    </div>
</template>
