@inject BTCPayServer.Services.BTCPayServerEnvironment env
@model LightningNodeViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["Title"] = "Add lightning node (Experimental)";
    ViewData.AddActivePage(BTCPayServer.Views.Stores.StoreNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
@if(env.IsDevelopping) {
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span>To test during development, please use http://api-token:foiewnccewuify@127.0.0.1:54938/ </span>
</div>
}
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <h5>Lightning node url</h5>
                <span>This URL should point to an installed lightning charge server</span>
            </div>
            <div class="form-group">
                <label asp-for="CryptoCurrency"></label>
                <select asp-for="CryptoCurrency" asp-items="Model.CryptoCurrencies" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <button name="command" type="submit" value="save" class="btn btn-success">Submit</button>
            <button name="command" type="submit" value="test" class="btn btn-info">Test connection</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
