@model CheckoutExperienceViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.Checkout, "Checkout experience");
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="@TempData["TempDataProperty-StatusMessage"]" />

<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="CustomLogo"></label>
                <input asp-for="CustomLogo" class="form-control" />
                <span asp-validation-for="CustomLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomCSS"></label>
                <input asp-for="CustomCSS" class="form-control" />
                <span asp-validation-for="CustomCSS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlTitle"></label>
                <input asp-for="HtmlTitle" class="form-control" />
                <span asp-validation-for="HtmlTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultCryptoCurrency"></label>
                <select asp-for="DefaultCryptoCurrency" asp-items="Model.CryptoCurrencies" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DefaultLang"></label>
                <select asp-for="DefaultLang" asp-items="Model.Languages" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="RequiresRefundEmail"></label>
                <input asp-for="RequiresRefundEmail" type="checkbox" class="form-check" />
            </div>
            <div class="form-group">
                <label asp-for="LightningMaxValue"></label>
                <input asp-for="LightningMaxValue" class="form-control" />
                <span asp-validation-for="LightningMaxValue" class="text-danger"></span>
                <p class="form-text text-muted">Example: 5.50 USD</p>
            </div>
            <div class="form-group">
                <label asp-for="OnChainMinValue"></label>
                <input asp-for="OnChainMinValue" class="form-control" />
                <span asp-validation-for="OnChainMinValue" class="text-danger"></span>
                <p class="form-text text-muted">Example: 5.50 USD</p>
            </div>
            <button name="command" type="submit" class="btn btn-primary" value="Save">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
