@model WalletSetupViewModel
@addTagHelper *, BundlerMinifier.TagHelpers
@{
    var isHotWallet = Model.Method == WalletSetupMethod.HotWallet;
    var type = isHotWallet ? "Hot" : "Watch-Only";
    Layout = "_LayoutWalletSetup";
    ViewData.SetActivePageAndTitle(StoreNavPages.Wallet, $"Create {Model.CryptoCode} {type} Wallet", Context.GetStoreData().StoreName);
    ViewData.Add(nameof(Model.CanUseHotWallet), Model.CanUseHotWallet);
    ViewData.Add(nameof(Model.CanUseRPCImport), Model.CanUseRPCImport);
    ViewData.Add(nameof(Model.Method), Model.Method);
}

@section Navbar {
    <a asp-controller="Stores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="">
        <vc:icon symbol="back" />
    </a>
}

<h1 class="text-center">@ViewData["Title"]</h1>
<br>
<partial name="_GenerateWalletForm" model="Model.SetupRequest" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
