@model IntegrationsViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.Integrations, "Integrations");
}

<partial name="_StatusMessage"/>

@if (!ViewContext.ModelState.IsValid)
{
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-8">
        <partial name="Integrations/Shopify"/>
        <partial name="Integrations/Webhooks"/>
        <h4 class="mb-3 mt-5">
            Other Integrations
        </h4>
        <p>
            Take a look at documentation for the list of other integrations we support and the directions on how to enable them:
            <ul>
                <li>
                    <a href="https://docs.btcpayserver.org/WooCommerce/" target="_blank">WooCommerce</a>
                </li>
                <li>
                    <a href="https://docs.btcpayserver.org/Drupal/" target="_blank">Drupal</a>
                </li>
                <li>
                    <a href="https://docs.btcpayserver.org/Magento/" target="_blank">Magento</a>
                </li>
                <li>
                    <a href="https://docs.btcpayserver.org/PrestaShop/" target="_blank">PrestaShop</a>
                </li>
            </ul>
        </p>

    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <style>
        .remove-btn {
            font-size: 1.5rem;
            border-radius: 0;
        }

        .remove-btn:hover {
            background-color: #CCCCCC;
        }
    </style>
}
