@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.PayButton, "Please confirm you want to allow outside world to create invoices in your store (via API).");
    ViewBag.MainTitle = "Pay Button";
}


<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div class="form-group">
                <p>
                    To start using Pay Buttons you need to explicitly turn on this feature.
                    Once you do so, any 3rd party entity will be able to create an invoice on your instance store (via API for example).
                </p>
                @Html.Hidden("EnableStore", true)
                <button name="command" type="submit" value="save" class="btn btn-primary">Allow outside world to create invoices via API (POS app is preauthorised and does not need this enabled).</button>
            </div>
        </form>
    </div>
</div>
