@{
    ViewData.SetActivePage(StoreNavPages.PayButton, "Pay Button", Context.GetStoreData().Id);
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-10">
        <p>
            To start using Pay Button, you need to enable this feature explicitly.
            Once you do so, anyone could create an invoice on your store (via API, for example).
        </p>
        <form method="post">
            @Html.Hidden("EnableStore", true)
            <button name="command" type="submit" value="save" class="btn btn-primary">
                Enable
            </button>
        </form>
    </div>
</div>
