@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.PayButton, "Enable access");
    ViewBag.MainTitle = "Confirm enabling of Pay Button";
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div class="form-group">
                <p>
                    To start using Pay Button you need to explicitly enable creation of Invoices by Pay Button.
                    Once you do so, valid POST requests from any source will allow creation of invoices on your instance of BtcPayServer.
                </p>
                <input type="hidden" name="enableStore" value="true" />
                <button name="command" type="submit" value="save" class="btn btn-primary">Enable Pay Button</button>
            </div>
        </form>
    </div>
</div>
