@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.PayButton, "Please confirm you want to allow anyone to create invoices in your store");
    ViewBag.MainTitle = "Pay Button";
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div class="form-group">
                <p>
                    To start using Pay Buttons you need to explicitly turn on this feature.
                    Once you do so, any source will be able to create an invoice on your instance store.
                </p>
                @Html.Hidden("EnableStore", true)
                <button name="command" type="submit" value="save" class="btn btn-primary">Allow anyone to create invoices</button>
            </div>
        </form>
    </div>
</div>
