@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.PayButton, "Pay Button", Context.GetStoreData().StoreName);
}

<div class="row">
    <div class="col-md-10">
        <h4 class="mb-3">@ViewData["PageTitle"]</h4>
        <p>
            To start using Pay Button, you need to enable this feature explicitly.
            Once you do so, anyone could create an invoice on your store (via API, for example).
        </p>
        <form method="post">
            @Html.Hidden("EnableStore", true)
            <button name="command" type="submit" value="save" class="btn btn-primary">
                Enable
            </button>
        </form>
    </div>
</div>
