@model SetupWalletViewModel
@{
    Layout = "_LayoutWalletSetup";
    ViewData["Title"] = $"Setup {Model.CryptoCode} Wallet";
}

<header class="text-center">
    <h1>Let's get started</h1>
    <h2 class="lead text-secondary">Select an option to get started</h2>
</header>
<br>

<div class="mt-5">
    <h3 class="my-4">I have a wallet</h3>
    <div class="list-group">
        <a asp-controller="Stores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" class="list-group-item list-group-item-action p-5">
            <h4>Connect an existing wallet</h4>
            <p class="mb-0">Connect, import, or scan an existing hardware or software wallet</p>
        </a>
    </div>
</div>

<br>
<div class="mt-5">
    <h3 class="my-4">I don't have a wallet</h3>
    <div class="list-group">
        <a asp-controller="Stores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" class="list-group-item list-group-item-action p-5">
            <h4>Create a new wallet</h4>
            <p class="mb-0">Create a brand-new wallet to use</p>
        </a>
    </div>
</div>
