@model EditWebhookViewModel
@using  BTCPayServer.Client.Models;
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.Webhooks, "Test Webhook", Context.GetStoreData().StoreName);
}

<div class="row">
    <div class="col-lg-8">
        <form method="post">
            <h4 class="mb-3">@ViewData["PageTitle"]</h4>

            <ul class="list-group">
                @foreach (var evt in new[]
                {
                    ("Test InvoiceCreated event", WebhookEventType.InvoiceCreated),
                    ("Test InvoiceReceivedPayment event", WebhookEventType.InvoiceReceivedPayment),
                    ("Test InvoiceProcessing event", WebhookEventType.InvoiceProcessing),
                    ("Test InvoiceExpired event", WebhookEventType.InvoiceExpired),
                    ("Test InvoiceSettled event", WebhookEventType.InvoiceSettled),
                    ("Test InvoiceInvalid event", WebhookEventType.InvoiceInvalid)
                })
                {
                    <li class="list-group-item">
                        <button type="submit" name="Type" class="btn btn-primary" value="@evt.Item2">@evt.Item1</button>
                    </li>
                }
            </ul>
        </form>
    </div>
</div>
