@model BTCPayServer.Components.MainNav.MainNavViewModel

<li permission="@Policies.CanModifyServerSettings">
    <a
        id="menu-item-@nameof(MonetizationPlugin)"
        class="dropdown-item@(ViewData["ActivePage"]?.ToString() == nameof(MonetizationPlugin) ? " active" : "")"
        asp-area="@MonetizationPlugin.Area"
        asp-controller="UIServerMonetization"
        asp-action="Monetization"
        text-translate="true">Monetization</a>
</li>
