@model LightningWalletServices
@{
    ViewData.SetActivePage(ServerNavPages.Services, "BTCPay Server Configurator");
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <p>
                <span>This page exposes information to use the configured BTCPay Server Configurator to modify this setup.</span>
            </p>
        </div>
       
        <a href="@Model.ServiceLink" target="_blank" class="form-group" rel="noreferrer noopener">
            <label asp-for="ServiceLink" class="form-label">Service</label>
            <input asp-for="ServiceLink" class="form-control" readonly />
        </a>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
