@model LightningWalletServices
@{
    ViewData.SetLayoutModel(new(nameof(ServerNavPages.Services), StringLocalizer["BTCPay Server Configurator"]));
}


<div class="sticky-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Services" text-translate="true">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
        <h2>@ViewData["Title"]</h2>
    </nav>
</div>
<partial name="_StatusMessage" />


@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All"></div>
}

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <p text-translate="true">This page exposes information to use the configured BTCPay Server Configurator to modify this setup.</p>
        </div>

        <a href="@Model.ServiceLink" target="_blank" class="form-group" rel="noreferrer noopener">
            <label asp-for="ServiceLink" class="form-label" text-translate="true">Service</label>
            <input asp-for="ServiceLink" class="form-control" readonly />
        </a>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
