@using BTCPayServer.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Controllers.RegisterFromAdminViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Users, "Create account");
    var canSendEmail = ViewData["CanSendEmail"] is true;
}

<form method="post" asp-action="CreateUser">
    <div class="sticky-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="ListUsers">Users</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
            <h2 text-translate="true">@ViewData["Title"]</h2>
        </nav>
		<button id="page-primary" type="submit" class="btn btn-primary" name="command" value="Save">Create Account</button>
    </div>
    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xl-6 col-xxl-constrain">
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="ModelOnly"></div>
            }
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" required="required" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @if (ViewData["AllowIsAdmin"] is true)
            {
                <div class="form-group form-check">
                    <input asp-for="IsAdmin" type="checkbox" class="form-check-input"/>
                    <label asp-for="IsAdmin" class="form-check-label"></label>
                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                </div>
            }
            @if (ViewData["AllowRequestEmailConfirmation"] is true)
            {
                <div class="form-group form-check">
                    <input asp-for="EmailConfirmed" type="checkbox" class="form-check-input"/>
                    <label asp-for="EmailConfirmed" class="form-check-label"></label>
                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                </div>
            }
            <div class="d-flex my-3">
                <input asp-for="SendInvitationEmail" type="checkbox" class="btcpay-toggle me-3" disabled="@(canSendEmail ? null : "disabled")" />
                <div>
                    <label asp-for="SendInvitationEmail" class="form-check-label"></label>
                    <span asp-validation-for="SendInvitationEmail" class="text-danger"></span>
                    @if (!canSendEmail)
                    {
                        <div class="text-secondary">Your email server has not been configured. <a asp-controller="UIServer" asp-action="Emails">Please configure it first.</a></div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
