@using BTCPayServer.Abstractions.Models
@model EditDictionaryViewModel
@{
	ViewData.SetActivePage(ServerNavPages.Translations);
	ViewData["Title"] = "Edit Dictionary";
}

<form method="post" class="d-flex flex-column">
	<div class="sticky-header">
		<h2>@ViewData["Title"]</h2>
		<button id="SaveButton" type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
	</div>
	<div class="row">
		<div class="col-xl-8 col-xxl-constrain d-flex flex-column">
			<div class="form-group">
				<label asp-for="Translations" class="form-label"></label>
				<textarea asp-for="Translations" class="form-control" rows="@Model.Lines" cols="40"></textarea>
				<span asp-validation-for="Translations" class="text-danger"></span>
			</div>
		</div>
	</div>
</form>
