@model BTCPayServer.Storage.Services.Providers.GoogleCloudStorage.Configuration.GoogleCloudStorageConfiguration
@{
    ViewData.SetActivePage(ServerNavPages.Files, "Google Cloud Storage");
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-xl-10 col-xxl-constrain">
        <form method="post">
            <div class="form-group">
                <label asp-for="ContainerName" class="form-label">Container Name</label>
                <input asp-for="ContainerName" class="form-control" />
                <span asp-validation-for="ContainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JsonCredentials" class="form-label">JSON Credentials</label>
                <input asp-for="JsonCredentials" class="form-control" />
                <span asp-validation-for="JsonCredentials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bucket" class="form-label"></label>
                <input asp-for="Bucket" class="form-control" />
                <span asp-validation-for="Bucket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
            <a asp-action="Storage" asp-route-forceChoice="true" class="ms-2">Change Storage provider</a>
        </form>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
