@model BTCPayServer.Storage.Services.Providers.FileSystemStorage.Configuration.FileSystemStorageConfiguration
@{
    ViewData.SetLayoutModel(new LayoutModel(nameof(ServerNavPages.Files), StringLocalizer["Local Filesystem Storage"])
        .SetCategory(WellKnownCategories.Server));
    ViewData.SetBreadcrumbs([
        new(StringLocalizer["Files"], Action: nameof(BTCPayServer.Controllers.UIServerController.Files)),
        new(StringLocalizer["Storage Provider"], Action: nameof(BTCPayServer.Controllers.UIServerController.Storage)),
        new(StringLocalizer["Provider"], Active: true)
    ]);
}

<div class="sticky-header">
    <vc:title-header />
</div>
<partial name="_StatusMessage" />

<p text-translate="true">Any uploaded files are being saved on the same machine that hosts BTCPay; please pay attention to your storage space.</p>
<div class="row">
    <div class="col-xl-10 col-xxl-constrain">
        <a asp-action="Storage" asp-route-forceChoice="true" text-translate="true">Change Storage provider</a>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
