@model EmailsViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Emails, "Emails");
}

<h3 class="mb-4">Email Server</h3>
<partial name="EmailsBody" model="Model" />

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
