@using BTCPayServer.Client
@model ListStoresViewModel
@{
    ViewData.SetActivePage(ServerNavPages.General, "General");
    var controller = ViewContext.RouteData.Values["controller"].ToString().TrimEnd("Controller", StringComparison.InvariantCultureIgnoreCase);
}

<div class="row">
    <div class="col-xl-10 col-xxl-constrain">
        <form method="post" class="d-flex flex-column">
            <div class="form-group mb-5">
                <h4 class="mb-3">Store Settings</h4>

                @if (Model.Stores.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Stores
                                    </th>
                                    <th class="actions-col" permission=@Policies.CanModifyServerSettings>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var store in Model.Stores)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-wrap align-items-center gap-2">
                                                <span>@store.StoreName</span>
                                            </div>
                                        </td>
                                        <td class="actions-col" permission=@Policies.CanModifyServerSettings>
                                            <div class="d-inline-flex align-items-center gap-3">
                                                <a asp-action="EditStore" asp-route-storeId="@store.StoreId" asp-controller="UIServer">Edit</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>No Stores found</p>
                }
            </div>

        </form>
    </div>
</div>
