@model UsersViewModel.UserViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Users, Model.Email);
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group form-check mb-4">
                <input asp-for="IsAdmin" type="checkbox" class="form-check-input" />
                <label asp-for="IsAdmin" class="form-check-label">Is admin</label>
            </div>
            <button name="command" type="submit" class="btn btn-primary" value="Save">Save</button>
        </form>
    </div>
</div>
