@model LoginWithRecoveryCodeViewModel
@{
    Layout = "_LayoutSignedOut";
    ViewData["Title"] = "Recovery code verification";
}

<p text-translate="true">You have requested to log in with a recovery code. This login will not be remembered until you provide an authenticator app code at login or disable 2FA and log in again.</p>
<form method="post">
    <div class="form-group">
        <label asp-for="RecoveryCode" class="form-label"></label>
        <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
        <span asp-validation-for="RecoveryCode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" text-translate="true">Log in</button>
</form>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
