/* General and site-wide Bootstrap modifications */
html {
    position: relative;
    min-height: 100%;
    font-size: var(--btcpay-font-size-base);
}

.logo {
    height: 45px;
}

.logo-brand-text {
    fill: currentColor;
}

.hide-when-js,
.input-group-clear {
    display: none;
}

.wraptextAuto {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .wraptextAuto {
        max-width: 600px;
    }
}

.smMaxWidth {
    max-width: 150px;
}

@media (min-width: 768px) {
    .smMaxWidth {
        max-width: 300px;
    }
}

a {
    transition-duration: 0.2s;
    transition-property: background, color;
}

ol {
   padding-left: 1.125em;
}

ul {
    padding-left: 1em;
}

ul li {
    padding-top: .2em;
    padding-bottom: .2em;
}

.navbar .onion {
    margin-right: auto;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: inherit;
}

.navbar-toggler {
    color: inherit;
    border-color: inherit;
    opacity: .5;
}

/* Admin Sidebar Navigation */
a.nav-link {
    color: var(--btcpay-nav-color-link, var(--btcpay-color-neutral-600));
    background: var(--btcpay-bg-nav-link, transparent);
}

a.nav-link:focus,
a.nav-link:hover {
    color: var(--btcpay-nav-color-link-accent, var(--btcpay-color-neutral-700));
    background: var(--btcpay-bg-nav-link-hover, transparent);
}

.col-md-3 .nav-pills {
    margin-left: -1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--btcpay-nav-color-link-active, var(--btcpay-color-neutral-900));
    background: var(--btcpay-bg-nav-link-active, var(--btcpay-color-primary-backdrop));
    font-weight: 500;
    border-left: 5px solid var(--btcpay-color-primary);
}

/* Homepage */
#services img {
    margin-bottom: 1rem;
}

.social-row {
    margin: 2rem 0;
}

.social-row > div {
    margin-bottom: 3rem;
}

.social-row img {
    height: 50px;
}

.social-row span {
    display: block;
    margin-top: 1rem;
}

/* Footer */
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    overflow: hidden;
    padding: .5em 0;
    color: var(--btcpay-footer-color, var(--btcpay-color-neutral-100));
    background: var(--btcpay-footer-bg, var(--btcpay-bg-dark));
}

/* Prevent layout from breaking on hyperlinks with very long URLs as the visible text */
.invoice-details a {
    word-break: break-word;
}

#qrCode {
    padding: 10px;
    background: white;
    display: inline-block;
}

pre {
    color: var(--btcpay-preformatted-text-color);
}

.feedback-icon-loading {
    color: orange;
}
.feedback-icon-success {
    color: green;
}
.feedback-icon-failed {
    color: red;
}
.pin-button {
    height: 135px;
    margin-top: 20px;
    background-color: white;
    border: solid lightgray 4px;
    cursor: pointer;
}

.pin-button:hover {
    background-color: lightgray;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.cursor-pointer{
    cursor: pointer;
}

.list-group-item a {
  color: inherit;
}

.alerts-badge {
  position: absolute;
  margin-top: -36px;
  margin-left: 16px;
}

.alert hr {
    display: block;
    width: unset;
    height: 1px;
    background: none;
}

.account-form {
    max-width: 36em;
}

.content-wrapper {
    padding: 50px 0;
}

@media screen and (min-width: 768px) {
    .content-wrapper {
        padding: 75px 0;
    }
}

.btn-outline-onion {
    background-image: none;
    background-color: transparent;
    border: 0;
}

.btn-outline-onion:hover {
    color: #fff;
    background-color: #7D4698;
}

.btn-outline-onion:focus,
.btn-outline-onion.focus {
    color: #fff;
    background-color: #7D4698;
    box-shadow: 0 0 0 0.2rem #e6d5ee;
}

.btn-outline-onion:hover img,
.btn-outline-onion:focus img,
.btn-outline-onion.focus img {
    filter: contrast(0) brightness(200%);
}

[class*="field-validation"]:not(:empty) {
    display: inline-block;
    margin-top: .5rem;
}
