/* General and site-wide Bootstrap modifications */
.logo {
    height: 34px;
}

.logo-brand-text {
    fill: currentColor;
}

.hide-when-js,
.input-group-clear {
    display: none;
}

.wraptextAuto {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .wraptextAuto {
        max-width: 600px;
    }
}

.smMaxWidth {
    max-width: 150px;
}

@media (min-width: 768px) {
    .smMaxWidth {
        max-width: 300px;
    }
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: inherit;
}

.navbar-toggler {
    color: inherit;
    border-color: inherit;
    opacity: .5;
}

.dropdown-toggle-split,
.dropdown-toggle-split:hover {
    border-left: 1px solid var(--btcpay-white);
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--btcpay-neutral-600);
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDcgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuMzg3MzkgNC4zMTYyOFY1LjYyMUwzLjczNDM5IDQuOTY5MjZMNC4zODczOSA0LjMxNzUxVjQuMzE2MjhaTTAuMDAxMjMxMzkgMS4zMDM0OUwxLjMwNTk5IDBMNi4zMTU1NyA1TDEuMzA1OTkgMTBMMCA4LjY5NjUxTDMuNzAxMTMgNUwwIDEuMzAzNDlIMC4wMDEyMzEzOVoiIGZpbGw9IiM4RDhEOEYiLz48L3N2Zz4K");
}

/* Admin Sidebar Navigation */
.col-md-3 .nav-pills {
    margin-left: -1rem;
}

#sideNav .nav-link {
    margin: .3rem 0;
    border-left: 2px solid transparent;
    padding: .2rem 1rem;
}

#sideNav .nav-link.active,
#sideNav .show > .nav-link {
    color: var(--btcpay-nav-link-active);
    font-weight: 700;
    border-left-color: var(--btcpay-nav-border-active);
    background: var(--btcpay-nav-bg-active);
}

/* Homepage */
#services img {
    margin-bottom: 1rem;
}

.social-row {
    margin: 2rem 0;
}

.social-row > div {
    margin-bottom: 3rem;
}

.social-row img {
    height: 50px;
}

.social-row span {
    display: block;
    margin-top: 1rem;
}

/* Footer */
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    overflow: hidden;
    padding: .5em 0;
    color: var(--btcpay-footer-text, var(--btcpay-neutral-100));
    background: var(--btcpay-footer-bg, var(--btcpay-bg-dark));
}

/* Prevent layout from breaking on hyperlinks with very long URLs as the visible text */
.invoice-details a {
    word-break: break-word;
}

#qrCode {
    padding: 10px;
    background: white;
    display: inline-block;
}

.feedback-icon-loading {
    color: orange;
}
.feedback-icon-success {
    color: green;
}
.feedback-icon-failed {
    color: red;
}
.pin-button {
    height: 135px;
    margin-top: 20px;
    background-color: white;
    border: solid lightgray 4px;
    cursor: pointer;
}

.pin-button:hover {
    background-color: lightgray;
}

/* Fix for small table showing unnecessary scrollbars */
.table-responsive .table-sm {
    width: 100% !important;
}

[v-cloak] { display:none }
[v-cloak-loading] > * { display:none }
[v-cloak-loading]::before { content: "loading…" }

.list-group-item a:not(.btn) {
  color: inherit;
}

.account-form {
    max-width: 36em;
}

.content-wrapper {
    padding: 50px 0;
}

@media screen and (min-width: 768px) {
    .content-wrapper {
        padding: 75px 0;
    }
}

@media (min-width: 992px) {
    .notification-badge {
        position: relative;
        top: -10px;
        left: -10px;
    }
}

[class*="field-validation"]:not(:empty) {
    display: inline-block;
    margin-top: .5rem;
}

.w-100px { width: 100px; }
.w-125px { width: 125px; }
.w-150px { width: 150px; }
.w-175px { width: 175px; }
.w-200px { width: 200px; }

/* Print */
@media print {
    .table td,
    .table th {
        background: transparent;
    }
    .jumbotron {
        padding: 1rem 0 !important;
    }
    .text-print-default {
        color: inherit !important;
    }
    a {
        text-decoration: none !important;
    }
    .toasted-container {
        display: none !important;
    }
}

/* Richtext editor */
.note-editor .table.table-sm {
    border-collapse: collapse !important;
}

.note-editor .table.table-sm th,
.note-editor .table.table-sm td {
    border: 1px dotted var(--btcpay-neutral-400);
}

svg.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

svg.icon-note {
  color: var(--btcpay-neutral-500);
}

/* Custom notification dropdown styling */
.notification-dropdown {
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    padding: 0;
}

@media (min-width: 992px) {
    .notification-dropdown {
        width: 420px;
        top: 64px;
        right: -32px;
    }
}

.notification:hover {
    background-color: var(--btcpay-body-bg);
}
