#template-editor-app .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

#template-editor-app .card-deck .card{
    max-width: 480px;
}

#template-editor-app .card-img-top {
    max-height: 210px;
    object-fit: scale-down;
    margin-bottom: auto;
}
