@namespace BTCPayServer.Client
@model BTCPayServer.Controllers.ManageController.ApiKeysViewModel
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.APIKeys, "Manage your API Keys");
}

<partial name="_StatusMessage"/>

<table class="table table-lg">
    <thead>
    <tr>
        <th>Label</th>
        <th>Key</th>
        <th>Permissions</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var keyData in Model.ApiKeyDatas)
    {
        <tr>
            <td>@keyData.Label</td>
            <td><code>@keyData.Id</code></td>
            <td>
                @{
                    var permissions = keyData.GetBlob().Permissions;
                }
                @if (!permissions.Any())
                {
                    <span class="text-warning">No permissions</span>
                }
                else
                {
                    <ul>
                        @foreach (var permission in Permission.ToPermissions(permissions).Select(c => c.ToString()).Distinct().ToArray())
                        {
                            <li>@permission</li>
                        }
                    </ul>
                }
            </td>
            <td class="text-right">
                <a asp-action="RemoveAPIKey" asp-route-id="@keyData.Id" asp-controller="Manage">Remove</a>
            </td>
        </tr>
    }
    @if (!Model.ApiKeyDatas.Any())
    {
        <tr>
            <td colspan="4" class="text-center h5 py-2">
                No API keys
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="AddApiKey" id="AddApiKey">
    <span class="fa fa-plus"></span>
    Generate new key
</a>
