@model PairingModel
@{
	ViewData["Title"] = "Pairing permission";
}


<h4>Pairing permission:</h4>
<table class="table">
	<tr>
		<th>Label</th>
		<td>@Model.Label</td>
	</tr>
	<tr>
		<th>Facade</th>
		<td>@Model.Facade</td>
	</tr>
	<tr>
		<th>SIN</th>
		<td>@Model.SIN</td>
	</tr>
</table>

<form asp-action="Pairs" method="post">
	<div>
		<input type="hidden" name="pairingCode" value="@Model.Id" />
		<button type="submit" class="btn btn-info" title="Approve this pairing demand">Approve</button>
	</div>
</form>