@{
    ViewData.SetActivePageAndTitle(ManageNavPages.TwoFactorAuthentication, "Disable two-factor authentication (2FA)");
}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading mb-3">
        <span class="fa fa-warning"></span>
        This action only disables 2FA.
    </h4>
    <p class="mb-0">
        Disabling 2FA does not change the keys used in authenticator apps.
        If you wish to change the key used in an authenticator app you should
        <a asp-action="ResetAuthenticatorWarning" class="alert-link">
            reset your authenticator keys.
        </a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
