@model IndexViewModel
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.Index, "Profile");
}

<form method="post">
    @if (!ViewContext.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
    }

    <div class="form-group row">
        <div class="col-md-6 mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3 d-flex align-items-end">
            @if (Model.IsEmailConfirmed)
            {
                <span class="badge bg-success p-2 my-1">
                    <span class="fa fa-check"></span>
                    confirmed
                </span>
            }
            else
            {
                <button asp-action="SendVerificationEmail" class="btn btn-secondary">Send verification email</button>
            }
        </div>
    </div>
    <button type="submit" id="save" class="btn btn-primary">Save</button>
    <h4 class="mt-5 mb-3">Other actions</h4>
    <button id="danger-zone-expander" class="btn btn-link text-secondary mb-3 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#danger-zone">
        See more actions
    </button>
    <div id="danger-zone" class="collapse">
        <a id="delete-user" class="btn btn-outline-danger mb-5" data-confirm-input="DELETE" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-action="DeleteUserPost" data-description="This action will also delete all stores, invoices, apps and data associated with the user.">Delete your user.</a>
    </div>
</form>

<partial name="_Confirm"
         model="@(new ConfirmModel("Delete user", "The user will be permanently deleted. This action will also delete all stores, invoices, apps and data associated with your user.", "Delete", actionUrl:"DeleteUserPost"))"/>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
}
