@model string
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.LoginCodes, "Login codes");
}

<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-body">
                <h3 class="card-title text-center">Current login code</h3>
                <div class="qr-container my-3">
                    <vc:qr-code data="@Model"> </vc:qr-code>
                </div>
                <div class="input-group  d-flex" data-clipboard="@Model">
                    <input type="text" class="form-control" style="cursor: copy" readonly="readonly" value="@Model"/>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" data-clipboard-confirm>Copy</button>
                    </div>
                </div>

                <p class="mt-4">
                    You may use these codes as a replacement to multi factor authentication for certain scenarios:
                    <ul>
                        <li>
                            Logging in on a device when FIDO2 has been configured for specific platforms only
                        </li>
                        <li>
                            Logging in on another device while being next to another authenticated device
                        </li>
                    </ul>
                    A login code is generated upon viewing this page and becomes invalid after a single use or after 2 minutes without usage.
                </p>
            </div>
        </div>
    </div>
</div>

@section PageFootContent
{
    <link href="~/main/qrcode.css" rel="stylesheet" asp-append-version="true"/>
    <script src="~/js/copy-to-clipboard.js"></script>
    <script>
        window.onload = function (){        
            document.querySelectorAll('[data-clipboard]').forEach(value => value.addEventListener('click', window.copyToClipboard));
        }
        </script>
}
