@model string

<h4 class="mb-3">Quick Login </h4>
<div class="list-group mb-3">
    <div class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-3"
         data-bs-toggle="collapse" data-bs-target="#login-code-section">
        <div>
            <h5>Show login code</h5>
            <p class="mb-0 me-3">Quick login option for mobile devices when you are next to an authenticated machine.</p>
        </div>
        <button class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#login-code-section">Show</button>
    </div>
    <div class="list-group-item collapse card" id="login-code-section">
            <div class="qr-container my-3">
                <vc:qr-code data="@Model"> </vc:qr-code>
            </div>
            <div class="input-group  d-flex" data-clipboard="@Model">
                <input type="text" class="form-control" style="cursor: copy" readonly="readonly" value="@Model"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-clipboard-confirm>Copy</button>
                </div>
            </div>
            
            <a class="w-100 btn btn-link text-center" asp-action="RegenerateLoginCode">Regenerate code</a>
        </div>

</div>
