@model string
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.LoginCodes, "Login codes");
}
<h2 class="mb-4">@ViewData["Title"]</h2>
<p>Easily log into BTCPay Server on another device using a simple login code from an already authenticated device.</p>
<div class="d-inline-flex flex-column qr-container" style="width:256px">
    <vc:qr-code data="@Model" /> 
    <input type="hidden" value="@Model" id="logincode">
    <a class="btn btn-secondary mt-3" id="regeneratecode" asp-action="LoginCodes">Regenerate code</a>
</div>

@section PageFootContent
{
    <link href="~/main/qrcode.css" rel="stylesheet" asp-append-version="true"/>
}
