@model TwoFactorAuthenticationViewModel
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.TwoFactorAuthentication, "Two-factor authentication");
}

@if(Model.Is2faEnabled)
{
    if(Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <h4 class="alert-heading mb-3">
                <span class="fa fa-warning"></span>
                You have no recovery codes left.
            </h4>
            <p class="mb-0">You must <a asp-action="GenerateRecoveryCodes" class="alert-link">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
        </div>
    }
    else if(Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <h4 class="alert-heading mb-3">
                <span class="fa fa-warning"></span>
                You only have 1 recovery code left.
            </h4>
            <p class="mb-0">You can <a asp-action="GenerateRecoveryCodes" class="alert-link">generate a new set of recovery codes</a>.</p>
        </div>
    }
    else if(Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <h4 class="alert-heading mb-3">
                <span class="fa fa-warning"></span>
                You only have @Model.RecoveryCodesLeft recovery codes left.
            </h4>
            <p class="mb-0">You should <a asp-action="GenerateRecoveryCodes" class="alert-link">generate a new set of recovery codes</a>.</p>
        </div>
    }
}

<div class="list-group">
    @if (Model.Is2faEnabled)
    {
        <a asp-action="Disable2faWarning" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-3">
            <div>
                <h5 >Disable 2FA</h5>
                <p class="mb-0 mr-3">Disable two-factor authentication. Re-enabling will not require you to reconfigure your Authenticator app. </p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </a>
        <a asp-action="GenerateRecoveryCodes" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-3">
            <div>
                <h5 >Reset recovery codes</h5>
                <p class="mb-0 mr-3">Regenerate your two-factor recovery codes.</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </a>

        <a asp-action="EnableAuthenticator" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-3">
            <div>
                <h5 >Configure Authenticator app</h5>
                <p class="mb-0 mr-3">Display the key or QR code to configure an authenticator app with your current setup.</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </a>
        <a asp-action="ResetAuthenticatorWarning" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-3">
            <div>
                <h5 >Reset Authenticator app</h5>
                <p class="mb-0 mr-3">Invalidates the current authenticator configuration. Useful if you believe your authenticator settings were compromised.</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </a>
    }
    else
    {
        <a asp-action="EnableAuthenticator" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-3">
            <div>
                <h5 >Enable 2FA</h5>
                <p class="mb-0 mr-3">Enable two-factor authentication using TOTP with apps such as Google Authenticator.</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </a>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
