@model BTCPayServer.U2F.Models.U2FAuthenticationViewModel
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.U2F, "Manage your registered U2F devices");
}

<partial name="_StatusMessage" />
<h4>Registered U2F Devices</h4>
<form asp-action="AddU2FDevice" method="get">
    <table class="table table-lg">
        <thead>
        <tr>
            <th >Name</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var device in Model.Devices)
        {
            <tr>
                <td>@device.Name</td>
                <td class="text-right" >
                        <a asp-action="RemoveU2FDevice" asp-route-id="@device.Id">Remove</a>
               
                </td>
            </tr>
        }
        @if (!Model.Devices.Any())
        {
            <tr>
                <td colspan="2" class="text-center h5 py-2">
                    No registered devices
                </td>
            </tr>
        }
        <tr class="bg-gray">
            <td>
                <input type="text" class="form-control" name="Name" placeholder="New Device Name"/>
            </td>
            <td>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Add New Device</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>
