@model BTCPayServer.U2F.Models.U2FAuthenticationViewModel
@{
    ViewData.SetActivePageAndTitle(ManageNavPages.U2F, "Registered U2F devices");
}

<partial name="_StatusMessage" />

<form asp-action="AddU2FDevice" method="get">
    <table class="table table-lg mb-4">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var device in Model.Devices)
        {
            <tr>
                <td>@device.Name</td>
                <td class="text-right" >
                    <a asp-action="RemoveU2FDevice" asp-route-id="@device.Id">Remove</a>
                </td>
            </tr>
        }
        @if (!Model.Devices.Any())
        {
            <tr>
                <td colspan="2" class="text-center h5 py-2">
                    No registered devices
                </td>
            </tr>
        }

        </tbody>
    </table>
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="Name" placeholder="New Device Name"/>
            <button type="submit" class="btn btn-primary ml-2">
                <span class="fa fa-plus"></span>
                Add New Device
            </button>
        </div>
    </div>
</form>
