<div class="container p-0 l-pos-wrapper my-0 mx-auto">
    <div class="py-5 px-3">
        <form method="post" asp-action="ViewPointOfSale" asp-route-appId="@Model.AppId" asp-antiforgery="false">
            <div class="input-group">
                <span class="input-group-text">@Model.CurrencySymbol</span>
                <input class="form-control" type="number" step="@Model.Step" name="amount" placeholder="@StringLocalizer["Amount"]">
                <button class="btn btn-primary" type="submit" text-translate="true">Pay</button>
            </div>
        </form>
    </div>
</div>
