html {
    position: relative;
    min-height: 100%;
}

.siteFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    padding-top: 2px;
    font-size: 8px;
    width: 100%;
    overflow: hidden;
}
