@inject BTCPayServer.Security.ContentSecurityPolicies Csp
@model BTCPayServer.Plugins.PointOfSale.Models.ViewPointOfSaleViewModel
@{
    Layout = "PointOfSale/Public/_Layout";
	Csp.UnsafeEval();
}
@section PageHeadContent {
    <link href="~/pos/keypad.css" asp-append-version="true" rel="stylesheet" />
}
@section PageFootContent {
    <script>var srvModel = @Safe.Json(Model);</script>
    <script src="~/vendor/vuejs/vue.min.js" asp-append-version="true"></script>
    <script src="~/pos/common.js" asp-append-version="true"></script>
    <script src="~/pos/keypad.js" asp-append-version="true"></script>
}
<div id="PosKeypad" class="public-page-wrap">
    <partial name="_StatusMessage" />
    <partial name="_StoreHeader" model="(string.IsNullOrEmpty(Model.Title) ? Model.StoreName : Model.Title, Model.StoreBranding)" />
    @if (Context.Request.Query.ContainsKey("simple"))
    {
        <partial name="PointOfSale/Public/MinimalLight" model="Model" />
    }
    else
    {
        <noscript>
            <partial name="PointOfSale/Public/MinimalLight" model="Model" />
        </noscript>
        <partial name="PointOfSale/Public/VueLight" model="Model" />
    }
    <footer class="store-footer">
        <a class="store-powered-by" href="https://btcpayserver.org" target="_blank" rel="noreferrer noopener">
            <span text-translate="true">Powered by</span> <partial name="_StoreFooterLogo" />
        </a>
    </footer>
</div>
