@{
    ViewData["ErrorTitle"] = "404 - Page not found";
}

<p class="lead-login">
    This is like searching for a person more beautiful than <a href="https://twitter.com/NicolasDorier" target="_blank">Nicolas Dorier</a>.
    <br /><br />
    <a href="https://twitter.com/NicolasDorier" target="_blank">
        <img src="~/img/errorpages/404_nicolas.jpg" alt="Nicolas Dorier beauty" title="Slowly stroke the image" />
    </a>
    <br /><br />
    It doesn't exist.
    <br /><br />
    You can always try <a href="/">navigating back to home</a>.
</p>
