@{
    ViewData["Title"] = "404 - Page not found";
}

<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
        </a>

        <h1 class="h2 mb-3">@ViewData["Title"]</h1>
    </div>
</div>

<p class="lead text-center">
    This is like searching for a person more beautiful than <a href="https://twitter.com/NicolasDorier" target="_blank">Nicolas Dorier</a>.
    <br /><br />
    <a href="https://twitter.com/NicolasDorier" target="_blank">
        <img src="~/img/errorpages/404_nicolas.jpg" alt="Nicolas Dorier beauty" title="Slowly stroke the image" asp-append-version="true" />
    </a>
    <br /><br />
    It doesn't exist.
    <br /><br />
    You can always try <a href="/">navigating back to home</a>.
</p>

<div class="row justify-content-center mt-5">
    <div class="col">
        <partial name="_BTCPaySupporters"/>
    </div>
</div>
