@{
    Layout = "_LayoutError";
    ViewData["Title"] = "417 - Expectation Failed";
}

You've unfortunately failed expectations of manager <a href="https://twitter.com/pavlenex" target="_blank" rel="noreferrer noopener">Pavlenex</a>. Poor you.
<br /><br />
<a href="https://twitter.com/pavlenex" target="_blank" rel="noreferrer noopener">
    <img src="~/img/errorpages/417_pavlenex.png" alt="Pavlenex avatar" title="Pavlenex fighting the system, while building better systems" asp-append-version="true" />
</a>
<br /><br />
Check your request `Except` header and do better.
