@{
    Layout = "_LayoutError";
    ViewData["Title"] = "502 - Bad Gateway";
}

The life is all about finding the right Gateways.<br />
Unfortunately, this time you've found a bad one.
<br /><br />
<a href="https://twitter.com/milessuter" target="_blank" rel="noreferrer noopener">
    <img src="~/img/errorpages/502_milessuter.jpg" alt="Miles obfuscated profile pic" title="But full name is not obfuscated" asp-append-version="true" />
</a>
<br /><br />
Maybe <a href="https://twitter.com/milessuter" rel="noreferrer noopener">Gateway Tzar Miles</a> can help you out?
