@using System.Net
@model int?
@{
    ViewData["Headline"] = "Generic Error occurred";
    if (Model.HasValue)
    {
        var httpCode = (HttpStatusCode)Model.Value;
        ViewData["Headline"] = $"{(int)httpCode} - {httpCode.ToString()}";
    }
}

<p class="lead-login text-center">
    Generic error occurred, HTTP Code: @Model
    <br /><br />
    Consult server log for more details.
    <br /><br />
    <a href="/">Navigate back to home</a>.
    <br /><br />
</p>
