.vexmenu {
    margin: 0;
    list-style: none;
    padding: 0;
}

.vexmenuitem {
    display: block;
    float: none;
    line-height: inherit;
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

    .vexmenuitem a {
        display: block;
    }

        .vexmenuitem a span {
            float: right;
            color: gray;
        }

        .vexmenuitem a img {
            height: 24px;
        }

    .vexmenuitem:hover {
        background-color: #eee;
    }

    .vexmenuitem:last-child {
        border-bottom: none;
    }

#vexPopupDialog {
    display: none;
}

.paywithRowRight {
    margin-top: -1px;
}

.cursorPointer {
    cursor: pointer;
}

.payment__currencies {
    font-size: 13px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 6px;
}

.payment__currencies_noborder {
    font-size: 13px;
    border-radius: 5px;
    padding: 6px;
}

.payment__currencies img , .payment__currencies_noborder img{
    margin-top: -3px;
    height: 24px;
}

    .payment__currencies:hover .clickable_underline {
        border-bottom: 1px dotted black;
    }

    .payment__currencies:hover {
        border: 1px solid #5c6373;
        background: #f8f8f8;
    }

.clickable_indicator {
    color: #5c6373;
}
