@model CheckoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <META NAME="robots" CONTENT="noindex,nofollow">
    <title>@Model.HtmlTitle</title>
</head>
<body>
    <h1>Pay with @Model.StoreName</h1>
    @if (Model.Status == "new")
    {
		<h1 class="text-danger" text-translate="true">This payment method requires javascript.</h1>
    }
    else if (Model.Status == "paid" || Model.Status == "complete" || Model.Status == "confirmed")
    {
        <div>
            <p text-translate="true">This invoice has been paid</p>
        </div>
    }
    else if (Model.Status == "expired" || Model.Status == "invalid")
    {
        <div>
            <p text-translate="true">This invoice has expired</p>
        </div>
    }
    else
    {
        <div>
            <p text-translate="true">Non-supported state of invoice</p>
        </div>
    }

    <hr />
    <p>
        <a asp-action="Checkout" asp-route-invoiceId="@Model.InvoiceId" text-translate="true">Go back to Javascript enabled invoice</a>
    </p>
    @await Component.InvokeAsync("UiExtensionPoint", new { location = "checkout-noscript-end", model = Model })
</body>
</html>
