@model BTCPayServer.Components.AppSales.AppSalesViewModel

<div class="widget app-sales">
    <header class="mb-3">
        <h3>@Model.App.Name Sales</h3>
        <a asp-controller="UIApps" asp-action="UpdatePointOfSale" asp-route-appId="@Model.App.Id">View All</a>
    </header>
    <p>177 Sales</p>
    <div id="AppSales-@Model.App.Id" class="ct-chart ct-major-octave"></div>
    <script>
        (function () {
            new Chartist.Bar('#AppSales-@Model.App.Id', {
                labels: ['Jun 12', 'Jun 13', 'Jun 14', 'Jun 15', 'Jun 16', 'Jun 17', 'Jun 18', 'Jun 19'],
                series: [[
                    12,
                    23,
                    21,
                    38,
                    41,
                    39,
                    45,
                    61
                ]]
            }, {
                low: 0,
            });
        })();
    </script>
</div>
