@using BTCPayServer.Plugins.CoinSwitch
@{
    var settings = Context.GetStoreData().GetStoreBlob().GetCoinSwitchSettings();
}
<li class="list-group-item bg-tile ">
    <div class="d-flex align-items-center">
        <span class="d-flex flex-wrap flex-fill flex-column flex-sm-row">
            <strong class="me-3">
                CoinSwitch
            </strong>
            <span title="" class="d-flex me-3">
                <span class="text-secondary">Accept payments in altcoins that are not supported by BTCPay Server.</span>
            </span>
        </span>
        <span class="d-flex align-items-center fw-semibold">
            @if (settings?.IsConfigured() is true && settings?.Enabled is true)
            {
                <span class="d-flex align-items-center text-success">
                    <span class="me-2 btcpay-status btcpay-status--enabled"></span>
                    Enabled
                </span>
                <span class="text-light ms-3 me-2">|</span>
                <a lass="btn btn-link px-1 py-1 fw-semibold" asp-controller="CoinSwitch" asp-action="UpdateCoinSwitchSettings" asp-route-storeId="@Context.GetRouteValue("storeId")">
                    Modify
                </a>
            }
            else
            {
                <span class="d-flex align-items-center text-danger">
                    <span class="me-2 btcpay-status btcpay-status--disabled"></span>
                    Disabled
                </span>
                <a class="btn btn-primary btn-sm ms-4 px-3 py-1 fw-semibold" asp-controller="CoinSwitch" asp-action="UpdateCoinSwitchSettings" asp-route-storeId="@Context.GetRouteValue("storeId")">
                    Setup
                </a>
            }
        </span>
    </div>
</li>
