#Checkout {
    --wrap-max-width: 400px;
}
body {
    overflow-x: hidden;
}
main {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--btcpay-bg-tile);
}
nav {
    position: absolute;
    top: var(--btcpay-space-m);
    left: var(--btcpay-space-m);
    right: var(--btcpay-space-m);
}
nav button {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    color: var(--btcpay-body-text-muted);
}
nav button:hover {
    color: var(--btcpay-body-text-hover);
}
nav button#close {
    right: 0;
}
nav button .icon {
    --navbutton-size: .8rem;
    width: var(--navbutton-size);
    height: var(--navbutton-size);
}
section h4 {
    margin-bottom: var(--btcpay-space-l);
    font-weight: var(--btcpay-font-weight-semibold);
    text-align: center;
}
section h5,
section h6 {
    margin-bottom: 1.5rem;
    font-weight: var(--btcpay-font-weight-semibold);
    text-align: center;
}
section .top {
    flex: 1;
}
section .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--btcpay-space-m);
}
section dl > div {
    display: flex;
    justify-content: space-between;
    gap: var(--btcpay-space-m);
}
section dl > div dt,
section dl > div dd {
    margin: 0;
    padding: var(--btcpay-space-xs) 0;
    font-weight: var(--btcpay-font-weight-normal);
}
section dl > div dt {
    text-align: left;
    white-space: nowrap;
    color: var(--btcpay-body-text-muted);
}
section dl > div dd {
    text-align: right;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 62.5%;
}
.info {
    color: var(--btcpay-neutral-700);
    background-color: var(--btcpay-body-bg);
    border-radius: var(--border-radius);
}
.info .expiryTime {
    color: var(--btcpay-body-text);
}
.info > div {
    padding: var(--btcpay-space-m) var(--btcpay-space-m);
}
.info > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--btcpay-space-xs);
}
.info > div > div + div {
    margin-top: var(--btcpay-space-s);
}
.info .spinner-border {
    width: var(--btcpay-font-size-s);
    height: var(--btcpay-font-size-s);
    color: var(--btcpay-body-text-muted);
    margin-right: var(--btcpay-space-xs);
    animation-duration: 1s;
}
.info .icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--btcpay-info);
}
.payment-details dl {
    margin: 0;
}
.payment-details-button {
    margin: 0 auto;
    padding: var(--btcpay-space-s);
}
#payment .btcpay-pills .btcpay-pill {
    padding: var(--btcpay-space-xs) var(--btcpay-space-m);
}

/* Do not show payments methods selector if there is only one */
#payment .payment-methods-wrapper:not(:has(.btcpay-pills>*:nth-child(2)))
{
    display: none;
}

#form > form,
#result > div {
    display: flex;
    flex-direction: column;
}

#result .top .icn .icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: .5rem auto 1.5rem;
}
#result #sound {
    display: none;
}
#result #confetti {
    position: absolute;
    left: 50%;
    top: 2rem;
    width: 1.5rem;
    height: 1.5rem;
}
#result #settled .top .icn .icon,
#result #processing .top .icn .icon {
    color: var(--btcpay-primary);
}
#result #unpaid .top .icn .icon {
    color: var(--btcpay-body-text-muted);
}
#DefaultLang {
    width: calc(var(--text-width, 110px) + 4rem);
    color: var(--btcpay-body-text-muted);
    background-color: var(--btcpay-body-bg);
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: var(--btcpay-body-font-size);
}
#DefaultLang:hover {
    color: var(--btcpay-body-text-hover);
}

/* Modal adjustments */
.checkout-modal body {
    background: rgba(var(--btcpay-black-rgb), 0.85);
}
.checkout-modal h1,
.checkout-modal footer a:hover {
    color: var(--btcpay-white);
}

/* Plugins */
.payment-box .plugins > .payment {
    margin-top: var(--btcpay-space-l);
}

@media (max-width: 400px) {
    /* Pull it up if there's no store header */
    #Checkout > main.tile:first-child {
        margin-top: calc(var(--wrap-padding-vertical) * -1);
    }
}
