@model ChangePasswordViewModel
@{
    ViewData.SetActivePage(ManageNavPages.ChangePassword, "Change your password");
}
<h3 class="mb-4">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="text-danger"></div>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="OldPassword" class="form-label" data-required></label>
                <input asp-for="OldPassword" class="form-control"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="form-label" data-required></label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label" data-required></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2" id="UpdatePassword">Update Password</button>
        </form>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
