:root {
  --btcpay-brand-light:   #B498FF;
  --btcpay-brand-medium:  #885df8;
  --btcpay-brand-dark:    #321a6e;
  --btcpay-brand-darker:  #19154B;
  --btcpay-brand-darkest: #02000C;

  --btcpay-color-white:    #fff;
  --btcpay-color-black:    #000;

  --btcpay-color-neutral-100: #F3F1FF;
  --btcpay-color-neutral-200: #DCD7FC;
  --btcpay-color-neutral-300: #CDC6F3;
  --btcpay-color-neutral-400: #AEA7D7;
  --btcpay-color-neutral-500: #8a85a8;
  --btcpay-color-neutral-600: #8880ad;
  --btcpay-color-neutral-700: #49308b;
  --btcpay-color-neutral-800: #181334;
  --btcpay-color-neutral-900: #100d20;

  --btcpay-color-primary:          var(--btcpay-brand-medium);
  --btcpay-color-primary-accent:   var(--btcpay-brand-light);
  --btcpay-color-primary-alpha:    rgba(73, 48, 139, .25);
  --btcpay-color-secondary:        var(--btcpay-color-neutral-600);
  --btcpay-color-secondary-accent: var(--btcpay-color-neutral-800);
  --btcpay-color-secondary-alpha:  rgba(130, 138, 145, 0.25);
  --btcpay-color-success:          #60C8CE;
  --btcpay-color-success-accent:   #147073;
  --btcpay-color-success-alpha:    #8EF7FF;
  --btcpay-color-info:             #17a2b8;
  --btcpay-color-info-accent:      #117a8b;
  --btcpay-color-info-alpha:       rgba(58, 176, 195, 0.25);
  --btcpay-color-warning:          #ffc107;
  --btcpay-color-warning-accent:   #d39e00;
  --btcpay-color-warning-alpha:    rgba(222, 170, 12, 0.25);
  --btcpay-color-danger:           #dc3545;
  --btcpay-color-danger-accent:    #bd2130;
  --btcpay-color-danger-alpha:     #EDA1B0;
  --btcpay-color-light:            var(--btcpay-color-neutral-100);
  --btcpay-color-light-accent:     #dae0e5;
  --btcpay-color-light-alpha:      rgba(216, 217, 219, 0.25);
  --btcpay-color-dark:             var(--btcpay-color-neutral-900);
  --btcpay-color-dark-accent:      #060217;
  --btcpay-color-dark-alpha:       rgba(82, 88, 93, 0.25);

  --btcpay-bg-body: var(--btcpay-brand-darkest);
  --btcpay-bg-dark: var(--btcpay-brand-darker);
  --btcpay-bg-tile: var(--btcpay-color-primary-alpha);
  --btcpay-bg-cta:  var(--btcpay-brand-dark);

  --btcpay-body-color: var(--btcpay-color-neutral-100);
  --btcpay-body-color-link: var(--btcpay-color-primary);
  --btcpay-body-color-link-accent: var(--btcpay-color-primary-accent);

  --btcpay-section-heading-text-align: left;

  --btcpay-nav-color-link-accent: var(--btcpay-color-neutral-100);
  --btcpay-nav-color-link-active: var(--btcpay-color-white);

  --btcpay-header-bg: var(--btcpay-brand-darker);
  --btcpay-footer-bg: var(--btcpay-brand-darkest);

  --btcpay-font-size-base: 16px;
  --btcpay-font-family-head: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-base: -apple-system, 'Open Sans', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Bootstrap modifications */
html {
  font-size: var(--btcpay-font-size-base);
}

body {
  background: linear-gradient(var(--btcpay-header-bg), var(--btcpay-footer-bg));
  background-attachment: fixed;
}

.logo,
.head-logo,
.social-logo {
  filter: contrast(0) brightness(200%);
}

.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

#mainNav {
  background: var(--btcpay-header-bg) !important;
}

header.masthead::before,
.service-box img {
  filter: hue-rotate(100deg) opacity(60%) contrast(125%);
}

.table {
  margin: 1.5rem 0 3rem;
}

.table th {
  border-top: 0;
}
