.qrcode {
    max-width: 445px;
}

.qrcode svg {
    display: block;
    width: 100%;
}

main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .125rem 0 1.5rem;
}

main header h2 {
    margin-bottom: 0;
}

main section > .container {
    margin: 0;
    padding: 0;
}

@media (max-width: 1399px) {
    main section > .container {
        max-width: none !important;
    }
}

main section .row .table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

main p {
    max-width: 40em;
}

main svg[role="img"]:not(.icon) {
    width: 1em;
    height: 1em;
}
