@model SearchString
@functions
{
    public static bool IsEmpty(SearchString searchString) =>
        string.IsNullOrWhiteSpace(searchString.TextSearch) &&
        searchString.Filters.All(f => f.Key.Equals("timezone", StringComparison.OrdinalIgnoreCase));
}
@if (Model is not null && !IsEmpty(Model)) {
    <button id="clearAllFiltersBtn"
            type="submit" name="FilterCommand" value="reset"
            class="btn btn-secondary clear-all-filters__button"
            style="min-width: 7rem;"
            title="@StringLocalizer["Clear all filters"]">
        <span class="align-middle" text-translate="true">Clear All</span>
    </button>
}
