/* General and site-wide Bootstrap modifications */
html {
    position: relative;
    min-height: 100%;
}

.siteFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    font-size: 8px;
    width: 100%;
    overflow: hidden;
}

.only-for-js,
.input-group-clear {
    display: none;
}

.wraptextAuto {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .wraptextAuto {
        max-width: 600px;
    }
}

.smMaxWidth {
    max-width: 150px;
}

@media (min-width: 768px) {
    .smMaxWidth {
        max-width: 300px;
    }
}

.section-heading {
    text-align: var(--btcpay-section-heading-text-align, center);
}

a.nav-link {
    color: var(--btcpay-color-nav-link, var(--btcpay-color-neutral-600));
    background: var(--btcpay-bg-nav-link, transparent);
    transition-duration: .2s;
    transition-property: background, color;
}

a.nav-link:focus,
a.nav-link:hover {
    color: var(--btcpay-color-nav-link-hover, var(--btcpay-color-neutral-700));
    background: var(--btcpay-bg-nav-link-hover, transparent);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--btcpay-color-nav-link-active, var(--btcpay-color-neutral-900));
    background: var(--btcpay-bg-nav-link-active, var(--btcpay-color-primary-alpha));
    font-weight: 500;
}

.display-when-ledger-connected {
    display: none;
}

/* Prevent layout from breaking on hyperlinks with very long URLs as the visible text */
.invoice-details a {
    word-break: break-word;
}
