@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
    <style>
        .lead-title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            /* or 150% */
            letter-spacing: 0.1em;
            color: #000000;
        }

        .lead-login {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            /* or 183% */
            letter-spacing: 0.1em;
            color: #000000;
        }

        .lead-h {
            font-family: Montserrat;
            font-style: normal;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
        }
    </style>
</head>
<body class="bg-light">
    <section>
        <!-- Dummy navbar-brand, hackish way to keep test AssertNoError passing -->
        <div class="navbar-brand" style="display:none;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <a asp-controller="Home" asp-action="Index"><img src="~/img/btcpay-logo.svg" alt="BTCPay Server" height="100" style="margin-bottom:30px;" /></a>
                    <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" alt="BTCPay Server" height="50" style="margin-bottom:30px;" /></a>
                    <h1 class="lead-title text-uppercase">Welcome to your BTCPay hosted merchant payment processor. </h1>
                    <hr class="primary ml-0" style="margin-bottom:30px; margin-top:30px;">
                    <p class="lead-login" style="margin-bottom:69px;">BTCPay lets you process Bitcoin transactions seemlessly, enabling global and near-instant peer-to-peer payments</p>
                    <h3 class="lead-h">Our supporters</h3>
                    <div class="figure">
                        <a href="https://twitter.com/sqcrypto" target="_blank">
                            <img src="~/img/squarecrypto.svg" alt="Sponsor Square Crypto" height="100" />
                        </a>
                        <div class="figure-caption text-center">
                            <a href="https://twitter.com/sqcrypto" target="_blank">Square Crypto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="margin-top:50px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
