@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>@ViewData["Title"]</h4>
            <p class="text-danger">You do not have access to this resource.</p>
        </div>
    </div>
</div>
