@{
    ViewData["Title"] = "Confirm email";
}

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" model="@("Thank you for confirming your email.")" />
            </div>
        </div>
    </div>
</section>
