@{
    ViewData["Title"] = "Email sent!";
}

<h2></h2>
<p>
</p>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>@ViewData["Title"]</h4>
                <hr />
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</section>
