@{
    ViewData["Title"] = "Locked out";
}
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
            </div>

            <div class="col-lg-12 lead">
                <p>This account has been locked out because of multiple invalid login attempts. Please try again later.</p>
            </div>

        </div>
    </div>
</section>
