@model LoginViewModel
@inject BTCPayServer.Services.BTCPayServerEnvironment env
@inject BTCPayServer.HostedServices.CssThemeManager themeManager
@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutSimple";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a asp-controller="Home" asp-action="Index" tabindex="-1">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
        </a>

        <h1 class="h2 mb-3">Welcome to your BTCPay&nbsp;Server</h1>

        <partial name="_StatusMessage" />
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col account-form">
        <div class="modal-content border-0 p-3">
            <div class="modal-header border-0 py-2">
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <fieldset disabled="@(ViewData.ContainsKey("disabled") ? "disabled" : null)" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" required tabindex="1" autofocus />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label asp-for="Password"></label>
                                <a asp-action="ForgotPassword" tabindex="5">Forgot password?</a>
                            </div>
                            <input asp-for="Password" class="form-control" required tabindex="2" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary btn-block btn-lg" id="LoginButton" tabindex="3">Sign in</button>
                        </div>
                    </fieldset>
                </form>
                @if (themeManager.ShowRegister)
                {
                    <p class="text-center mt-2 mb-0">
                        <a id="Register" style="font-size:1.15rem" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" tabindex="4">Create your account</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col">
        <partial name="_BTCPaySupporters"/>
    </div>
</div>
