@model RegisterViewModel
@inject BTCPayServer.Services.BTCPayServerEnvironment env
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutSimple";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
        </a>

        <h1 class="h2 mb-3">Welcome to your BTCPay&nbsp;Server</h1>

        <p class="lead">
            <span class="d-sm-block">A self-hosted, open-source cryptocurrency payment processor.</span>
            <span class="d-sm-block">It is secure, private, censorship-resistant and free.</span>
        </p>

        <partial name="_StatusMessage" />
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col account-form">
        <div class="modal-content border-0 p-3">
            <div class="modal-header border-0 py-2">
                <h4 class="modal-title">Create account</h4>
            </div>
            <div class="modal-body">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-route-logon="true" method="post">
                    <fieldset disabled="@(ViewData.ContainsKey("disabled") ? "disabled" : null)" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" required autofocus />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        @if (ViewData["AllowIsAdmin"] is true)
                        {
                            <div class="form-group form-check">
                                <input asp-for="IsAdmin" type="checkbox" class="form-check-input"/>
                                <label asp-for="IsAdmin" class="form-check-label"></label>
                                <span asp-validation-for="IsAdmin" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary btn-block btn-lg" id="RegisterButton">Create account</button>
                        </div>
                    </fieldset>
                </form>
                <p class="text-center mt-2 mb-0">
                    <a id="Login" style="font-size:1.15rem" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log in</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col">
        <partial name="_BTCPaySupporters"/>
    </div>
</div>

