@model BTCPayServer.Models.AccountViewModels.SetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_LayoutSimple";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
        </a>

        <h1 class="h2 mb-3">Welcome to your BTCPay&nbsp;Server</h1>

        <partial name="_StatusMessage" />
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col account-form">
        <div class="modal-content border-0 p-3">
            <div class="modal-header align-items-center border-0 py-2">
                <h4 class="modal-title">Set Password</h4>

            </div>
            <div class="modal-body">

                <form method="post" asp-action="SetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden"/>
                    <input asp-for="EmailSetInternally" type="hidden"/>
                    @if (Model.EmailSetInternally)
                    {
                        <input asp-for="Email" type="hidden"/>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text" disabled value="@Model.Email" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" value="@Model.Email" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg" id="SetPassword">Set password</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col">
        <partial name="_BTCPaySupporters"/>
    </div>
</div>
