@using BTCPayServer.Client
@using BTCPayServer.Plugins.Bitpay
<li class="nav-item nav-item-sub" permission="@Policies.CanViewStoreSettings">
    <a layout-menu-item="@nameof(StoreNavPages.Tokens)" asp-area="@BitpayPlugin.Area" asp-controller="UIStoresToken" asp-action="ListTokens" asp-route-storeId="@Model.Store.Id" text-translate="true">Access Tokens</a>
</li>
