@using BTCPayServer.Services
@model HomeViewModel;
@inject SettingsRepository SettingsRepository
@{
    var settings = await SettingsRepository.GetSettingAsync<ServerSettings>() ?? new ServerSettings();
    ViewData["Title"] = string.IsNullOrWhiteSpace(settings.ServerName) ? "BTCPay Server" : settings.ServerName;
}

<partial name="_StatusMessage" />

<h2>@ViewLocalizer["Welcome to {0}", string.IsNullOrWhiteSpace(settings.ServerName) ? "BTCPay Server" : settings.ServerName]</h2>

@if (!Model.HasStore)
{
    <p class="lead text-secondary" text-translate="true">To start accepting payments, set up a store.</p>

    <div class="list-group mt-4" id="SetupGuide">
        <a asp-controller="UIUserStores" asp-action="CreateStore" id="SetupGuide-Store" class="list-group-item list-group-item-action d-flex align-items-center">
            <vc:icon symbol="wallet-new"/>
            <div class="content">
                <h5 class="mb-0" text-translate="true">Create your store</h5>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    </div>
}
