@model RecoverySeedBackupViewModel
@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Your recovery phrase";
}

@section PageHeadContent {
    <style>
        @@media (min-width: 476px) { ol#RecoveryPhrase {max-height:16em;} }
        @@media (min-width: 768px) { ol#RecoveryPhrase {max-height:12em;} }
        @@media (min-width: 1200px) { ol#RecoveryPhrase {max-height:8em;} }
        form#RecoveryConfirmation button { position: absolute; bottom:0; left:50%; width:200px; margin-left:-100px; }
        form#RecoveryConfirmation button:not([disabled]) { display: none; }
        form#RecoveryConfirmation input:checked ~ button[disabled] { display: none; }
        form#RecoveryConfirmation input:checked + button:not([disabled]) { display: inline-block; }

        /* Desktops */
        @@media (min-width:768px) {
            .container-block {
                padding: 4% 8%
            }
        }

        /* Mobiles */
        @@media (max-width:767px) {
            .container-block {
                padding: 11% 8%
            }
        }

        /* Flexbox parent container */
        .container-flexbox {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;
        }

        /* Desktops: flexbox child columns */
        @@media (min-width: 768px) {
            .item-col-4 {
                width: 22%;
                align-items: flex-start;
            }
        }

        /* Mobiles: flexbox child columns */
        @@media (max-width: 767px) {
            .item-col-4 {
                width: 100%;
                align-items: flex-start;
            }
        }
    </style>
}

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}

<div class="row justify-content-md-center">
    <div class="col-lg-10 text-center">
        <partial name="_StatusMessage" />

        <div class="d-inline-flex flex-column align-items-center justify-content-center">
                <span class="fa fa-warning align-self-center p-3" style="font-size: 4em; color: #f0ad4e;"></span>

            <h1 class="text-center text-warning mb-5">Secure your recovery&nbsp;phrase</h1>
        </div>
        <div class="lead text-center">
            <p>
                <span class="d-sm-block">The combination of words below are called your recovery phrase. The recovery</span>
                <span class="d-sm-block">phrase allows you to access and restore your wallet. Write them down on a piece of</span>
                <span class="d-sm-block">paper in the exact order:</span>
            </p>
        </div>
        <ol data-mnemonic="@Model.Mnemonic" class="container-block container-flexbox">
            @foreach (var word in Model.Words)
            {
                <li class="item-col-4">
                    <span class="text-dark h5">@word</span>
                </li>
            }
        </ol>
        <div class="lead text-center" style="max-width:36em;margin-left:auto;margin-right:auto;">
            @if (Model.IsStored)
            {
                <p style="font-size:15px; ">
                    <span>The recovery phrase is a backup that allows you to restore your wallet in case of a server crash.</span>
                    <span>If you lose it or write it down incorrectly, you may permanently lose access to your funds.</span>
                    <span>Do not photograph it. Do not store it digitally.</span>
                </p>
                <p style="color: #f0ad4e;">
                    <strong>The recovery phrase will also be stored on the server as a hot wallet.</strong>
                </p>
            }
            else
            {
                <p style="font-size:15px; ">
                    <span>If you lose it or write it down incorrectly, you will permanently lose access to your funds.</span>
                    <span>Do not photograph the recovery phrase, and do not store it digitally.</span>
                </p>
                <br />
                <p style="color: #f0ad4e;">
                    <strong>The recovery phrase will be permanently erased from the server.</strong>
                </p>
            }
            @if (!string.IsNullOrEmpty(Model.Passphrase))
            {
                <p class="mt-3 mb-0">Please make sure to also write down your passphrase.</p>
            }
        </div>
        @if (Model.RequireConfirm)
        {
            <form id="RecoveryConfirmation" action="@Url.EnsureLocal(Model.ReturnUrl)" class="position-relative d-flex align-items-start justify-content-center" style="margin-top:4rem;padding-bottom: 80px" rel="noreferrer noopener">
                <label class="form-check-label lead order-2" for="confirm">I have written down my recovery phrase and stored it in a secure location</label>
                <input type="checkbox" class="me-3 order-1 form-check-input" id="confirm" style="margin-top:.35rem;flex-shrink:0">
                <button type="submit" class="btn btn-primary btn-lg px-5 order-3" id="submit">Done</button>
                <button type="submit" class="btn btn-primary btn-lg px-5 order-3" disabled>Done</button>
            </form>
        }
        else
        {
            <a href="@Url.EnsureLocal(Model.ReturnUrl)" class="btn btn-primary btn-lg mt-3 px-5 order-3" id="proceed" rel="noreferrer noopener">Done</a>
        }
    </div>
</div>
