<changelly inline-template
           :merchant-id="srvModel.changellyMerchantId"
           :store-id="srvModel.storeId"
           :to-currency="srvModel.paymentMethodId"
           :to-currency-due="srvModel.btcDue"
           :to-currency-address="srvModel.btcAddress">
    <div>
        <select
            v-show="isLoading"
            v-model="selectedFromCurrency"
            :disabled="isLoading"
            v-on:change="onCurrencyChange($event)"
            ref="changellyCurrenciesDropdown">
            <option value="">Select a currency to convert from</option>
            <option v-for="currency of currencies" :value="currency.name">{{currency.fullName}}</option>
        </select>
        <a v-if="url" v-on:click="openDialog($event)" :href="url">
            <img src="https://changelly.com/pay_button.png" alt="Changelly"/>
        </a>
    </div>
</changelly>
