@model BTCPayServer.Models.InvoicingModels.CreateInvoiceModel
@{
    ViewData["Title"] = "Create an invoice";
}
<script>
    $(function() {
        $("#create-invoice-form").on("submit",
            function() {
                $(this).find("input[type='submit']").prop('disabled', true);
            });
    })
</script>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="CreateInvoice" method="post" id="create-invoice-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>*
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Currency" class="control-label"></label>*
                        <input asp-for="Currency" class="form-control" />
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderId" class="control-label"></label>
                        <input asp-for="OrderId" class="form-control" />
                        <span asp-validation-for="OrderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemDesc" class="control-label"></label>
                        <input asp-for="ItemDesc" class="form-control" />
                        <span asp-validation-for="ItemDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PosData" class="control-label"></label>
                        <input asp-for="PosData" class="form-control" />
                        <span asp-validation-for="PosData" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuyerEmail" class="control-label"></label>
                        <input asp-for="BuyerEmail" class="form-control" />
                        <span asp-validation-for="BuyerEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NotificationEmail" class="control-label"></label>
                        <input asp-for="NotificationEmail" class="form-control" />
                        <span asp-validation-for="NotificationEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NotificationUrl" class="control-label"></label>
                        <input asp-for="NotificationUrl" class="form-control" />
                        <span asp-validation-for="NotificationUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StoreId" class="control-label"></label>
                        <select asp-for="StoreId" asp-items="Model.Stores" class="form-control"></select>
                        <span asp-validation-for="StoreId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="ListInvoices">Back to List</a>
            </div>
        </div>
    </div>
</section>
