@addTagHelper *, BundlerMinifier.TagHelpers
@inject ISettingsRepository _settingsRepository
@using BTCPayServer.Abstractions.Contracts
@model BTCPayServer.Models.AppViewModels.ViewCrowdfundViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100">
<head>
    <partial name="LayoutHead" />
    <bundle name="wwwroot/bundles/crowdfund-bundle.min.css" asp-append-version="true"></bundle>
    @if (!string.IsNullOrEmpty(Model.CustomCSSLink))
    {
        <link href="@Model.CustomCSSLink" rel="stylesheet" />
    }
    @if (!string.IsNullOrEmpty(Model.EmbeddedCSS))
    {
        @Safe.Raw($"<style>{Model.EmbeddedCSS}</style>")
    }
    @if (!Model.SimpleDisplay)
    {
        <script>var srvModel = @Safe.Json(Model);</script>
        <bundle name="wwwroot/bundles/crowdfund-bundle-1.min.js" asp-append-version="true"></bundle>
        <bundle name="wwwroot/bundles/crowdfund-bundle-2.min.js" asp-append-version="true"></bundle>
        @*We need to make sure btcpay.js is not bundled, else it will not work if there is a RootPath*@
        <script src="~/modal/btcpay.js" asp-append-version="true"></script>
    }
</head>
<body>
    @if (!Model.Enabled) 
    {
        <div class="alert alert-warning text-center sticky-top mb-0" role="alert" style="border-radius:0;">
            This crowdfund page is not publically viewable!
        </div>
    }
    @if (Model.AnimationsEnabled)
    {
        @* Hide the below canvas or else user will be staring "Loading..." text when JS is disabled *@
        <noscript><style>#fireworks { display:none; }</style></noscript>
        <canvas id="fireworks"></canvas>
    }
    <partial name="/Views/AppsPublic/Crowdfund/VueCrowdfund.cshtml" model="Model"/>
</body>
</html>
