@model BTCPayServer.Components.SearchStringInput.SearchStringInput.Model

<input id="SearchTerm" name="SearchTerm" type="hidden" value="@Model.SearchString.ToString(SearchStringFormat.OnlyUIFilters)"/>
<input id="SearchText" name="SearchText" class="form-control" value="@Model.SearchString.ToString(SearchStringFormat.ExceptUIFilters)" placeholder="@Model.Placeholder" />
@* So hitting enter will not submit another button in the page *@
<button type="submit" class="d-none"></button>
