@model BTCPayServer.Components.StoreRecentInvoices.StoreRecentInvoicesViewModel

<div class="widget store-recent-transactions">
    <header>
        <h3>Recent Invoices</h3>
        <a asp-controller="UIInvoice" asp-action="ListInvoices" asp-route-storeId="@Model.Store.Id">View All</a>
    </header>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Invoice</th>
            <th class="text-end">Amount</th>
        </tr>
        </thead>
        <tbody>
        @*@foreach (var entry in Model.Entries)
        {*@
        <tr>
            <td>14 minutes ago</td>
            <td>123</td>
            <td class="text-end">0.615 BTC</td>
        </tr>
        @*}*@
        </tbody>
    </table>
</div>
