@using BTCPayServer.Views.Apps
@using BTCPayServer.Abstractions.Extensions
@model BTCPayServer.Models.CustodianAccountViewModels.EditCustodianAccountViewModel
@{
    ViewData.SetActivePage(AppsNavPages.Update, "Edit custodian account");
}

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
}

<partial name="_StatusMessage"/>

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="EditCustodianAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_FormTopMessages" model="Model.ConfigForm"/>

            <div class="form-group">
                <label asp-for="CustodianAccount.Name" class="form-label" data-required></label>
                <input asp-for="CustodianAccount.Name" class="form-control" required/>
                <span asp-validation-for="CustodianAccount.Name" class="text-danger"></span>
            </div>

            <partial name="_Form" model="Model.ConfigForm"/>

            <div class="form-group mt-4">
                <input type="submit" value="Continue" class="btn btn-primary" id="Save"/>
            </div>
        </form>
    </div>
</div>
