@using BTCPayServer.Client
@using BTCPayServer.Views.Stores

@{ var store = Context.GetStoreData(); }

@if (store != null)
{
    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
        <a asp-area="" asp-controller="UIPayButton" asp-action="PayButton" asp-route-storeId="@store.Id" class="nav-link @ViewData.ActivePageClass(StoreNavPages.PayButton)" id="StoreNav-PayButton">
            <vc:icon symbol="nav-pay-button"/>
			<span text-translate="true">Pay Button</span>
        </a>
    </li>
}

