@{
    Layout = "_LayoutError";
    ViewData["Title"] = "429 - Too Many Requests";
}

Please send requests slower. Or face the wrath of <a href="https://twitter.com/r0ckstardev" target="_blank" rel="noreferrer noopener">Vin Diesel</a>.
<br /><br />
<a href="https://twitter.com/r0ckstardev" target="_blank" rel="noreferrer noopener">
    <img src="~/img/errorpages/429_rockstardev.jpg" alt="Vin is angry because you caused 429" title="Move away that cursor" asp-append-version="true" />
</a>
<br /><br />
You sure you want to risk that?
<br /><br />
Slowly <a href="/">navigate back to home</a>.
