@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1>Welcome to Crypto Pay</h1>
            <hr />
            <p> Accept Cryptocurrencies for your store directly to your. wallet.</p>
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://btcpayserver.org" target="_blank">Official website</a>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A Payment Server for Cryptocurrency</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" alt="" asp-append-version="true" />
                    <h3>Secure</h3>
                    <p class="text-muted">The payment server does not need to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" alt="" asp-append-version="true" />
                    <h3>Easy</h3>
                    <p class="text-muted">A user-friendly Bitcoin checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" alt="" asp-append-version="true" />
                    <h3>Visibility</h3>
                    <p class="text-muted">Manage, generate reports, and search for your invoices easily.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2>Let's Get In Touch!</h2>
            <hr class="primary">
            <p>
                An open source project is nothing without its community<br />
                Come and get in touch with us!
            </p>
        </div>
    </div>

    <div class="row social-row">
        <div class="col-6 col-md-3 ml-auto text-center">
            <a href="https://chat.btcpayserver.org/" target="_blank">
                <img src="~/img/mattermost.svg" alt="Mattermost" class="social-logo" asp-append-version="true" />
                <span>On Mattermost</span>
            </a>
        </div>
        <div class="col-6 col-md-3 ml-auto text-center">
            <a href="https://slack.btcpayserver.org/" target="_blank">
                <img src="~/img/slack.svg" alt="Slack" class="social-logo" asp-append-version="true" />
                <span>On Slack</span>
            </a>
        </div>
        <div class="col-6 col-md-3 mr-auto text-center">
            <a href="https://twitter.com/BtcpayServer" target="_blank">
                <img src="~/img/twitter.svg" alt="Twitter" class="social-logo" asp-append-version="true" />
                <span>On Twitter</span>
            </a>
        </div>
        <div class="col-6 col-md-3 mr-auto text-center">
            <a href="https://github.com/btcpayserver/btcpayserver" target="_blank">
                <img src="~/img/github.svg" alt="Github" class="social-logo" asp-append-version="true" />
                <span>On Github</span>
            </a>
        </div>
    </div>
</div>
