@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1 class="text-capitalize">Get started with bitcoin blockchain payments 🌴</h1>
            <hr>
            <p>BTCPay Jungle hosted merchant payment processor, from wallet to checkout. <br /> Made with ❤️ Supported by the BTCPay Server Community  🦁</p>
            <a class="btn btn-primary btn-lg" href="https://btcpayjungle.com/Account/Register" role="button">Register now</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" />
                    <h2 class="text-dark">Secure</h2>
                    <p class="text-muted">This payment server does not require to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" />
                    <h2 class="text-dark">Easy</h2>
                    <p class="text-muted">A user-friendly bitcoin, litecoin, checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" />
                    <h2 class="text-dark">Visibility</h2>
                    <p class="text-muted">Manage, generate reports, search your invoices easily, 11 language's currently supported for invoice checkout.</p>
                </div>
            </div>
        </div>
        <br />
    </div>
    <br />
    <br />
    <div class="container">
        <!-- START THE FEATURETTES -->
        <br />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">BTCPay Jungle Hosted. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">
                    A free hosted open source cross platform server, Bitcoin payment processor, Bitcoin is a cryptocurrency, a form of electronic cash. It is a decentralized digital currency without a central bank or single administrator that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries, Our server's doesn't take any transaction fees. The only fees you pay are to the miners. Credit cards can't compete.
                    <br />
                    BTCPayJungle Features:
                    Direct, P2P Bitcoin payments,
                    Lightning Network support (LND and c-lightning),
                    Altcoin support,
                    Complete control over private keys,
                    Fully compatability with BitPay API (easy migration),
                    Enchanced privacy,
                    SegWit support,
                    Process payments for others,
                    Payment buttons,
                    Point of sale,
                    No transaction fees (other than those for the crypto networks),
                    No processing fees,
                    No middleman,
                    No KYC,
                    Bitcoin Core version 0.16.3
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" <img src="~/img/logosquare.png" alt="~/img/logosquare.png">
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">BTCPay Server is a global open source decentralised bitcoin peer to peer payment service provider. founded in Aug 2017 by Nicolas Dorier. RockstarDev & the BTCPay Community, BTCPay Server is a Bitcoin and Altcoin payment processing services for merchants. Anyone can now have self-sovereignty, more features in progress stay tuned!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" <img src="~/img/btcpayserver1.png" alt="~/img/btcpayserver1.png">
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Bitcoin is an innovative payment network and a new kind of money. Bitcoin is more than just ‘digital money’. It’s about equality, access, and a more open framework for society, “Your keys, your Bitcoin. Not your keys, not your Bitcoin”.
                    <br /> You can support the BTCPay Server, Bitcoin Network, Lightning Network by hosting your own node & personal server, if you need secure hosting & blockchain payments made easy, you can choose a host like BTCPayJungle, we care 100% about our customers, users, our reputation, our community, together we are the future</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" <img src="~/img/bitcoin.png" alt="~/img/bitcoin.png">
            </div>
        </div>
        <div class="container">
        </div>
        <br />
        <!-- /END THE FEATURETTES -->
        <br />
        <br />
        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <img class="rounded-circle" src="~/img/btcpay-1.png" alt="~/img/btcpay-1.png" width="140" height="140">
                    <h2>BTCPay Server</h2>
                    <p>
                        BTCPay Server is an open-source, hosted payment processor for Bitcoin and other cryptocurrencies. If you have any issues with BTCPay Jungle, please file a Github issue. If you have more general questions, please come on Slack.
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="https://github.com/btcpayserver/btcpayserver-doc/blob/master/README.md" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 col-md-6 text-center">
                    <img class="rounded-circle" <img src="~/img/c-lightning.jpeg" alt="~/img/c-lightning.jpeg" width="140" height="140">
                    <h2>C-Lightning Network</h2>
                    <p>Blockstream is collaborating with industry leaders to create a Bitcoin micropayment system that supports high volumes of instant tiny payments using proportional transaction fees and that operates at the speed of light.</p>
                    <p><a class="btn btn-primary btn-lg" href="https://blockstream.com/2018/06/25/c-lightning-06.html" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 col-md-6 text-center">
                    <img class="rounded-circle" src="~/img/lndlogo.png" alt="~/img/lndlogo.png" width="140" height="140">
                    <h2>Lightning Labs</h2>
                    <p>The most advanced and most developer-friendly implementation of the Lightning Network protocol. lnd provides superior reliability, interoperability and security for the next generation of global-scale financial applications.</p>
                    <p><a class="btn btn-primary btn-lg" href="https://lightning.engineering" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>
    <br />
    <hr class="primary">
    <div class="container">
        <h2 class="card-title">Quick Links</h2>
        <p class="card-text">Some helpful documentation and community support links to get you started.</p>
        <a href="http://slack.forkbitpay.ninja" class="card-link">BTCPay Server on Slack!</a>
        <a href="https://nbitstack.com" class="card-link">NBitStack FAQ</a>
        <a href="https://webchat.freenode.net" class="card-link">Join #btcpayserver channel</a>
        <a href="https://www.youtube.com/channel/UCpG9WL6TJuoNfFVkaDMp9ug" class="card-link">BTCPay Server Video's</a>
        <a href="https://www.youtube.com/playlist?list=PL7b9Wt9shK2ouN9E-g0viktMMEKFFqelm" class="card-link"> Get Started With BTCPay Bitcoin Blockchain Payments Videos</a>
        <a href="https://electrum.org/#home" class="card-link">Electrum Bitcoin Wallet</a>
        <a href="https://electrum-ltc.org" class="card-link">Electrum Litecoin Wallet</a>
        <a href="https://www.ledgerwallet.com" class="card-link">Ledger Wallet</a>
        <a href="https://zap.jackmallers.com" class="card-link">Zap, Making Bitcoin usable for everyone</a>
        <a href="https://ln-zap.github.io/zap-tutorials/zap-desktop-btcpay-server" class="card-link">BTCPay Server to Zap Desktop</a>
        <a href="https://dev.lightning.community" class="card-link">LND Developer Site</a>
        <a href="https://github.com/lightninglabs/neutrino/blob/master/README.md" class="card-link">Neutrino Wallet</a>
        <a href="https://github.com/btcpayserver/woocommerce-plugin/releases" class="card-link">BTCPayServer/Woocommerce-plugin</a>
        <a href="https://bitcoin.org/en/" class="card-link">Bitcoin.org</a>
        <a href="https://programmingwithbitcoin.com" class="card-link">Learn how to Program Bitcoin with Nicolas Dorier</a>
        <a href="https://programmingblockchain.gitbooks.io/programmingblockchain/content/" class="card-link">Programming Blockchain in C#</a>
        <a href="https://programmingblockchain.com" class="card-link">Programming Blockchain with Jimmy Song</a>
        <a href="https://lopp.net/bitcoin.html" class="card-link">Bitcoin Resources</a>
        <a href="https://litecoin.org" class="card-link">Litecoin Resources</a>
        <a href="https://1ml.com/node/0265e5791c617b6e1dfe04137e71c0c959201592bd7fe3f1bb085c35595b72646c" class="card-link">Our Public Lightning Node: btcpayjungle-lightning-node</a>
        <a href="https://www.robtex.com/lightning/" class="card-link">Robtex Bitcoin Lightning</a>
    </div>
        <br />
        <br />
</section>
<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <a href="https://bitcoin.org/en/">
            <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        </a>
        <h2>Market Information</h2>
        <hr class="primary">
        <div class="row">
        </div>
        <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
        <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
        <script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js"></script>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Special thanks</h2>
                <hr class="primary">
                <p>Nicolas Dorier, RockstarDev, Kukks, Esky33, BTCPay Community, Jimmy Song, Starkness, Roasbeef, Rusty, Joseph Poon, Thaddeus Dryja, Alex Bosworth, LND Community, Jack Mallers, Satoshi Nakamoto, Nick Szabo, Hal Finney, Wei Dai, Adam Back, Andreas M. Antonopoulos, Samson Mow</p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver">
                    <img src="~/img/btcpayserver.png" height="75" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver">BTCPay Server</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="http://junglelab.mystagingwebsite.com">
                    <img src="~/img/btcpaylogo2junglelab.png" height="75" />
                </a>
                <p>
                    <a href="https://junglelab.io">JungleLab Store</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://www.dglab.com/en/">
                    <img src="~/img/dglab.gif" height="75" />
                </a>
                <p>
                    <a href="https://www.dglab.com/en/">DG Lab</a>
                <p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <a href="https://metaco.com/">
                    <img src="~/img/metaco.jpg" height="75" />
                </a>
                <p>
                    <a href="https://metaco.com/">Metaco</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://ibukingdom.themedia.jp/">
                    <img src="~/img/ibuki.png" height="75" />
                </a>
                <p>
                    <a href="https://ibukingdom.themedia.jp/">Designer</a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        <h2>Donation to this address</h2>
        <hr class="primary">
        <p><img src="~/img/donation.png"></p>
        <p>Bitcoin : 3BUfqbBdJ6QhGhGsfxYaFKYuVQL19Beddx</p>
        <div>
            <p>BTCPayJungle maintains operating costs through user donations. Support Us</p>
            <form method="POST" action="https://btcpayjungle.com/api/v1/invoices">
                <input type="hidden" name="storeId" value="EDEE4hbCKwc7sp7uXGuhEx4phrGKxjk6mnUd7sCVbgN9" />
                <input type="hidden" name="price" value="10" />
                <input type="hidden" name="currency" value="USD" />
                <input type="hidden" name="checkoutDesc" value="Support Us" />
                <input type="hidden" name="orderId" value="user donation" />
                <input type="hidden" name="browserRedirect" value="https://btcpayjungle.com" />
                <input type="hidden" name="notifyEmail" value="support@btcpayjungle.com" />
                <input type="image" src="https://btcpayjungle.com/img/paybutton/pay.png" name="submit" style="width:168px" alt="Pay with BTCPay, Hosted Bitcoin Payment Processor">
            </form>
        </div>
        <br />
    </div>
</div>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    An open source project is nothing without its community<br />
                    Come and get in touch with us 🛰️
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <a href="http://slack.forkbitpay.ninja/">
                    <img src="~/img/slack.png" height="100" />
                </a>
                <p>
                    <a href="http://slack.forkbitpay.ninja"></a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://twitter.com/BtcpayServer">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/BtcpayServer"></a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/BTCPayJungle">
                    <img src="~/img/github.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/BTCPayJungle"></a>
                </p>
            </div>
        </div>
    </div>
</section>