@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}


<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1>Get Started With Digital Payments</h1>
            <hr />
            <p>Accept Bitcoin, Litecoin and lightning payments, store and spend them securely, or convert them into dollars instantly.</p>
            <a href="https://register.skrillo.com.au/Account/Register" style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 6px;padding: 15px 20px;">Getting started</a>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Payment Server for Bitcoin</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" style="margin-bottom:10px;"/>
                    <h3 class="text-dark">Secure</h3>
                    <p class="text-muted">The payment server does not need to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" style="margin-bottom:10px;"/>
                    <h3 class="text-dark">Easy</h3>
                    <p class="text-muted">A user-friendly Bitcoin checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" style="margin-bottom:10px;"/>
                    <h3 class="text-dark">Visibility</h3>
                    <p class="text-muted">Manage, generate reports, and search for your invoices easily.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <h2>Why Vend?</h2>
        <div class="row text-center">
            <div class="col-md-12 text-center" style="margin-bottom: 25px;">
                Like businesses, not all banks are the same. We’re shaking up the
                <br />business banking world, with smart technology that could save
                <br />you time and money.
            </div>
        </div>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://www.facebook.com/vendofficial/">
                    <img src="~/img/mattermost.png" height="100" />
                </a>
                <p><a href="https://chat.btcpayserver.org/">On Facebook</a></p>
            </div>
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://slack.btcpayserver.org/">
                    <img src="~/img/slack.png" height="100" />
                </a>
                <p><a href="http://slack.forkbitpay.ninja/">On Slack</a></p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://twitter.com/VendOfficial">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/VendOfficial">On Twitter</a>
                </p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver">
                    <img src="~/img/github.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver">On Github</a>
                </p>
            </div>
        </div>
    </div>
</section>
