@{
	ViewData["Title"] = "Home Page";
	ViewBag.AlwaysShrinkNavBar = false;
}


<header class="masthead">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">Welcome to BTCPay Server</h1>
			<hr>
			<p>BTCPay Server is a free and open source server for merchants wanting to accept Bitcoin for their business. The API is compatible with Bitpay service to allow seemless migration.</p>
		</div>
	</div>
</header>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">A Payment Server for Bitcoin</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<img src="~/img/lock-logo.png" />
					<h3>Secure</h3>
					<p class="text-muted">The payment server does not need to know your private keys, so you money can't be stolen.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<img src="~/img/qr-logo.png" />
					<h3>Easy</h3>
					<p class="text-muted">User friendly bitcoin checkout page for your customer.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<img src="~/img/money-logo.png" />
					<h3>Visibility</h3>
					<p class="text-muted">Manage, generate reports, and search for your invoices easily.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="call-to-action bg-dark">
	<div class="container text-center">
		<h2>You don't want to depend on us? Self-Host by yourself!</h2>
		<a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://github.com/btcpayserver/btcpayserver-doc">Read The Doc!</a>
	</div>
</div>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>A project open source is nothing without its community, come and get in touch with us!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto text-center">
				<a href="http://13.79.159.103:3000/">
					<img src="~/img/slack.png" height="100" />
				</a>
				<p><a href="http://13.79.159.103:3000/">On Slack</a></p>
			</div>
			<div class="col-lg-4 mr-auto text-center">
				<a href="https://github.com/btcpayserver/btcpayserver">
					<img src="~/img/github.png" height="100" />
				</a>
					<p>
						<a href="https://github.com/btcpayserver/btcpayserver">On Github</a>
					</p>
</div>
		</div>
	</div>
</section>
