@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}


<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1 class="text-capitalize">BTCPAYJUNGLE DECENTRALISED</h1>
            <hr class="primary">
            <p>Hosting for merchants, fast direct blockchain payments from wallet to checkout, 0% service fees, Supported by BTCPay Server Community.</p>
        </div>
    </div>
</header>
<div class="promotion-banner text-center white"><a href="https://btcpayjungle.com/Account/Register">Power your business's cross-border payments with BTCPayJungle bitcoin node, self-sovereign, trustless decentralised ledger, Get Started Today →</a></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bitcoin Merchant Payment Processor</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" />
                    <h3 class="text-dark">Secure</h3>
                    <p class="text-muted">This payment server does not require to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" />
                    <h3 class="text-dark">Easy</h3>
                    <p class="text-muted">A user-friendly bitcoin, litecoin, lightning network ⚡ altcoins, checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" />
                    <h3 class="text-dark">Visibility</h3>
                    <p class="text-muted">Manage, generate reports, search your invoices easily, 11 language's currently supported for invoice checkout.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <a href="https://bitcoin.org/en/">
            <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        </a>
        <h2>Market Information</h2>
        <hr class="primary">
          <div class="row">
            </div>
              <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
              <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
           <script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js"></script>
        </div>
     </div>

<section>  
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Special thanks</h2>
                <hr class="primary">
                <p>Nicolas Dorier, RockstarDev, BTCPay Community, Satoshi Nakamoto, Nick Szabo, Hal Finney, Wei Dai, Adam Back</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver">
                    <img src="~/img/btcpayserver.png" height="75" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver">BTCPay Server</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="http://junglelab.io">
                    <img src="~/img/btcpaylogo2junglelab.png" height="75" />
                </a>
                <p>
                    <a href="http://junglelab.io">junglelab.io</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://www.dglab.com/en/">
                    <img src="~/img/dglab.gif" height="75" />
                </a>
                <p>
                    <a href="https://www.dglab.com/en/">DG Lab</a>
                <p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <a href="https://metaco.com/">
                    <img src="~/img/metaco.jpg" height="75" />
                </a>
                <p><a href="https://metaco.com/">Metaco</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://ibukingdom.themedia.jp/">
                    <img src="~/img/ibuki.png" height="75" />
                </a>
                <p>
                    <a href="https://ibukingdom.themedia.jp/">Designer</a>
                </p>
            </div>
        </div>
     </div>
</section>

<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        <h2>Donation to this address</h2>
        <hr class="primary">
        <p>will be reinvested into BTCPayJungle & keep our service free.</p>
        <p><img src="~/img/donation.png"></p>
        <p>Bitcoin : 3BUfqbBdJ6QhGhGsfxYaFKYuVQL19Beddx</p>
        <form method="POST" action="https://btcpayjungle.com/apps/Gfpa4YSdzggHLHBR1iydXkrVmaKzsLS1X93MRpBhrct3/pos">
            <input type="hidden" name="email" value="customer@example.com" />
            <input type="hidden" name="orderId" value="CustomOrderId" />
            <input type="hidden" name="notificationUrl" value="https://btcpayjungle.com" />
            <input type="hidden" name="redirectUrl" value="https://btcpayjungle.com" />
            <button type="submit" name="choiceKey" value="Server Maintenance">Donate now</button>
        </form>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    An open source project is nothing without its community<br/>
                    Come and get in touch with us!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <a href="http://slack.forkbitpay.ninja/">
                    <img src="~/img/slack.png" height="100" />
                </a>
                <p>
                    <a href="http://slack.forkbitpay.ninja"></a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://twitter.com/BtcpayServer">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/BtcpayServer"></a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/BTCPayJungle">
                    <img src="~/img/github.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/BTCPayJungle"></a>
                </p>
            </div>
        </div>
    </div>
</section>
