@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1 class="text-capitalize">Get started with bitcoin blockchain payments</h1>
            <hr class="primary">
            <p>BTCPayJungle free hosted merchant processor, blockchain payments, from wallet to checkout. 🦁</p>
            <a style="background-color: #fff; color: #222; display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; line-height: 1.25; font-size: 1rem; text-decoration: none; font-weight: 700; text-transform: uppercase; border: none; border-radius: 300px; padding: 15px 30px;" href="https://btcpayjungle.com/Account/Register">register now</a>
        </div>
    </div>
</header>
<div class="promotion-banner text-center white">
    <a href="https://ln-zap.github.io/zap-tutorials/zap-desktop-btcpay-server">LND nodeZap + BTCPay — Zap PoS/Zap Commerce</a>
</div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" />
                    <h3 class="text-dark">Secure</h3>
                    <p class="text-muted">This payment server does not require to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" />
                    <h3 class="text-dark">Easy</h3>
                    <p class="text-muted">A user-friendly bitcoin, litecoin, 40 altcoins, checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" />
                    <h3 class="text-dark">Visibility</h3>
                    <p class="text-muted">Manage, generate reports, search your invoices easily, 11 language's currently supported for invoice checkout.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Bitcoin is more than just ‘digital money’. It’s about equality, access, and a more open framework for society.</p>
        <hr class="my-4">
        <p>
            junglelab.io is a London UK-based company working with others worldwide, like industry bitcoin software experts and the most talented engineers, supported by BTCPay Server, Our aim is to offer outstanding value to our clients. Direct, P2P payments, from your customer directly to your wallet, no intermediates. You are the bank. There are no payment processing fees.

            BTCPayJungle - Your Gateway to Bitcoin & Altcoin Payments with our Open Source Payment Processor "bitpay factory" - Welcome to use our Node & donate, Or just run your own self sovereign node, deploy a BTCPay Server with an Microsoft Azure account. Enjoy the future, Cheers 🍻
        </p>
        <a class="btn btn-primary btn-lg" href="https://github.com/btcpayserver/btcpayserver-azure" role="button">Learn more</a>
    </div>
</section>
<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <a href="https://bitcoin.org/en/">
            <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        </a>
        <h2>Market Information</h2>
        <hr class="primary">
        <div class="row">
        </div>
        <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
        <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
        <script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js"></script>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Special thanks</h2>
                <hr class="primary">
                <p>Nicolas Dorier, RockstarDev, BTCPay Community, Satoshi Nakamoto, Nick Szabo, Hal Finney, Wei Dai, Adam Back</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver">
                    <img src="~/img/btcpayserver.png" height="75" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver">BTCPay Server</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="http://junglelab.mystagingwebsite.com">
                    <img src="~/img/btcpaylogo2junglelab.png" height="75" />
                </a>
                <p>
                    <a href="http://junglelab.mystagingwebsite.com">junglelab Store</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://www.dglab.com/en/">
                    <img src="~/img/dglab.gif" height="75" />
                </a>
                <p>
                    <a href="https://www.dglab.com/en/">DG Lab</a>
                <p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <a href="https://metaco.com/">
                    <img src="~/img/metaco.jpg" height="75" />
                </a>
                <p><a href="https://metaco.com/">Metaco</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://ibukingdom.themedia.jp/">
                    <img src="~/img/ibuki.png" height="75" />
                </a>
                <p>
                    <a href="https://ibukingdom.themedia.jp/">Designer</a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        <h2>Donation to this address</h2>
        <hr class="primary">
        <p><img src="~/img/donation.png"></p>
        <p>Bitcoin : 3BUfqbBdJ6QhGhGsfxYaFKYuVQL19Beddx</p>
        <div>
            <p>This website maintains the cost of hosting a full bitcoin node & full litecoin node by receiving donations from our users.</p>
            <p>All donations will be reinvested back into BTCPayJungle server, keeping our service free & updated, simple for you to focus on other things.</p>
            <p>Our BTCPayJungle user's can choose to donate every few months, with our lightning network payment ⚡ button.</p>
            <p>Made with  ❤️ Supported by the BTCPay Server Community</p>
            <form method="POST" action="https://btcpayjungle.com/apps/CcXXBRt9Stk2kbcfFdn1p5Y6PVFqZaH2gKuywRXUjRpP/pos">
                <input type="hidden" name="email" value="customer@example.com" />
                <input type="hidden" name="orderId" value="CustomOrderId" />
                <input type="hidden" name="https://btcpayjungle.com" />
                <input type="hidden" name="redirectUrl" value="https://btcpayjungle.com" />
                <button type="submit" name="choiceKey" value="users donate here">Buy ⚡ now</button>
            </form>
        </div>
        <br />
    </div>
</div>
<br />
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Quick Links</h4>
            <p class="card-text">Some helpful documentation and Support links to get you started with our BTCPayJungle server.</p>
            <a href="https://electrum.org/#home" class="card-link">Electrum Bitcoin Wallet</a>
            <a href="https://electrum-ltc.org" class="card-link">Electrum Litecoin Wallet</a>
            <a href="https://www.ledgerwallet.com" class="card-link">Ledger Wallet</a>
            <a href="https://github.com/btcpayserver/woocommerce-plugin/releases" class="card-link">BTCPay/woocommerce-plugin</a>
            <a href="https://github.com/btcpayserver/magento2-plugin/releases" class="card-link">Magento2.x/payment-plugin</a>
            <a href="https://github.com/btcpayserver/btcpayserver-doc" class="card-link">BTCPayServer Manual</a>
        </div>
    </div>
</div>
<div class="container">
    <br />
    <a href="~/BTCPay-WooCommerce_Bitcoin-Plugin.pdf" download="BTCPay-WooCommerce_Bitcoin-Plugin.pdf">
        <button>BTCPay WooCommerce PDF</button>
    </a>
</div>
<br />
<div class="container">
    <img src="~/img/logo.svg" class="img-thumbnail" alt="Responsive image">
</div>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    An open source project is nothing without its community<br />
                    Come and get in touch with us!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <a href="http://slack.forkbitpay.ninja/">
                    <img src="~/img/slack.png" height="100" />
                </a>
                <p>
                    <a href="http://slack.forkbitpay.ninja"></a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://twitter.com/BtcpayServer">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/BtcpayServer"></a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/BTCPayJungle">
                    <img src="~/img/github.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/BTCPayJungle"></a>
                </p>
            </div>
        </div>
    </div>
</section>
