@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1 class="text-capitalize">Get started with bitcoin blockchain payments 🌴</h1>
            <hr />
            <p>BTCPay Jungle hosted merchant payment processor.<br /> Made with ❤️ Supported by BTCPay Server Community 🦁</p>
            <a class="btn btn-primary btn-lg" href="https://btcpayjungle.com/Account/Register" role="button">Register now</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" />
                    <h2 class="text-dark">Secure</h2>
                    <p class="text-muted">This payment server does not require to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" />
                    <h2 class="text-dark">Easy</h2>
                    <p class="text-muted">A user-friendly bitcoin, litecoin, checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" />
                    <h2 class="text-dark">Visibility</h2>
                    <p class="text-muted">Manage, generate reports, search your invoices easily, 24 languages currently supported for invoice checkout.</p>
                </div>
            </div>
        </div>
        <br />
    </div>
    <br />
    <br />
    <div class="container">
        <!-- START THE FEATURETTES -->
        <br />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">BTCPay Jungle Hosted. <span class="text-muted">what we build.</span></h2>
                <p class="lead">
                    BTCPayJungle Bitcoin Payment Processor
                    <br />
                    is a free hosted non-custodial invoicing system, All payments go directly to your wallet, which increases the privacy and security. Your private keys are never uploaded to the server. There is no address re-use since each invoice generates a new address deriving from your xpubkey.
                    We care 100% about all users privacy, and maintain all the software updates.
                    BTCPay <a href="https://docs.btcpayserver.org">Documentation</a>
                    <a href="https://btcpayserver.org">Community</a>
                    <br />
                    Our users donations help us to evolve. <a href="https://btcpayjungle.com/apps/3FWCtVySscwGMyrYAprgyroyHLbA/pos">Donate here</a>
                    <br />
                    <a href="https://www.youtube.com/playlist?list=PL7b9Wt9shK2ouN9E-g0viktMMEKFFqelm">Learn</a> how to create your first
                    e-commerce store in <a href="https://wordpress.org">WordPress</a> and <a href="https://wordpress.org/plugins/btcpay-for-woocommerce/">WooCommerce</a> begin accepting Bitcoin payment through BTCPay Jungle.
                    <br />
                    The Ultimate <a href="https://bitcoinshirt.co/btcpay-stores/">List</a> "of BTCPay Server Merchants, <br /> add your store details on the BTCPay Slack to be included on this list."
                    <br /> Launch your own node, Start Here <a href="https://www.lunanode.com">Luna Node</a> and <a href="https://launchbtcpay.lunanode.com">Launchbtcpay</a>
                    <br />
                    Raspberry Pi Deployment <a href="https://docs.btcpayserver.org/deployment/raspberrypideployment">Raspberry Pi Deployment</a>
                    <br />
                    “Your keys, your Bitcoin. Not your keys, not your Bitcoin”.
                    <br />
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/img/logosquare.png" alt="~/img/logosquare.png">
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">The software is built in C# and conforms to the invoice <a href="https://bitpay.com/api">API of Bitpay</a>. It allows for your website to be easily migrated from Bitpay and configured as a self-hosted or hosted payment processor. Founded in Aug 2017 by Nicolas Dorier. RockstarDev, BTCPay Community.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="~/img/btcpayserver1.png" alt="~/img/btcpayserver1.png">
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">
                    <br />
                    About Bitcoin
                    <br />
                    Bitcoin (BTC) is a consensus network that enables a new payment system and a completely digital currency.
                    Powered by its users, it is a peer to peer payment network that requires no central authority to operate.
                    On October 31st, 2008, an individual or group of individuals operating under the pseudonym "Satoshi Nakamoto"
                    published the Bitcoin Whitepaper and described it as: "a purely peer-to-peer version of electronic cash would
                    allow online payments to be sent directly from one party to another without going through a financial institution."
                    <br />
                    Self-Sovereign, Disruptive Technology, Secure & Private Open-Source,
                    <br /> A cross platform, decentralised hosted merchant server compatible with Bitpay API
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/img/bitcoin.png" alt="~/img/bitcoin.png">
            </div>
        </div>
        <br />
        <br />
        <!-- /END THE FEATURETTES -->
        <br />
        <br />
        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <img class="rounded-circle" src="~/img/btcpay-1.png" alt="~/img/btcpay-1.png" width="140" height="140">
                    <h2>BTCPay Server</h2>
                    <p>
                        BTCPay Server is an open-source, hosted payment processor for Bitcoin and other cryptocurrencies. If you have any issues with BTCPay Jungle, please file a Github issue. If you have more general questions, please come on Slack.
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="https://github.com/btcpayserver/btcpayserver-doc/blob/master/README.md" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 col-md-6 text-center">
                    <img class="rounded-circle" src="~/img/c-lightning.jpeg" alt="~/img/c-lightning.jpeg" width="140" height="140">
                    <h2>c-lightning Network</h2>
                    <p>Blockstream is collaborating with industry leaders to create a Bitcoin micropayment system that supports high volumes of instant tiny payments using proportional transaction fees and that operates at the speed of light.</p>
                    <p><a class="btn btn-primary btn-lg" href="https://blockstream.com/2018/06/25/c-lightning-06.html" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 col-md-6 text-center">
                    <img class="rounded-circle" src="~/img/lndlogo.png" alt="~/img/lndlogo.png" width="140" height="140">
                    <h2>Lightning Labs</h2>
                    <p>The most advanced and most developer-friendly implementation of the Lightning Network protocol. lnd provides superior reliability, interoperability and security for the next generation of global-scale financial applications.</p>
                    <p><a class="btn btn-primary btn-lg" href="https://lightning.engineering" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>
</section>
<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <a href="https://coinmarketcap.com">
            <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        </a>
        <h2>Market Information</h2>
        <hr class="primary">
        <div class="row">
        </div>
        <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
        <div id="coindesk-widget" data-size="mpu" data-align="center"></div>
        <script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js"></script>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Special thanks</h2>
                <hr class="primary">
                <p>Nicolas Dorier, Rockstardev, Kukks, Bitcoinshirt, Britttttkelly , Esky33, BTCPay Community, Elizabeth Stark, Roasbeef, Rusty, Joseph Poon, Thaddeus Dryja, Jack Mallers, Alex Bosworth, LND Community, Satoshi Nakamoto, Nick Szabo, Hal Finney, Wei Dai, Adam Back, Andreas M. Antonopoulos, Samson Mow, Jameson Lopp, Jimmy Song, Giacomo Zucco,</p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver">
                    <img src="~/img/btcpayserver.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver">BTCPay Server</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="http://junglelab.mystagingwebsite.com">
                    <img src="~/img/btcpaylogo2junglelab.png" height="100" />
                </a>
                <p>
                    <a href="https://junglelab.io">JungleLab Store</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://www.dglab.com/en/">
                    <img src="~/img/dglab.gif" height="100" />
                </a>
                <p>
                    <a href="https://www.dglab.com/en/">DG Lab</a>
                <p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <a href="https://metaco.com/">
                    <img src="~/img/metaco.jpg" height="100" />
                </a>
                <p>
                    <a href="https://metaco.com/">Metaco</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="https://ibukingdom.themedia.jp/">
                    <img src="~/img/ibuki.png" height="100" />
                </a>
                <p>
                    <a href="https://ibukingdom.themedia.jp/">Designer</a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <img src="~/img/307px-Bitcoin_logo.png" height="50" />
        <br />
        <br />
        <h2>Donation to this address</h2>
        <hr class="primary">
        <p><img src="~/img/donation.png"></p>
        <p>Bitcoin : 3BUfqbBdJ6QhGhGsfxYaFKYuVQL19Beddx</p>
        <div>
            <p>
                BTCPayJungle maintains operating costs through user donations.
                <br />
                <a href="https://btcpayjungle.com/apps/3BB7MDrDx89CAnkQVupshZrpbMWY/pos">Support BTCPayJungle by donating Bitcoin</a>
                <form method="POST" action="https://btcpayjungle.com/api/v1/invoices">
                    <input type="hidden" name="storeId" value="EDEE4hbCKwc7sp7uXGuhEx4phrGKxjk6mnUd7sCVbgN9" />
                    <input type="hidden" name="price" value="10" />
                    <input type="hidden" name="currency" value="EUR" />
                    <input type="hidden" name="checkoutDesc" value="donation" />
                    <input type="hidden" name="browserRedirect" value="https://btcpayjungle.com" />
                    <input type="hidden" name="notifyEmail" value="support@btcpayjungle.com" />
                    <input type="image" src="https://btcpayjungle.com/img/paybutton/donate.png" name="submit" style="width:146px" alt="Pay with BtcPayJungle, Hosted Bitcoin Payment Processor">
                </form>
            </p>
        </div>
    </div>
</div>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    An open source project is nothing without its community<br />
                    Come and get in touch with us 🛰️
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://chat.btcpayserver.org/"  target="_blank">
                    <img src="~/img/mattermost.png" height="100" />
                </a>
                <p><a href="https://chat.btcpayserver.org/"  target="_blank">On Mattermost</a></p>
            </div>
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://slack.btcpayserver.org/"  target="_blank">
                    <img src="~/img/slack.png" height="100" />
                </a>
                <p><a href="http://slack.forkbitpay.ninja/" target="_blank">On Slack</a></p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://twitter.com/BtcpayServer" target="_blank">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/BtcpayServer" target="_blank">On Twitter</a>
                </p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver" target="_blank">
                    <img src="~/img/github.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver" target="_blank">On Github</a>
                </p>
            </div>
        </div>
    </div>
</section>
