@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>BTCPay Server Greenfield API</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/main/fonts/Roboto.css" rel="stylesheet" asp-append-version="true">
    <link href="~/main/fonts/Montserrat.css" rel="stylesheet" asp-append-version="true">

    <!--
    ReDoc doesn't change outer page styles
    -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <redoc spec-url="@Url.ActionLink("Swagger")"></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.45/bundles/redoc.standalone.js" integrity="sha384-RC31+q3tyqdcilXYaU++ii/FAByqeZ+sjKUHMJ8hMzIY5k4kzNqi4Ett88EZ/4lq" crossorigin="anonymous"></script>
</body>
</html>
