<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ClientApp (OSOS sample)</title>

    <link href="~/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/stylesheets/jumbotron-narrow.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Your application (ClientApp)</h3>
        </div>

        @RenderBody()
        
        <div class="footer">
            <p>&copy; Your company 2014</p>
        </div>

    </div>
</body>
</html>