@model string

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false) {
        <h1>Welcome, @User.Identity.Name</h1>

        <p>
            @foreach (var claim in Context.User.Claims) {
                <div>@claim.Type: <b>@claim.Value</b></div>
            }
        </p>

        if (!string.IsNullOrEmpty(Model)) {
            <h3>Message received from the resource controller: @Model</h3>
        }

        <form action="~/" method="post">
            <button class="btn btn-lg btn-warning" type="submit">Query the resource controller</button>
        </form>

        <a class="btn btn-lg btn-danger" href="/signout">Sign out</a>
    }

    else {
        <h1>Welcome, anonymous</h1>
        <a class="btn btn-lg btn-success" href="/signin">Sign in</a>
    }
</div>