@model BTCPayServer.Components.ThemeSwitch.ThemeSwitchViewModel

<div class="btcpay-theme-switch @Model.CssClass">
    <span class="btcpay-theme-switch-label" text-translate="true">Theme</span>
    <div class="btcpay-theme-switch-themes">
        <button type="button" title="System" data-theme="system"><vc:icon symbol="themes-system"/></button>
        <button type="button" title="Light" data-theme="light"><vc:icon symbol="themes-light"/></button>
        <button type="button" title="Dark" data-theme="dark"><vc:icon symbol="themes-dark"/></button>
    </div>
</div>
