:root {
  /* General color definitions */
  --btcpay-brand-light: #B498FF;
  --btcpay-brand-secondary: #8064ef;
  --btcpay-brand-tertiary: #321a6e;
  --btcpay-brand-dark: #19154B;
  --btcpay-brand-darkest: #02000C;

  /* Color definitions for specific purposes - map the general colors or define additional ones */
  --btcpay-white: #fff;
  --btcpay-black: #000;

  --btcpay-light-100: #F3F1FF;
  --btcpay-light-200: #DCD7FC;
  --btcpay-light-300: #CDC6F3;
  --btcpay-light-400: #AEA7D7;
  --btcpay-light-500: #7a72a0;
  --btcpay-light-600: #8880ad;
  --btcpay-light-700: #49308b;
  --btcpay-light-800: #181334;
  --btcpay-light-900: #100d20;

  --btcpay-primary:            var(--btcpay-brand-secondary);
  --btcpay-primary-backdrop:   #baa4fd;
  --btcpay-primary-accent:     #4b3bc0;
  --btcpay-primary-text:       #4b3bc0;
  --btcpay-secondary:          var(--btcpay-light-600);
  --btcpay-secondary-backdrop: var(--btcpay-light-100);
  --btcpay-secondary-accent:   var(--btcpay-light-500);
  --btcpay-secondary-text:     var(--btcpay-light-400);
  --btcpay-success:            #25933d;
  --btcpay-success-backdrop:   #c3e6cb;
  --btcpay-success-accent:     #137929;
  --btcpay-success-text:       #137929;
  --btcpay-info:               #0698c9;
  --btcpay-info-backdrop:      #c0eefe;
  --btcpay-info-accent:        #0698c9;
  --btcpay-info-text:          #0698c9;
  --btcpay-warning:            #e5ac00;
  --btcpay-warning-backdrop:   #ffeeba;
  --btcpay-warning-accent:     #e5ac00;
  --btcpay-warning-text:       #e5ac00;
  --btcpay-danger:             #bd2130;
  --btcpay-danger-backdrop:    #EDA1B0;
  --btcpay-danger-accent:      #bd2130;
  --btcpay-danger-text:        #bd2130;
  --btcpay-light:              var(--btcpay-light-700);
  --btcpay-light-backdrop:     var(--btcpay-light-700);
  --btcpay-light-accent:       var(--btcpay-light-500);
  --btcpay-light-text:         var(--btcpay-light-200);
  --btcpay-dark:               var(--btcpay-light-200);
  --btcpay-dark-backdrop:      var(--btcpay-light-200);
  --btcpay-dark-accent:        var(--btcpay-light-400);
  --btcpay-dark-text:          var(--btcpay-light-800);

  /* Color definitions for specific sections - try to reuse colors defined above */
  --btcpay-bg-dark: var(--btcpay-brand-dark);
  --btcpay-bg-tile: var(--btcpay-brand-tertiary);
  --btcpay-bg-cta:  var(--btcpay-brand-tertiary);

  --btcpay-body-bg: var(--btcpay-brand-darkest);
  --btcpay-body-color: var(--btcpay-light-100);
  --btcpay-body-color-link: var(--btcpay-primary);
  --btcpay-body-color-link-accent: var(--btcpay-primary-accent);

  --btcpay-header-bg: var(--btcpay-brand-dark);

  --btcpay-wizard-bg: var(--btcpay-body-bg);
  --btcpay-wizard-color: var(--btcpay-body-color);

  --btcpay-header-link-accent: var(--btcpay-light-300);
  --btcpay-header-link-active: var(--btcpay-brand-light);
  --btcpay-nav-link-accent: var(--btcpay-light-100);

  --btcpay-footer-bg: var(--btcpay-brand-darkest);
  --btcpay-footer-text: var(--btcpay-light-600);

  --btcpay-pre-text: var(--btcpay-white);

  --btcpay-font-size-base: 16px;
  --btcpay-font-family-base: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Bootstrap modifications */
body {
  background: linear-gradient(var(--btcpay-header-bg), var(--btcpay-footer-bg));
  background-attachment: fixed;
}

.logo,
.head-logo,
.social-logo {
  filter: contrast(0) brightness(200%);
}

.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

#mainNav {
  background: var(--btcpay-header-bg) !important;
}

header.masthead::before,
.service-box img {
  filter: hue-rotate(100deg) opacity(60%) contrast(125%);
}

.table {
  margin: 1.5rem 0 3rem;
}

.table th {
  border-top: 0;
}

.list-group-item-action {
    color: var(--btcpay-body-color);
}
