:root {
  /* General color definitions */
  --btcpay-brand-light: #CEDC21;
  --btcpay-brand-secondary: #51B13E;
  --btcpay-brand-tertiary: #137547;
  --btcpay-brand-dark: #0F3B21;
  --btcpay-brand-darkest: #05120a;

  /* Color definitions for specific purposes - map the general colors or define additional ones */
  --btcpay-white: #fff;
  --btcpay-black: #000;

  --btcpay-light-100: #f8f9fa;
  --btcpay-light-200: #e9ecef;
  --btcpay-light-300: #dee2e6;
  --btcpay-light-400: #ced4da;
  --btcpay-light-500: #adb5bd;
  --btcpay-light-600: #6c757d;
  --btcpay-light-700: #495057;
  --btcpay-light-800: #343a40;
  --btcpay-light-900: #212529;

  --btcpay-primary:            #329f80;
  --btcpay-primary-backdrop:   rgba(81, 173, 147, 0.25);
  --btcpay-primary-accent:     #267861;
  --btcpay-primary-text:       #267861;
  --btcpay-secondary:          var(--btcpay-light-600);
  --btcpay-secondary-backdrop: rgba(130, 138, 145, 0.25);
  --btcpay-secondary-accent:   var(--btcpay-light-800);
  --btcpay-secondary-text:     var(--btcpay-light-800);
  --btcpay-success:            #329f80;
  --btcpay-success-backdrop:   rgba(72, 180, 97, 0.25);
  --btcpay-success-accent:     #1e7e34;
  --btcpay-success-text:       #1e7e34;
  --btcpay-info:               #17a2b8;
  --btcpay-info-backdrop:      rgba(58, 176, 195, 0.25);
  --btcpay-info-accent:        #117a8b;
  --btcpay-info-text:          #117a8b;
  --btcpay-warning:            #ffc107;
  --btcpay-warning-backdrop:   rgba(255, 193, 7, 0.25);
  --btcpay-warning-accent:     #d39e00;
  --btcpay-warning-text:       var(--btcpay-light-700);
  --btcpay-danger:             #dc3545;
  --btcpay-danger-backdrop:    rgba(225, 83, 97, 0.25);
  --btcpay-danger-accent:      #bd2130;
  --btcpay-danger-text:        #bd2130;
  --btcpay-light:              var(--btcpay-light-200);
  --btcpay-light-backdrop:     var(--btcpay-light-200);
  --btcpay-light-accent:       var(--btcpay-light-100);
  --btcpay-light-text:         var(--btcpay-light-800);
  --btcpay-dark:               var(--btcpay-light-800);
  --btcpay-dark-backdrop:      var(--btcpay-light-800);
  --btcpay-dark-accent:        var(--btcpay-light-900);
  --btcpay-dark-text:          var(--btcpay-light-200);

  /* Color definitions for specific sections - try to reuse colors defined above */
  --btcpay-bg-dark: var(--btcpay-brand-dark);
  --btcpay-bg-tile: var(--btcpay-white);
  --btcpay-bg-cta:  var(--btcpay-bg-dark);

  --btcpay-body-bg: var(--btcpay-light-100);
  --btcpay-body-color: var(--btcpay-light-900);
  --btcpay-body-color-link: var(--btcpay-primary);
  --btcpay-body-color-link-accent: var(--btcpay-primary-accent);

  --btcpay-header-bg: var(--btcpay-bg-dark);
  --btcpay-header-text: var(--btcpay-white);
  --btcpay-header-link: var(--btcpay-white);
  --btcpay-header-link-accent: var(--btcpay-light-300);
  --btcpay-header-link-active: var(--btcpay-light-300);

  --btcpay-wizard-bg: var(--btcpay-body-bg);
  --btcpay-wizard-color: var(--btcpay-body-color);

  --btcpay-footer-bg: var(--btcpay-bg-dark);
  --btcpay-footer-text: var(--btcpay-light-400);

  --btcpay-bg-nav-link-active: #d9f7ef;

  --btcpay-pre-text: var(--btcpay-light-900);

  --btcpay-font-size-base: 14px;
  --btcpay-font-family-base: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Bootstrap modifications */
.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

.table-sm {
  margin: 1.5rem 0;
  background: var(--btcpay-white);
  border: 1px solid var(--btcpay-light-300);
  border-radius: 4px;
  border-collapse: separate !important;
  border-spacing: 0px !important;
}

.table-sm thead > tr {
  height: 40px;
}

.table-sm thead th {
  border-bottom: none;
  border-top: none;
  font-size: 1.0rem;
}

.table-sm th,
.table-sm td {
  padding: 8px 12px;
  vertical-align: middle;
  font-size: 0.92rem;
}

.table-sm tbody tr:hover {
    background-color: var(--btcpay-light-100);
}

.removetopborder tr:first-child th,
.removetopborder tr:first-child td {
  border-top: none;
}

#mainNav.sticky-top {
  background: var(--btcpay-white);
}
