:root {
  --btcpay-border-radius: 4px;
  --btcpay-transition-duration-fast: .2s;
  --btcpay-transition-duration-default: .3s;
  --btcpay-transition-duration-slow: .5s;
  --btcpay-brand-primary: #51b13e;
  --btcpay-brand-secondary: #CEDC21;
  --btcpay-brand-tertiary: #1e7a44;
  --btcpay-brand-dark: #0F3B21;
  --btcpay-white: #ffffff;
  --btcpay-black: #000000;
  --btcpay-neutral-light-100: #f8f9fa;
  --btcpay-neutral-light-200: #e9ecef;
  --btcpay-neutral-light-300: #dee2e6;
  --btcpay-neutral-light-400: #ced4da;
  --btcpay-neutral-light-500: #8f979e;
  --btcpay-neutral-light-600: #6c757d;
  --btcpay-neutral-light-700: #495057;
  --btcpay-neutral-light-800: #343a40;
  --btcpay-neutral-light-900: #292929;
  --btcpay-neutral-dark-100: #F0F6FC;
  --btcpay-neutral-dark-200: #C9D1D9;
  --btcpay-neutral-dark-300: #B1BAC4;
  --btcpay-neutral-dark-400: #8B949E;
  --btcpay-neutral-dark-500: #6E7681;
  --btcpay-neutral-dark-600: #484F58;
  --btcpay-neutral-dark-700: #30363D;
  --btcpay-neutral-dark-800: #21262D;
  --btcpay-neutral-dark-900: #161B22;
  --btcpay-primary-100: #c7e6c1;
  --btcpay-primary-200: #b5dead;
  --btcpay-primary-300: #9dd392;
  --btcpay-primary-400: #7cc46e;
  --btcpay-primary-500: #44a431;
  --btcpay-primary-600: #389725;
  --btcpay-primary-700: #2e8a1b;
  --btcpay-primary-800: #247d12;
  --btcpay-primary-900: #1c710b;
  --btcpay-green-100: #b9d6b4;
  --btcpay-green-200: #a2c89b;
  --btcpay-green-300: #83b679;
  --btcpay-green-400: #5a9e4d;
  --btcpay-green-500: #247e12;
  --btcpay-green-600: #146404;
  --btcpay-green-700: #0e5700;
  --btcpay-green-800: #0c4b00;
  --btcpay-green-900: #0a3e00;
  --btcpay-blue-100: #b5e1e8;
  --btcpay-blue-200: #9dd7e1;
  --btcpay-blue-300: #7ccad7;
  --btcpay-blue-400: #51b9c9;
  --btcpay-blue-500: #17a2b8;
  --btcpay-blue-600: #03899e;
  --btcpay-blue-700: #007d91;
  --btcpay-blue-800: #007284;
  --btcpay-blue-900: #006778;
  --btcpay-yellow-100: #ffebb0;
  --btcpay-yellow-200: #ffe496;
  --btcpay-yellow-300: #ffdc73;
  --btcpay-yellow-400: #ffd045;
  --btcpay-yellow-500: #ffc107;
  --btcpay-yellow-600: #e5ac00;
  --btcpay-yellow-700: #d8a200;
  --btcpay-yellow-800: #cc9900;
  --btcpay-yellow-900: #bf8f00;
  --btcpay-red-100: #ebbcb6;
  --btcpay-red-200: #e4a59e;
  --btcpay-red-300: #dc887e;
  --btcpay-red-400: #d06053;
  --btcpay-red-500: #c12c1a;
  --btcpay-red-600: #a71705;
  --btcpay-red-700: #9a1000;
  --btcpay-red-800: #8e0f00;
  --btcpay-red-900: #810d00;
  --btcpay-purple-100: #F4F1FA;
  --btcpay-purple-200: #E3DDF2;
  --btcpay-purple-300: #C1B5E3;
  --btcpay-purple-400: #957FCE;
  --btcpay-purple-500: #7356BF;
  --btcpay-purple-600: #574191;
  --btcpay-purple-700: #453473;
  --btcpay-purple-800: #2E224C;
  --btcpay-orange-100: #FFF3EF;
  --btcpay-orange-200: #FFE1D6;
  --btcpay-orange-300: #FABDA5;
  --btcpay-orange-400: #FA9269;
  --btcpay-orange-500: #FF6937;
  --btcpay-orange-600: #C14F29;
  --btcpay-orange-700: #9A3F21;
  --btcpay-orange-800: #672A16;
  --btcpay-brown-100: #F6F0EA;
  --btcpay-brown-200: #EBE0DB;
  --btcpay-brown-300: #D2BBB0;
  --btcpay-brown-400: #B18977;
  --btcpay-brown-500: #99644C;
  --btcpay-brown-600: #744C3A;
  --btcpay-brown-700: #5C3C2E;
  --btcpay-brown-800: #3D281E;
  --btcpay-pink-100: #FFEDF9;
  --btcpay-pink-200: #FFCEE5;
  --btcpay-pink-300: #FFACD6;
  --btcpay-pink-400: #FE82C2;
  --btcpay-pink-500: #F162AF;
  --btcpay-pink-600: #BB4183;
  --btcpay-pink-700: #7D2457;
  --btcpay-pink-800: #5E103E;
  --btcpay-space-xs: 5px;
  --btcpay-space-s: 10px;
  --btcpay-space-m: 20px;
  --btcpay-space-l: 40px;
  --btcpay-space-xl: 60px;
  --btcpay-space-xxl: 80px;
  --btcpay-font-family-base: "Open Sans" , "Helvetica Neue" , Arial , sans-serif;
  --btcpay-font-family-monospace: SFMono-Regular , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
  --btcpay-font-size-xs: 10px;
  --btcpay-font-size-s: 12px;
  --btcpay-font-size-m: 14px;
  --btcpay-font-size-l: 18px;
  --btcpay-font-size-xl: 36px;
  --btcpay-font-size-xxl: 45px;
  --btcpay-font-weight-normal: 400;
  --btcpay-font-weight-semibold: 600;
  --btcpay-font-weight-bold: 700;
  --btcpay-neutral-100: var(--btcpay-neutral-light-100);
  --btcpay-neutral-200: var(--btcpay-neutral-light-200);
  --btcpay-neutral-300: var(--btcpay-neutral-light-300);
  --btcpay-neutral-400: var(--btcpay-neutral-light-400);
  --btcpay-neutral-500: var(--btcpay-neutral-light-500);
  --btcpay-neutral-600: var(--btcpay-neutral-light-600);
  --btcpay-neutral-700: var(--btcpay-neutral-light-700);
  --btcpay-neutral-800: var(--btcpay-neutral-light-800);
  --btcpay-neutral-900: var(--btcpay-neutral-light-900);
  --btcpay-font-size-base: var(--btcpay-font-size-m);
  --btcpay-bg-tile: var(--btcpay-white);
  --btcpay-bg-dark: var(--btcpay-brand-dark);
  --btcpay-body-bg: var(--btcpay-neutral-100);
  --btcpay-body-bg-light: var(--btcpay-white);
  --btcpay-body-bg-medium: var(--btcpay-neutral-200);
  --btcpay-body-bg-striped: var(--btcpay-neutral-200);
  --btcpay-body-bg-hover: var(--btcpay-neutral-200);
  --btcpay-body-bg-active: var(--btcpay-primary);
  --btcpay-body-border-light: var(--btcpay-neutral-200);
  --btcpay-body-border-medium: var(--btcpay-neutral-300);
  --btcpay-body-text: var(--btcpay-neutral-900);
  --btcpay-body-text-striped: var(--btcpay-body-text);
  --btcpay-body-text-hover: var(--btcpay-body-text);
  --btcpay-body-text-active: var(--btcpay-white);
  --btcpay-body-text-muted: var(--btcpay-neutral-500);
  --btcpay-body-link: var(--btcpay-primary);
  --btcpay-body-link-accent: var(--btcpay-primary);
  --btcpay-body-shadow: rgba(25, 135, 84, 0.33);
  --btcpay-wizard-bg: var(--btcpay-white);
  --btcpay-wizard-color: var(--btcpay-body-text);
  --btcpay-header-bg: var(--btcpay-white);
  --btcpay-header-text: var(--btcpay-body-text);
  --btcpay-header-link: var(--btcpay-header-text);
  --btcpay-header-link-accent: var(--btcpay-primary);
  --btcpay-header-link-active: var(--btcpay-primary-accent);
  --btcpay-nav-link: var(--btcpay-neutral-600);
  --btcpay-nav-link-accent: var(--btcpay-neutral-700);
  --btcpay-nav-link-active: var(--btcpay-neutral-900);
  --btcpay-nav-bg: transparent;
  --btcpay-nav-bg-hover: transparent;
  --btcpay-nav-bg-active: transparent;
  --btcpay-nav-border: transparent;
  --btcpay-nav-border-hover: transparent;
  --btcpay-nav-border-active: var(--btcpay-primary);
  --btcpay-form-bg: var(--btcpay-white);
  --btcpay-form-bg-hover: var(--btcpay-form-bg);
  --btcpay-form-bg-addon: var(--btcpay-neutral-300);
  --btcpay-form-bg-disabled: var(--btcpay-neutral-200);
  --btcpay-form-text: var(--btcpay-neutral-900);
  --btcpay-form-text-label: var(--btcpay-neutral-700);
  --btcpay-form-text-addon: var(--btcpay-neutral-700);
  --btcpay-form-border: var(--btcpay-neutral-300);
  --btcpay-form-border-focus: var(--btcpay-form-border);
  --btcpay-form-border-active: var(--btcpay-form-border);
  --btcpay-form-border-disabled: var(--btcpay-form-border);
  --btcpay-form-shadow-focus: var(--btcpay-primary-shadow);
  --btcpay-form-shadow-valid: var(--btcpay-success-shadow);
  --btcpay-form-shadow-invalid: var(--btcpay-danger-shadow);
  --btcpay-footer-bg: var(--btcpay-brand-dark);
  --btcpay-footer-text: var(--btcpay-neutral-400);
  --btcpay-footer-link: var(--btcpay-neutral-400);
  --btcpay-footer-link-accent: var(--btcpay-neutral-100);
  --btcpay-code-text: var(--btcpay-body-text);
  --btcpay-code-bg: transparent;
  --btcpay-pre-text: var(--btcpay-white);
  --btcpay-pre-bg: var(--btcpay-neutral-900);
  --btcpay-primary: var(--btcpay-brand-primary);
  --btcpay-primary-accent: var(--btcpay-brand-tertiary);
  --btcpay-primary-text: var(--btcpay-white);
  --btcpay-primary-text-hover: var(--btcpay-white);
  --btcpay-primary-text-active: var(--btcpay-white);
  --btcpay-primary-bg-hover: var(--btcpay-primary-accent);
  --btcpay-primary-bg-active: var(--btcpay-primary-accent);
  --btcpay-primary-border: var(--btcpay-primary);
  --btcpay-primary-border-hover: var(--btcpay-primary-bg-hover);
  --btcpay-primary-border-active: var(--btcpay-primary-bg-active);
  --btcpay-primary-dim-bg: var(--btcpay-primary-500);
  --btcpay-primary-dim-bg-striped: var(--btcpay-primary-400);
  --btcpay-primary-dim-bg-hover: var(--btcpay-primary-600);
  --btcpay-primary-dim-bg-active: var(--btcpay-primary-700);
  --btcpay-primary-dim-border: var(--btcpay-primary-dim-bg);
  --btcpay-primary-dim-border-active: var(--btcpay-primary-dim-bg-active);
  --btcpay-primary-dim-text: var(--btcpay-white);
  --btcpay-primary-dim-text-striped: var(--btcpay-primary-dim-text);
  --btcpay-primary-dim-text-hover: var(--btcpay-primary-dim-text);
  --btcpay-primary-dim-text-active: var(--btcpay-primary-900);
  --btcpay-primary-shadow: rgba(25, 135, 84, 0.33);
  --btcpay-secondary: var(--btcpay-neutral-500);
  --btcpay-secondary-accent: var(--btcpay-neutral-700);
  --btcpay-secondary-text: var(--btcpay-white);
  --btcpay-secondary-text-hover: var(--btcpay-white);
  --btcpay-secondary-text-active: var(--btcpay-white);
  --btcpay-secondary-bg-hover: var(--btcpay-secondary-accent);
  --btcpay-secondary-bg-active: var(--btcpay-secondary-accent);
  --btcpay-secondary-border: var(--btcpay-secondary);
  --btcpay-secondary-border-hover: var(--btcpay-secondary-bg-hover);
  --btcpay-secondary-border-active: var(--btcpay-secondary-bg-active);
  --btcpay-secondary-dim-bg: var(--btcpay-neutral-200);
  --btcpay-secondary-dim-bg-striped: var(--btcpay-neutral-300);
  --btcpay-secondary-dim-bg-hover: var(--btcpay-neutral-300);
  --btcpay-secondary-dim-bg-active: var(--btcpay-neutral-400);
  --btcpay-secondary-dim-border: var(--btcpay-secondary-dim-bg);
  --btcpay-secondary-dim-border-active: var(--btcpay-secondary-dim-bg-active);
  --btcpay-secondary-dim-text: var(--btcpay-neutral-800);
  --btcpay-secondary-dim-text-striped: var(--btcpay-secondary-dim-text);
  --btcpay-secondary-dim-text-hover: var(--btcpay-secondary-dim-text);
  --btcpay-secondary-dim-text-active: var(--btcpay-neutral-900);
  --btcpay-secondary-shadow: rgba(130, 138, 145, 0.33);
  --btcpay-success: var(--btcpay-green-500);
  --btcpay-success-accent: var(--btcpay-green-700);
  --btcpay-success-text: var(--btcpay-white);
  --btcpay-success-text-hover: var(--btcpay-white);
  --btcpay-success-text-active: var(--btcpay-white);
  --btcpay-success-bg-hover: var(--btcpay-success-accent);
  --btcpay-success-bg-active: var(--btcpay-success-accent);
  --btcpay-success-border: var(--btcpay-success);
  --btcpay-success-border-hover: var(--btcpay-success-bg-hover);
  --btcpay-success-border-active: var(--btcpay-success-bg-active);
  --btcpay-success-dim-bg: var(--btcpay-green-100);
  --btcpay-success-dim-bg-striped: var(--btcpay-green-200);
  --btcpay-success-dim-bg-hover: var(--btcpay-green-200);
  --btcpay-success-dim-bg-active: var(--btcpay-green-300);
  --btcpay-success-dim-border: var(--btcpay-success-dim-bg);
  --btcpay-success-dim-border-active: var(--btcpay-success-dim-bg-active);
  --btcpay-success-dim-text: var(--btcpay-green-800);
  --btcpay-success-dim-text-striped: var(--btcpay-success-dim-text);
  --btcpay-success-dim-text-hover: var(--btcpay-success-dim-text);
  --btcpay-success-dim-text-active: var(--btcpay-green-900);
  --btcpay-success-shadow: rgba(60, 153, 110, 0.33);
  --btcpay-info: var(--btcpay-blue-500);
  --btcpay-info-accent: var(--btcpay-blue-700);
  --btcpay-info-text: var(--btcpay-white);
  --btcpay-info-text-hover: var(--btcpay-white);
  --btcpay-info-text-active: var(--btcpay-white);
  --btcpay-info-bg-hover: var(--btcpay-info-accent);
  --btcpay-info-bg-active: var(--btcpay-info-accent);
  --btcpay-info-border: var(--btcpay-info);
  --btcpay-info-border-hover: var(--btcpay-info-bg-hover);
  --btcpay-info-border-active: var(--btcpay-info-bg-active);
  --btcpay-info-dim-bg: var(--btcpay-blue-100);
  --btcpay-info-dim-bg-striped: var(--btcpay-blue-200);
  --btcpay-info-dim-bg-hover: var(--btcpay-blue-200);
  --btcpay-info-dim-bg-active: var(--btcpay-blue-300);
  --btcpay-info-dim-border: var(--btcpay-info-dim-bg);
  --btcpay-info-dim-border-active: var(--btcpay-info-dim-bg-active);
  --btcpay-info-dim-text: var(--btcpay-blue-800);
  --btcpay-info-dim-text-striped: var(--btcpay-info-dim-text);
  --btcpay-info-dim-text-hover: var(--btcpay-info-dim-text);
  --btcpay-info-dim-text-active: var(--btcpay-blue-900);
  --btcpay-info-shadow: rgba(11, 172, 204, 0.33);
  --btcpay-warning: var(--btcpay-yellow-500);
  --btcpay-warning-accent: var(--btcpay-yellow-700);
  --btcpay-warning-text: var(--btcpay-neutral-900);
  --btcpay-warning-text-hover: var(--btcpay-neutral-900);
  --btcpay-warning-text-active: var(--btcpay-neutral-900);
  --btcpay-warning-bg-hover: var(--btcpay-warning-accent);
  --btcpay-warning-bg-active: var(--btcpay-warning-accent);
  --btcpay-warning-border: var(--btcpay-warning);
  --btcpay-warning-border-hover: var(--btcpay-warning-bg-hover);
  --btcpay-warning-border-active: var(--btcpay-warning-bg-active);
  --btcpay-warning-dim-bg: var(--btcpay-yellow-100);
  --btcpay-warning-dim-bg-striped: var(--btcpay-yellow-200);
  --btcpay-warning-dim-bg-hover: var(--btcpay-yellow-200);
  --btcpay-warning-dim-bg-active: var(--btcpay-yellow-300);
  --btcpay-warning-dim-border: var(--btcpay-warning-dim-bg);
  --btcpay-warning-dim-border-active: var(--btcpay-warning-dim-bg-active);
  --btcpay-warning-dim-text: var(--btcpay-neutral-800);
  --btcpay-warning-dim-text-striped: var(--btcpay-warning-dim-text);
  --btcpay-warning-dim-text-hover: var(--btcpay-warning-dim-text);
  --btcpay-warning-dim-text-active: var(--btcpay-yellow-900);
  --btcpay-warning-shadow: rgba(217, 164, 6, 0.33);
  --btcpay-danger: var(--btcpay-red-500);
  --btcpay-danger-accent: var(--btcpay-red-700);
  --btcpay-danger-text: var(--btcpay-white);
  --btcpay-danger-text-hover: var(--btcpay-white);
  --btcpay-danger-text-active: var(--btcpay-white);
  --btcpay-danger-bg-hover: var(--btcpay-danger-accent);
  --btcpay-danger-bg-active: var(--btcpay-danger-accent);
  --btcpay-danger-border: var(--btcpay-danger);
  --btcpay-danger-border-hover: var(--btcpay-danger-bg-hover);
  --btcpay-danger-border-active: var(--btcpay-danger-bg-active);
  --btcpay-danger-dim-bg: var(--btcpay-red-100);
  --btcpay-danger-dim-bg-striped: var(--btcpay-red-200);
  --btcpay-danger-dim-bg-hover: var(--btcpay-red-200);
  --btcpay-danger-dim-bg-active: var(--btcpay-red-300);
  --btcpay-danger-dim-border: var(--btcpay-danger-dim-bg);
  --btcpay-danger-dim-border-active: var(--btcpay-danger-dim-bg-active);
  --btcpay-danger-dim-text: var(--btcpay-red-800);
  --btcpay-danger-dim-text-striped: var(--btcpay-danger-dim-text);
  --btcpay-danger-dim-text-hover: var(--btcpay-danger-dim-text);
  --btcpay-danger-dim-text-active: var(--btcpay-red-900);
  --btcpay-danger-shadow: rgba(225, 83, 97, 0.33);
  --btcpay-light: var(--btcpay-neutral-200);
  --btcpay-light-accent: var(--btcpay-neutral-400);
  --btcpay-light-text: var(--btcpay-neutral-800);
  --btcpay-light-text-hover: var(--btcpay-neutral-800);
  --btcpay-light-text-active: var(--btcpay-neutral-800);
  --btcpay-light-bg-hover: var(--btcpay-light-accent);
  --btcpay-light-bg-active: var(--btcpay-light-accent);
  --btcpay-light-border: var(--btcpay-light);
  --btcpay-light-border-hover: var(--btcpay-light-bg-hover);
  --btcpay-light-border-active: var(--btcpay-light-bg-active);
  --btcpay-light-dim-bg: var(--btcpay-white);
  --btcpay-light-dim-bg-striped: var(--btcpay-neutral-200);
  --btcpay-light-dim-bg-hover: var(--btcpay-neutral-200);
  --btcpay-light-dim-bg-active: var(--btcpay-neutral-300);
  --btcpay-light-dim-border: var(--btcpay-light-dim-bg);
  --btcpay-light-dim-border-active: var(--btcpay-light-dim-bg-active);
  --btcpay-light-dim-text: var(--btcpay-neutral-800);
  --btcpay-light-dim-text-striped: var(--btcpay-light-dim-text);
  --btcpay-light-dim-text-hover: var(--btcpay-light-dim-text);
  --btcpay-light-dim-text-active: var(--btcpay-neutral-900);
  --btcpay-light-shadow: rgba(211, 212, 213, 0.33);
  --btcpay-dark: var(--btcpay-neutral-800);
  --btcpay-dark-accent: var(--btcpay-black);
  --btcpay-dark-text: var(--btcpay-neutral-200);
  --btcpay-dark-text-hover: var(--btcpay-neutral-200);
  --btcpay-dark-text-active: var(--btcpay-neutral-200);
  --btcpay-dark-bg-hover: var(--btcpay-dark-accent);
  --btcpay-dark-bg-active: var(--btcpay-dark-accent);
  --btcpay-dark-border: var(--btcpay-dark);
  --btcpay-dark-border-hover: var(--btcpay-dark-bg-hover);
  --btcpay-dark-border-active: var(--btcpay-dark-bg-active);
  --btcpay-dark-dim-bg: var(--btcpay-neutral-900);
  --btcpay-dark-dim-bg-striped: var(--btcpay-neutral-900);
  --btcpay-dark-dim-bg-hover: var(--btcpay-neutral-800);
  --btcpay-dark-dim-bg-active: var(--btcpay-neutral-700);
  --btcpay-dark-dim-border: var(--btcpay-dark-dim-bg);
  --btcpay-dark-dim-border-active: var(--btcpay-dark-dim-bg-active);
  --btcpay-dark-dim-text: var(--btcpay-neutral-200);
  --btcpay-dark-dim-text-striped: var(--btcpay-dark-dim-text);
  --btcpay-dark-dim-text-hover: var(--btcpay-dark-dim-text);
  --btcpay-dark-dim-text-active: var(--btcpay-neutral-100);
  --btcpay-dark-shadow: rgba(66, 70, 73, 0.33);
}

/* Bootstrap modifications */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

.table-sm {
  width: calc(100% + 1rem);
  margin: 1.5rem -.5rem;
  border-radius: 4px;
  border-collapse: separate !important;
  border-spacing: 0px !important;
}

.table-sm thead > tr {
  height: 40px;
}

.table-sm thead th {
  border-bottom: 2px solid var(--btcpay-body-border-medium);
  border-top: none;
  font-size: 1.0rem;
  color: var(--btcpay-secondary);
}

.table-sm th,
.table-sm td {
  padding: .5rem;
}

.table-sm tbody tr:first-child td {
  border-top: none;
}

.list-group-item-action:hover,
.table-sm tbody tr:hover {
  background-color: var(--btcpay-white);
}

.table-sm.table-sm-nohover tbody tr:hover {
  background-color: transparent;
}

.removetopborder tr:first-child th,
.removetopborder tr:first-child td {
  border-top: none;
}

#mainNav {
  background: var(--btcpay-header-bg);
}

header.masthead::before,
.service-box img {
  filter: hue-rotate(318deg);
}
