:root {
  --btcpay-color-white:    #fff;
  --btcpay-color-black:    #000;

  --btcpay-color-neutral-100: #FBFAF8;
  --btcpay-color-neutral-200: #F5F5F3;
  --btcpay-color-neutral-300: #E5E5E5;
  --btcpay-color-neutral-400: #ced4da;
  --btcpay-color-neutral-500: #adb5bd;
  --btcpay-color-neutral-600: #536E8D;
  --btcpay-color-neutral-700: #465C76;
  --btcpay-color-neutral-800: #244B71;
  --btcpay-color-neutral-900: #202C39;

  --btcpay-color-primary:          #329f80;
  --btcpay-color-primary-accent:   #267861;
  --btcpay-color-primary-backdrop:    rgba(81, 173, 147, 0.2);
  --btcpay-color-secondary:        var(--btcpay-color-neutral-600);
  --btcpay-color-secondary-accent: var(--btcpay-color-neutral-800);
  --btcpay-color-secondary-backdrop:  rgba(130, 138, 145, 0.25);
  --btcpay-color-success:          #329f80;
  --btcpay-color-success-accent:   #1e7e34;
  --btcpay-color-success-backdrop:    rgba(72, 180, 97, 0.25);
  --btcpay-color-info:             #17a2b8;
  --btcpay-color-info-accent:      #117a8b;
  --btcpay-color-info-backdrop:       rgba(58, 176, 195, 0.25);
  --btcpay-color-warning:          #ffc107;
  --btcpay-color-warning-accent:   #d39e00;
  --btcpay-color-warning-backdrop:    rgba(222, 170, 12, 0.25);
  --btcpay-color-danger:           #dc3545;
  --btcpay-color-danger-accent:    #bd2130;
  --btcpay-color-danger-backdrop:     rgba(225, 83, 97, 0.25);
  --btcpay-color-light:            var(--btcpay-color-neutral-100);
  --btcpay-color-light-accent:     #dae0e5;
  --btcpay-color-light-backdrop:      rgba(216, 217, 219, 0.25);
  --btcpay-color-dark:             var(--btcpay-color-neutral-900);
  --btcpay-color-dark-accent:      #1d2124;
  --btcpay-color-dark-backdrop:       rgba(82, 88, 93, 0.25);

  --btcpay-bg-body: var(--btcpay-color-neutral-100);
  --btcpay-bg-dark: var(--btcpay-color-neutral-900);
  --btcpay-bg-tile: var(--btcpay-color-white);
  --btcpay-bg-cta: var(--btcpay-bg-dark);

  --btcpay-body-color: var(--btcpay-color-neutral-900);
  --btcpay-body-color-link: var(--btcpay-color-primary);
  --btcpay-body-color-link-accent: var(--btcpay-color-primary-accent);

  --btcpay-preformatted-text-color: var(--btcpay-color-neutral-900);

  --btcpay-font-size-base: 16px;
  --btcpay-font-family-head: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-base: -apple-system, 'Open Sans', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Bootstrap modifications */
html {
  font-size: var(--btcpay-font-size-base);
}

.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

header.masthead::before,
.service-box img {
  filter: hue-rotate(410deg) saturate(33%); }

.table {
  margin: 1.5rem 0 3rem;
}

.table th {
  border-top: 0;
}
