@{
    ViewData["Title"] = "Email sent!";
}

<div class="row">
    <div class="col-md-4">
        <h4>@ViewData["Title"]</h4>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
