@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutSignedOut";
}

<p>
    We all forget passwords every now and then. Just provide email address tied to
    your account and we'll start the process of helping you recover your account.
</p>

<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
    </div>
</form>

<p class="text-center mt-2 mb-0">
    <a id="Login" style="font-size:1.15rem" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log in</a>
</p>
