@{
    ViewData["Title"] = "Email sent!";
    Layout = "_LayoutSignedOut";
}

<p>Please check your email to reset your password.</p>

<p class="text-center mt-2 mb-0">
    <a id="Login" style="font-size:1.15rem" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log in</a>
</p>
