@model DateTimeOffset? 
@{
    ViewData["Title"] = "Account disabled";
    Layout = "_LayoutSignedOut";
}

@if (Model is null)
{
    <p class="mb-0">This account has been locked out because of multiple invalid login attempts. Please try again later.</p>  
}
else if (DateTimeOffset.MaxValue - Model.Value < TimeSpan.FromSeconds(1))
{
    <p class="mb-0">Your account has been disabled. Please contact server administrator.</p>
}
else
{
    <p class="mb-0">This account has been locked out. Please try again @Model.Value.ToBrowserDate(ViewsRazor.DateDisplayFormat.Relative).</p>  
}
