@model LoginWithAuthenticatorModel

<div class="twoFaBox">
    <h2 class="h3 mb-3" text-translate="true">Two-Factor Authentication</h2>
    <form method="post" asp-action="LoginWithAuthenticator">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="ModelOnly"></div>
        }
        <div class="form-group">
            <label asp-for="TwoFactorCode" class="form-label"></label>
            <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" autofocus style="width:14ch"/>
            <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" text-translate="true">Log in</button>
        </div>
    </form>
</div>
