@model SecondaryLoginViewModel
@{
    ViewData["Title"] = "Two-factor/U2F authentication";
    Layout = "_LayoutSignedOut";
    ViewBag.ShowTitle = false;
}

@section PageHeadContent {
    <style>.twoFaBox + .twoFaBox { margin-top: var(--btcpay-space-l); padding-top: var(--btcpay-space-l); border-top: 1px solid var(--btcpay-body-border-light); }</style>
}

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_StatusMessage" />

<div class="row justify-content-center">
    @if (Model.LoginWithAuthenticator != null)
    {
        <partial name="LoginWithAuthenticator" model="@Model.LoginWithAuthenticator" />
    }
    @if (Model.LoginWithFido2ViewModel != null)
    {
        <partial name="LoginWithFido2" model="@Model.LoginWithFido2ViewModel" />
    }
    @if (Model.LoginWithLNURLAuthViewModel != null)
    {
        <partial name="LoginWithLNURLAuth" model="@Model.LoginWithLNURLAuthViewModel" />
    }
</div>
