@model BTCPayServer.Models.AccountViewModels.SetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_LayoutSignedOut";
}

<form method="post" asp-action="SetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden"/>
    <input asp-for="EmailSetInternally" type="hidden"/>
    @if (Model.EmailSetInternally)
    {
        <input asp-for="Email" type="hidden"/>
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input type="text" disabled value="@Model.Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    }
    else
    {
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" value="@Model.Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100 btn-lg" id="SetPassword">Set Password</button>
</form>
