@model BTCPayServer.Components.StoreWalletBalance.StoreWalletBalanceViewModel

<div class="widget store-wallet-balance">
    <h6 class="mb-2">Wallet Balance</h6>
    <header class="mb-3">
        <div class="balance">
            <h3 class="d-inline-block me-1">0.61502100</h3>
            <span class="text-secondary fw-semibold">@Model.CryptoCode</span>
        </div>
        <div class="btn-group mt-1" role="group" aria-label="Filter">
            <input type="radio" class="btn-check" name="filter" id="filter-1d">
            <label class="btn btn-link" for="filter-1d">1D</label>
            <input type="radio" class="btn-check" name="filter" id="filter-1w" checked>
            <label class="btn btn-link" for="filter-1w">1W</label>
            <input type="radio" class="btn-check" name="filter" id="filter-1m">
            <label class="btn btn-link" for="filter-1m">1M</label>
            <input type="radio" class="btn-check" name="filter" id="filter-1y">
            <label class="btn btn-link" for="filter-1y">1Y</label>
            <input type="radio" class="btn-check" name="filter" id="filter-all">
            <label class="btn btn-link" for="filter-all">ALL</label>
        </div>
    </header>
    <div class="chart-container">
        <canvas id="StoreWalletBalance-@Model.Store.Id"></canvas>
    </div>
    <script>
        (function () {
            const data = {
                datasets: [{
                    type: 'line',
                    data: {
                        'Jun 12': 0.1257,
                        'Jun 13': 0.238,
                        'Jun 14': 0.21854,
                        'Jun 15': 0.3875,
                        'Jun 16': 0.41745,
                        'Jun 17': 0.39853,
                        'Jun 18': 0.4521,
                        'Jun 19': 0.615021
                    }
                }],
            };
            const options = {
                aspectRatio: 3,
                plugins: {
                    legend: { display: false }
                }
            }
            const ctx = document.getElementById('StoreWalletBalance-@Model.Store.Id');
            new Chart(ctx, { data, options });
        })();
    </script>
</div>
