@model WalletSetupViewModel
@{
    Layout = "_LayoutWalletSetup";
    ViewData.SetActivePage(StoreNavPages.OnchainSettings, "Import your wallet file", $"{Context.GetStoreData().Id}-{Model.CryptoCode}");
}

@section Navbar {
    <a asp-controller="UIStores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="">
        <vc:icon symbol="back" />
    </a>
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p class="lead text-secondary mt-3">Upload the file exported from your wallet.</p>
</header>

<form method="post" enctype="multipart/form-data" class="my-5">
    <div class="form-group">
        <label asp-for="WalletFile" class="form-label"></label>
        <input asp-for="WalletFile" type="file" class="form-control" required>
        <span asp-validation-for="WalletFile" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Continue</button>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Wallet</th>
        <th>Instructions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-nowrap">Cobo Vault</td>
        <td>Settings ❯ Watch-Only Wallet ❯ BTCPay ❯ Export Wallet</td>
    </tr>
    <tr>
        <td>ColdCard</td>
        <td>Advanced ❯ MicroSD Card ❯ Export Wallet ❯ Electrum Wallet</td>
    </tr>
    <tr>
        <td>Electrum</td>
        <td>File ❯ Save backup (not encrypted with a password)</td>
    </tr>
	<tr>
		<td>Sparrow</td>
		<td>File ❯ Export wallet… ❯ Electrum: export file…</td>
	</tr>
    <tr>
        <td>Wasabi</td>
        <td>Tools ❯ Wallet Manager ❯ Open Wallets Folder</td>
    </tr>
     <tr>
        <td class="text-nowrap">Specter Desktop</td>
        <td>Wallet ❯ Settings ❯ Export ❯ Export To Wallet Software ❯ Save wallet file</td>
    </tr>
     <tr>
        <td>Passport</td>
        <td>Wallet ❯ Connect Wallet ❯ BTCPay ❯ microSD ❯ Save wallet file</td>
    </tr>   
     <tr>
        <td>Nunchuk</td>
        <td>... ❯ Export wallet configuration</td>
    </tr>    
    </tbody>
</table>
