@model BTCPayServer.Models.StoreViewModels.CreateStoreViewModel

<form asp-action="CreateStore">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="form-label" data-required></label>
        <input asp-for="Name" class="form-control w-300px" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DefaultCurrency" class="form-label" data-required></label>
        <input asp-for="DefaultCurrency" class="form-control w-300px" currency-selection />
        <span asp-validation-for="DefaultCurrency" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreferredExchange" class="form-label" data-required></label>
        <select asp-for="PreferredExchange" asp-items="Model.Exchanges" class="form-select w-300px"></select>
        <div class="form-text mt-2 only-for-js">The recommended price source gets chosen based on the default currency.</div>
        <span asp-validation-for="PreferredExchange" class="text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <input type="submit" value="Create Store" class="btn btn-primary" id="Create" />
    </div>
</form>
