@model BTCPayServer.Models.StoreViewModels.CreateStoreViewModel
@{
    ViewData.SetActivePage(StoreNavPages.Create, "Create a new store");
}

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
}

<partial name="_StatusMessage" />

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="CreateStore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label" data-required></label>
                <input asp-for="Name" class="form-control w-300px" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultCurrency" class="form-label" data-required></label>
                <input asp-for="DefaultCurrency" class="form-control w-300px" currency-selection />
                <span asp-validation-for="DefaultCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredExchange" class="form-label" data-required></label>
                <select asp-for="PreferredExchange" asp-items="Model.Exchanges" class="form-select w-300px"></select>
                <span asp-validation-for="PreferredExchange" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" id="Create" />
            </div>
        </form>
    </div>
</div>
