@using BTCPayServer.Views.Notifications
@using BTCPayServer.Abstractions.Extensions
@model BTCPayServer.Components.Notifications.NotificationsViewModel

<div id="Notifications">
    @if (Model.UnseenCount > 0)
    {
        <button id="NotificationsHandle" class="mainMenuButton @ViewData.IsActiveCategory(typeof(NotificationsNavPages))" title="Notifications" type="button" data-bs-toggle="dropdown">
            <vc:icon symbol="notifications" />
            <span class="badge rounded-pill bg-danger p-1 ms-1" id="NotificationsBadge">@Model.UnseenCount</span>
        </button>
        <div class="dropdown-menu text-center" id="NotificationsDropdown" aria-labelledby="NotificationsHandle">
            <div class="d-flex gap-3 align-items-center justify-content-between py-3 px-4 border-bottom border-light">
                <h5 class="m-0">Notifications</h5>
                <form id="notificationsForm" asp-controller="UINotifications" asp-action="MarkAllAsSeen" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <button class="btn btn-link p-0" type="submit">Mark all as seen</button>
                </form>
            </div>
            <partial name="Components/Notifications/List" model="Model"/>
            <div class="p-3">
                <a asp-controller="UINotifications" asp-action="Index">View all</a>
            </div>
        </div>
    }
    else
    {
        <a asp-controller="UINotifications" asp-action="Index" id="NotificationsHandle" class="mainMenuButton @ViewData.IsActiveCategory(typeof(NotificationsNavPages))" title="Notifications">
            <vc:icon symbol="notifications" />
        </a>
    }
</div>
