@model BTCPayServer.Components.Notifications.NotificationsViewModel

<div id="NotificationsRecent">
    @if (Model.Last5.Any())
    {
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-0">Recent Notifications</h4>
            <a asp-controller="UINotifications" asp-action="Index">View all</a>
        </div>
        <partial name="Components/Notifications/List" model="Model"/>
    }
    else
    {
        <h4 class="mb-3">Notifications</h4>
        <p class="text-secondary mt-3">
            There are no recent unseen notifications.
        </p>
    }
</div>
