@using BTCPayServer.Views.Stores
@using BTCPayServer.Abstractions.Extensions
@{
    var store = Context.GetStoreData();
}

<li class="nav-item">
    <a asp-area="" asp-controller="UIShopify" asp-action="EditShopify" asp-route-storeId="@store.Id" class="nav-link js-scroll-trigger @ViewData.IsActivePage("shopify", nameof(StoreNavPages))" id="StoreNav-Shopify">
        <vc:icon symbol="shopify"/>
        <span>Shopify</span>
    </a>
</li>
