@model WalletSetupViewModel
@addTagHelper *, BundlerMinifier.TagHelpers
@{
    Layout = "_LayoutWalletSetup";
    ViewData["Title"] = $"Enter your extended public key";
}

@section Navbar {
    <a asp-controller="Stores" asp-action="ImportWalletOptions" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="">
        <vc:icon symbol="back" />
    </a>
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p class="lead text-secondary mt-3">
        The extended public key facilitates generation of the destination addresses for your invoices so funds can be received on-chain.
        <a href="https://docs.btcpayserver.org/FAQ/FAQ-Wallet/#what-is-a-derivation-scheme" target="_blank"><span class="fa fa-question-circle-o" title="More information..."></span></a>
    </p>
</header>

<form method="post">
    <input asp-for="Config" type="hidden" />
    <input asp-for="CryptoCode" type="hidden" />
    <input asp-for="DerivationSchemeFormat" type="hidden" />
    <input asp-for="AccountKey" type="hidden" />

    <div class="form-group">
        <label asp-for="DerivationScheme">Extended public key</label>
        <textarea asp-for="DerivationScheme" class="form-control store-derivation-scheme text-monospace py-2" rows="2"></textarea>
        <span asp-validation-for="DerivationScheme" class="text-danger"></span>
    </div>

    <table class="table table-sm table-responsive-md">
        <thead>
        <tr>
            <th>Address type</th>
            <th class="text-right">Example</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>P2WPKH</td>
            <td class="text-right"><code>xpub...</code></td>
        </tr>
        <tr>
            <td>P2SH-P2WPKH</td>
            <td class="text-right"><code>xpub...-[p2sh]</code></td>
        </tr>
        <tr>
            <td>P2PKH</td>
            <td class="text-right"><code>xpub...-[legacy]</code></td>
        </tr>
        <tr>
            <td>Multi-sig P2WSH</td>
            <td class="text-right"><code>2-of-xpub1...-xpub2...</code></td>
        </tr>
        <tr>
            <td>Multi-sig P2SH-P2WSH</td>
            <td class="text-right"><code>2-of-xpub1...-xpub2...-[p2sh]</code></td>
        </tr>
        <tr>
            <td>Multi-sig P2SH</td>
            <td class="text-right"><code>2-of-xpub1...-xpub2...-[legacy]</code></td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="Enabled" type="checkbox" class="form-check-input" />
            <label asp-for="Enabled" class="form-check-label"></label>
        </div>
    </div>

    <button name="command" type="submit" class="btn btn-primary" value="save" id="Continue">Continue</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
