@model BTCPayServer.Services.Altcoins.Monero.UI.UIMoneroLikeStoreController.MoneroLikePaymentMethodListViewModel

@{
    ViewData.SetActivePage("Monero Settings", "Monero Settings", "Monero Settings");
}

<div class="row">
    <div class="col-md-8">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All"></div>
        }
        <div class="table-responsive-md">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Crypto</th>
                    <th>Account Index</th>
                    <th class="text-center">Enabled</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.CryptoCode</td>
                        <td>@item.AccountIndex</td>
                        <td class="text-center">
                            @if (item.Enabled)
                            {
                                <vc:icon symbol="checkmark" css-class="text-success" />
                            }
                            else
                            {
                                <vc:icon symbol="cross" css-class="text-danger" />
                            }
                        </td>
                        <td class="text-right">
                            <a id="Modify" asp-action="GetStoreMoneroLikePaymentMethod"
                               asp-route-storeId="@Context.GetRouteValue("storeId")"
                               asp-route-cryptoCode="@item.CryptoCode">
                                Modify
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section PageFootContent {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
