<li class="nav-item">
    <a href="/Plugins/LNbank/Wallets" class="nav-link js-scroll-trigger @ViewData.IsActiveCategory(typeof(LNbankNavPages))" id="Nav-LNbank">
        @await Component.InvokeAsync("Icon", new { symbol = "wallet-lightning" })
        <span>LNbank</span>
    </a>
</li>
