@using BTCPayServer.Data
@using BTCPayServer.Plugins.LNbank.Services.Wallets
@using Microsoft.AspNetCore.Identity
@model object
@inject UserManager<ApplicationUser> _userManager;

@inject ContentSecurityPolicies contentSecurityPolicies
@using BTCPayServer.Security
@using NBitcoin


@inject WalletService WalletService;
@{
    var userId = _userManager.GetUserId(User);
    var wallets = await WalletService.GetWallets(new WalletsQuery()
    {
        UserId = new[] { userId },
        IncludeAccessKeys = true
    });

    var nonce = RandomUtils.GetUInt256().ToString().Substring(0, 32);
    contentSecurityPolicies.Add("script-src", $"'nonce-{nonce}'");
    

}

    <div class="row">
        <div class="form-group">
            <label class="form-check-label">LNBank Wallet</label>

            <select id="lnbankoptions" class="form-select">

                <option value="">Select a wallet</option>
                @foreach (var wallet in wallets)
                {
                    <option value="@wallet.AccessKeys.First().Key">@wallet.Name</option>
                }
                <option value="create">
                    Create new wallet
                </option>

            </select>
        </div>
    </div>


<script type="text/javascript" nonce="@nonce">
document.addEventListener("DOMContentLoaded",function (ev) {
    const connString = document.getElementById("ConnectionString").value;
    if (connString.startsWith("type=lnbank;server=http://127.0.0.1")){
        const index = connString.indexOf("api-token=") + "api-token=".length;
        const selectedKey = connString.substr(index);
        document.getElementById("lnbankoptions").value = selectedKey;
        document.getElementById("LightningNodeType-Custom").checked = true;
    }
    
    document.getElementById("lnbankoptions").addEventListener("change", function (e){
        if (e.target.value === "create"){
            window.location.href = "@Context.Request.PathBase.ToUriComponent()/Plugins/LNbank/Wallets/Create";
        }
        var template = e.target.value? "type=lnbank;server=http://127.0.0.1@{ Context.Request.PathBase.ToUriComponent(); };allowinsecure=true;api-token="+e.target.value: "";
        document.getElementById("LightningNodeType-Custom").checked = true;
        document.getElementById("ConnectionString").setAttribute("value", template);
    });
});
</script>
