@model object

<input value="Custom" type="radio" id="LightningNodeType-LNbank" data-bs-toggle="pill" data-bs-target="#LNbankSetup" role="tab" aria-controls="LNbankSetup" aria-selected="false" name="LightningNodeType">
<label for="LightningNodeType-LNbank">Use LNbank wallet</label>
