@model WalletSetupViewModel
@{
    var isHotWallet = Model.Method == WalletSetupMethod.HotWallet;
    var type = isHotWallet ? "Hot" : "Watch-Only";
    Layout = "_LayoutWalletSetup";
    ViewData.SetActivePage(StoreNavPages.OnchainSettings, $"Create {Model.CryptoCode} {type} Wallet", Context.GetStoreData().Id);
    ViewData.Add(nameof(Model.CanUseHotWallet), Model.CanUseHotWallet);
    ViewData.Add(nameof(Model.CanUseRPCImport), Model.CanUseRPCImport);
    ViewData.Add(nameof(Model.SupportSegwit), Model.SupportSegwit);
    ViewData.Add(nameof(Model.SupportTaproot), Model.SupportTaproot);
    ViewData.Add(nameof(Model.Method), Model.Method);
}

@section Navbar {
    <a asp-controller="UIStores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="">
        <vc:icon symbol="back" />
    </a>
}

<h1 class="text-center">@ViewData["Title"]</h1>
<br>
<partial name="_GenerateWalletForm" model="Model.SetupRequest" />

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
