@model PluginsViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePage(StoreNavPages.Plugins, "Plugins", Context.GetStoreData().Id);
}

<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <h3 class="mb-0 mb-4">@ViewData["Title"]</h3>
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="text-danger"></div>
        }

        <ul class="list-group mb-3">
            <vc:ui-extension-point location="store-integrations-list" model="@Model" />
        </ul>

        <h3 class="mt-5 mb-3">Integrations</h3>
        <p>Take a look at documentation for the list of integrations we support and the directions on how to enable them:</p>
        <ul>
            <li><a href="https://docs.btcpayserver.org/WooCommerce/" target="_blank" rel="noreferrer noopener">WooCommerce</a></li>
            <li><a href="https://docs.btcpayserver.org/Drupal/" target="_blank" rel="noreferrer noopener">Drupal</a></li>
            <li><a href="https://docs.btcpayserver.org/Magento/" target="_blank" rel="noreferrer noopener">Magento</a></li>
            <li><a href="https://docs.btcpayserver.org/PrestaShop/" target="_blank" rel="noreferrer noopener">PrestaShop</a></li>
        </ul>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
