@using BTCPayServer.HostedServices.Webhooks
@model EditWebhookViewModel
@inject WebhookSender WebhookSender
@{
    ViewData.SetActivePage(StoreNavPages.Webhooks, "Send a test event to a webhook endpoint", Context.GetStoreData().Id);
}
<form method="post">
    <div class="sticky-header">
        <h2 text-translate="true">@ViewData["Title"]</h2>
		<button id="page-primary" type="submit" class="btn btn-primary mt-3">Send test webhook</button>
    </div>
    <partial name="_StatusMessage" />
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label for="Type" class="form-label">Event type</label>
                <select 
                    asp-items="@WebhookSender.GetSupportedWebhookTypes().Select(s => new SelectListItem(s.Value,s.Key))" 
                    name="Type" 
                    id="Type"
                    class="form-select w-auto"
                ></select>
            </div>
        </div>
    </div>
</form>
