:root {
    --logo-size: 3rem;
    --navbutton-size: .8rem;
    --qr-size: 256px;
    --section-padding: 1.5rem;
    --border-radius: var(--btcpay-border-radius-l);
    --wrap-max-width: 400px;
}
.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--btcpay-space-m);
    max-width: var(--wrap-max-width);
}
header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-padding);
    gap: var(--btcpay-space-s);
}
main {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--btcpay-bg-tile);
}
nav {
    position: absolute;
    top: var(--btcpay-space-m);
    left: var(--btcpay-space-m);
    right: var(--btcpay-space-m);
}
nav button {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    color: var(--btcpay-body-text-muted);
}
nav button:hover {
    color: var(--btcpay-body-text-hover);
}
nav button#close {
    right: 0;
}
nav button .icon {
    width: var(--navbutton-size);
    height: var(--navbutton-size);
}
section {
    padding: var(--section-padding);
}
section h4 {
    margin-bottom: var(--btcpay-space-l);
    font-weight: var(--btcpay-font-weight-semibold);
    text-align: center;
}
section h5,
section h6 {
    margin-bottom: 1.5rem;
    font-weight: var(--btcpay-font-weight-semibold);
    text-align: center;
}
section .top {
    flex: 1;
}
section .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--btcpay-space-m);
}
section dl > div {
    display: flex;
    justify-content: space-between;
    gap: var(--btcpay-space-m);
}
section dl > div dt,
section dl > div dd {
    margin: 0;
    padding: var(--btcpay-space-xs) 0;
    font-weight: var(--btcpay-font-weight-normal);
}
section dl > div dt {
    text-align: left;
    white-space: nowrap;
}
section dl > div dd {
    text-align: right;
    word-wrap: break-word;
    word-break: break-word;
}
.logo {
    height: var(--logo-size);
}
.logo--square {
    width: var(--logo-size);
    border-radius: 50%;
}
.info {
    padding: var(--btcpay-space-s) var(--btcpay-space-m);
    background-color: var(--btcpay-body-bg);
    border-radius: var(--border-radius);
}
.info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info > div + div {
    margin-top: var(--btcpay-space-s);
}
.info .spinner-border {
    width: var(--btcpay-font-size-s);
    height: var(--btcpay-font-size-s);
    margin-right: var(--btcpay-space-s);
    color: var(--btcpay-body-text-muted);
    animation-duration: 1s;
}
.info .icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: var(--btcpay-space-s);
    color: var(--btcpay-info);
}
.payment-box {
    max-width: 300px;
    min-width: var(--qr-size);
    margin: 0 auto;
    text-align: center;
}
.payment-box .qr-text {
    display:  block;
    color: var(--btcpay-light-text);
}
.payment-box .qr-container {
    min-height: var(--qr-size);
}
.payment-box svg {
    width: 100%;
}
.payment-details dl {
    margin: 0;
}
.payment-details-button {
    margin: 0 auto;
    padding: var(--btcpay-space-s);
}
.payment-details-button .icon {
    margin-left: -1rem; /* Adjust for visual center */
}
[data-clipboard] {
    cursor: copy;
}
#payment .btcpay-pills .btcpay-pill {
    padding: var(--btcpay-space-xs) var(--btcpay-space-m);
}
#form > form,
#result > div {
    display: flex;
    flex-direction: column;
}

#result .top .icn .icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: .5rem auto 1.5rem;
}

#result #paid .top .icn .icon {
    color: var(--btcpay-primary);
}
#result #expired .top .icn .icon {
    color: var(--btcpay-body-text-muted);
}
footer {
    margin-top: auto;
    color: var(--btcpay-body-text-muted);
}
footer a {
    color: var(--btcpay-body-text-muted);
}
#DefaultLang {
    background-color: transparent;
    color: var(--btcpay-body-text-muted);
    text-align: center;
}

@media (max-width: 400px) {
    .wrap {
        padding: 0;
    }
    main {
        border-radius: 0;
    }
}
