:root {
    --logo-size: 3rem;
    --navbutton-size: .8rem;
    --qr-size: 256px;
    --section-padding: 1.5rem;
    --border-radius: var(--btcpay-border-radius-l);
    --wrap-max-width: 400px;
}
.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--btcpay-space-m);
    max-width: var(--wrap-max-width);
}
header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-padding);
}
header {
    gap: var(--btcpay-space-s);
}
main {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--btcpay-bg-tile);
}
nav {
    position: absolute;
    top: var(--btcpay-space-m);
    left: var(--btcpay-space-m);
    right: var(--btcpay-space-m);
}
nav button {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    color: var(--btcpay-body-text-muted);
}
nav button:hover {
    color: var(--btcpay-body-text-hover);
}
nav button#close {
    right: 0;
}
nav button .icon {
    width: var(--navbutton-size);
    height: var(--navbutton-size);
}
section {
    padding: var(--section-padding);
}
section h4 {
    margin-bottom: var(--btcpay-space-l);
    font-weight: var(--btcpay-font-weight-semibold);
    text-align: center;
}
section h5,
section h6 {
    margin-bottom: 1.5rem;
    font-weight: var(--btcpay-font-weight-semibold);
    text-align: center;
}
section .top {
    flex: 1;
}
section .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--btcpay-space-m);
}
section dl > div {
    display: flex;
    justify-content: space-between;
    gap: var(--btcpay-space-m);
}
section dl > div dt,
section dl > div dd {
    margin: 0;
    padding: var(--btcpay-space-xs) 0;
    font-weight: var(--btcpay-font-weight-normal);
}
section dl > div dt {
    text-align: left;
    white-space: nowrap;
    color: var(--btcpay-body-text-muted);
}
section dl > div dd {
    text-align: right;
    word-wrap: break-word;
    word-break: break-word;
}
.logo {
    height: var(--logo-size);
}
.logo--square {
    width: var(--logo-size);
    border-radius: 50%;
}
.info {
    color: var(--btcpay-neutral-700);
    background-color: var(--btcpay-body-bg);
    border-radius: var(--border-radius);
}
.info .expiryTime {
    color: var(--btcpay-body-text);
}
.info > div {
    padding: var(--btcpay-space-m) var(--btcpay-space-m);
}
.info > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--btcpay-space-xs);
}
.info > div > div + div {
    margin-top: var(--btcpay-space-s);
}
.info .spinner-border {
    width: var(--btcpay-font-size-s);
    height: var(--btcpay-font-size-s);
    color: var(--btcpay-body-text-muted);
    margin-right: var(--btcpay-space-xs);
    animation-duration: 1s;
}
.info .icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--btcpay-info);
}
.payment-box {
    max-width: 300px;
    min-width: var(--qr-size);
    margin: 0 auto;
    text-align: center;
}
.payment-box .qr-text {
    display:  block;
    color: var(--btcpay-light-text);
}
.payment-box .qr-container {
    min-height: var(--qr-size);
}
.payment-box .qr-container svg {
    border-radius: var(--btcpay-border-radius);
}
.payment-box svg {
    width: 100%;
}
.payment-details dl {
    margin: 0;
}
.payment-details-button {
    margin: 0 auto;
    padding: var(--btcpay-space-s);
}
.payment-details-button .icon {
    margin-left: -1rem; /* Adjust for visual center */
}
[data-clipboard] {
    cursor: copy;
}
.payment-details [data-clipboard] {
    position: relative;
}

.payment-details [data-clipboard]::before {
    content: '';
    position: absolute;
    top: .5rem;
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2EpIiBzdHJva2U9IiM4Rjk3OUUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+CiAgICA8cGF0aCBkPSJNMTMuMzMgNmgtNkM2LjYgNiA2IDYuNiA2IDcuMzN2NmMwIC43NC42IDEuMzQgMS4zMyAxLjM0aDZjLjc0IDAgMS4zNC0uNiAxLjM0LTEuMzR2LTZjMC0uNzMtLjYtMS4zMy0xLjM0LTEuMzNaIi8+CiAgICA8cGF0aCBkPSJNMy4zMyAxMGgtLjY2YTEuMzMgMS4zMyAwIDAgMS0xLjM0LTEuMzN2LTZhMS4zMyAxLjMzIDAgMCAxIDEuMzQtMS4zNGg2QTEuMzMgMS4zMyAwIDAgMSAxMCAyLjY3di42NiIvPgogIDwvZz4KICA8ZGVmcz4KICAgIDxjbGlwUGF0aCBpZD0iYSI+CiAgICAgIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoMTZ2MTZIMHoiLz4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgo8L3N2Zz4K");
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--btcpay-transition-duration-fast);
}
.payment-details [data-clipboard]:hover::before {
    opacity: 1;
}
#payment .btcpay-pills .btcpay-pill {
    padding: var(--btcpay-space-xs) var(--btcpay-space-m);
}
#form > form,
#result > div {
    display: flex;
    flex-direction: column;
}

#result .top .icn .icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: .5rem auto 1.5rem;
}

#result #paid .top .icn .icon {
    color: var(--btcpay-primary);
}
#result #expired .top .icn .icon {
    color: var(--btcpay-body-text-muted);
}
footer {
    margin-top: auto;
    padding-top: 2.5rem;
    gap: var(--btcpay-space-m);
}
footer,
footer a,
#DefaultLang {
    color: var(--btcpay-body-text-muted);
}
footer a {
    transition-duration: unset;
}
footer a svg {
    height: 2rem;
    width: 4rem;
}
#DefaultLang {
    background-color: transparent;
    box-shadow: none;
    border: none;
    text-align: right;
    cursor: pointer;
    margin-left: -4.5rem; /* Adjust for visual center */
}
footer a:hover,
#DefaultLang:hover {
    color: var(--btcpay-body-text-hover);
}
footer a:hover .logo-brand-light {
    color: var(--btcpay-brand-secondary);
}
footer a:hover .logo-brand-medium {
    color: var(--btcpay-brand-primary);
}
footer a:hover .logo-brand-dark {
    color: var(--btcpay-brand-tertiary);
}

@media (max-width: 400px) {
    .wrap {
        padding: 0;
    }
    main {
        border-radius: 0;
    }
}

/* Modal adjustments */
.checkout-modal body {
    background: rgba(var(--btcpay-black-rgb), 0.85);
}
.checkout-modal h1,
.checkout-modal footer a:hover,
.checkout-modal #DefaultLang:hover {
    color: var(--btcpay-white);
}

/* Plugins */
.payment-box .plugins > .payment {
    margin-top: var(--btcpay-space-l);
}
