@model CreateAppViewModel
@{
    ViewData["Title"] = "Create a new app";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="CreateApp">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>*
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedAppType" class="control-label"></label>*
                        <select asp-for="SelectedAppType" asp-items="Model.AppTypes" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedStore" class="control-label"></label>*
                        <select asp-for="SelectedStore" asp-items="Model.Stores" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="ListApps">Back to the app list</a>
            </div>
        </div>
    </div>
</section>
