@model UpdateCrowdfundViewModel
@{
    ViewData["Title"] = "Update Crowdfund";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" for="@TempData["TempDataProperty-StatusMessage"]" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>*
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="Tagline" class="control-label"></label>*
                        <input asp-for="Tagline" class="form-control" />
                        <span asp-validation-for="Tagline" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>*
                        <textarea asp-for="Description" rows="20" cols="40" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomCSSLink" class="control-label"></label>
                        <a href="https://docs.btcpayserver.org/development/theme#bootstrap-themes" target="_blank"><span class="fa fa-question-circle-o" title="More information..."></span></a>
                        <input asp-for="CustomCSSLink" class="form-control" />
                        <span asp-validation-for="CustomCSSLink" class="text-danger"></span>
                    </div>                    
                    <div class="form-group">
                        <label asp-for="MainImageUrl" class="control-label"></label>
                       <input asp-for="MainImageUrl" class="form-control" />
                        <span asp-validation-for="MainImageUrl" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="NotificationUrl" class="control-label"></label>
                       <input asp-for="NotificationUrl" class="form-control" />
                        <span asp-validation-for="NotificationUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enabled"></label>
                        <input asp-for="Enabled" type="checkbox" class="form-check"/>
                        <span asp-validation-for="Enabled" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnforceTargetAmount"></label>
                        <input asp-for="EnforceTargetAmount" type="checkbox" class="form-check"/>
                        
                        <span asp-validation-for="EnforceTargetAmount" class="text-danger"></span>
                    </div>   
                    
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>*
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>*
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TargetCurrency" class="control-label"></label>*
                        <input asp-for="TargetCurrency" class="form-control" />
                        <span asp-validation-for="TargetCurrency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TargetAmount" class="control-label"></label>*
                        <input asp-for="TargetAmount" class="form-control" />
                        <span asp-validation-for="TargetAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save Settings" />
                    </div>
                </form>
                <a asp-action="ListApps">Back to the app list</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="~/vendor/highlightjs/default.min.css">
    <script src="~/vendor/highlightjs/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}

