@model BTCPayServer.Plugins.Test.TestPluginPageViewModel
<section>
    <div class="container">
        <h1>Challenge Completed!!</h1>
        Here is also an image loaded from the plugin<br/>
        <a href="https://twitter.com/NicolasDorier/status/1307221679014256640">
            <img src="/Resources/img/screengrab.png"/>
        </a>

        <div class="row">
            <h2>Persisted Data</h2>
            <p>The following is data persisted to the configured database but in an isolated DbContext. Every time you start BTCPayw with this plugin enabled, a timestamp is logged.</p>
            <ul class="list-group">>
                @foreach (var item in Model.Data)
                {
                    <li class="list-group-item">@item.Id at @item.Timestamp.ToString("F")</li>
                }
            </ul>
        </div>
    </div>
</section>
