@model BTCPayServer.Payments.LNURLPayPaymentMethodDetails

@if (!string.IsNullOrEmpty(Model.ProvidedComment))
{
    <tr>
        <td colspan="100% bg-tile">
            LNURL Comment: @Model.ProvidedComment
        </td>
    </tr>
}
@if (!string.IsNullOrEmpty(Model.ConsumedLightningAddress))
{
    <tr>
        <td colspan="100% bg-tile">
            Lightning address used: @Model.ConsumedLightningAddress
        </td>
    </tr>
}
