@using BTCPayServer.Client
@model BTCPayServer.Components.MainNav.MainNavViewModel
@{
    const string cryptoCode = "BTC";
}

@if (Model.Store.IsLightningEnabled(cryptoCode) && Model.Store.IsLNUrlEnabled(cryptoCode))
{
    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
        <a layout-menu-item="LightningAddress" asp-area="" asp-controller="UILNURL" asp-action="EditLightningAddress" asp-route-storeId="@Model.Store.Id">
            <vc:icon symbol="nav-lightning-address" />
            <span text-translate="true">Lightning Address</span>
        </a>
    </li>
}
