@inject BTCPayNetworkProvider BTCPayNetworkProvider
@{
    const string cryptoCode = "BTC";
    var store = Context.GetStoreData();
    var isLightningEnabled = store.IsLightningEnabled(BTCPayNetworkProvider, cryptoCode);
    var isLNUrlEnabled = store.IsLNUrlEnabled(BTCPayNetworkProvider, cryptoCode);
}

<li class="list-group-item bg-tile" id="lightning-address-option">
    <div class="d-flex align-items-center">
        <span class="d-flex flex-wrap flex-fill flex-column flex-sm-row">
            <strong class="me-3">
                Lightning Address
                <a href="https://lightningaddress.com/" target="_blank" rel="noreferrer noopener" title="More information...">
                    <vc:icon symbol="info" />
                </a>
            </strong>
        </span>
        <span class="d-flex align-items-center fw-semibold">
            @switch (isLightningEnabled)
            {
                case true when isLNUrlEnabled:
                    <a asp-controller="UILNURL" asp-action="EditLightningAddress" asp-route-storeId="@store.Id" id="lightning-address-setup-link" class="btn btn-primary btn-sm ms-4 px-3 py-1 fw-semibold">
                        Setup
                    </a>
                    break;
                case false:
                    <span class="d-flex align-items-center text-danger">
                        <span class="me-2 btcpay-status btcpay-status--disabled"></span>
                        <a asp-controller="UIStores" asp-action="SetupLightningNode" asp-route-cryptoCode="@cryptoCode" asp-route-storeId="@store.Id" class="btn btn-link p-0">
                            You need to setup Lightning first
                        </a>
                    </span>
                    break;
                default:
                    <span class="d-flex align-items-center text-danger">
                        <span class="me-2 btcpay-status btcpay-status--disabled"></span>
                        <a asp-action="LightningSettings" asp-route-cryptoCode="BTC" asp-route-storeId="@store.Id" asp-fragment="ln-url" class="btn btn-link p-0">
                            You need LNURL configured first
                        </a>
                    </span>
                    break;
            }
        </span>
    </div>
</li>

