<h5 class="text-center fw-normal mb-2">
    BTCPay Server Supporters
</h5>
<div class="row justify-content-center mb-2">
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://kraken.com" target="_blank" class="text-muted small">
            <img src="~/img/kraken.svg" alt="Sponsor Kraken" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">Kraken</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://twitter.com/sqcrypto" target="_blank" class="text-muted small">
            <img src="~/img/squarecrypto.svg" alt="Sponsor Square Crypto" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">Square Crypto</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://www.pnxbet.com" target="_blank" class="text-muted small">
            <img src="~/img/pnxbet.png" alt="Sponsor PNXBET" height="50" width="50" asp-append-version="true"/>
            <span class="d-block mt-3">PNXBET</span>
        </a>
    </div>
</div>
<p class="text-center">
    <a href="https://foundation.btcpayserver.org" target="_blank">View all supporters</a>
</p>
