<h3 class="lead-h">BTCPayServer Supporters <a href="https://foundation.btcpayserver.org/" target="_blank"><span class="fa fa-question-circle-o" title="More information..."></span></a></h3>
<div class="figure">
    <a href="https://twitter.com/sqcrypto" target="_blank">
        <img src="~/img/squarecrypto.svg" alt="Sponsor Square Crypto" height="75" />
    </a>
    <div class="figure-caption text-center">
        <a href="https://twitter.com/sqcrypto" class="text-muted small" target="_blank">Square Crypto</a>
    </div>
</div>
<div class="figure ml-4">
    <a href="https://www.dglab.com/en/" target="_blank">
        <img src="~/img/dglab.svg" alt="Sponsor DG lab" height="75" />
    </a>
    <div class="figure-caption text-center">
        <a href="https://www.dglab.com/en/" class="text-muted small" target="_blank">DG Lab</a>
    </div>
</div>
<div class="figure ml-4">
    <a href="https://acinq.co/" target="_blank">
        <img src="~/img/acinq-logo.svg" alt="Sponsor ACINQ" height="75" />
    </a>
    <div class="figure-caption text-center">
        <a href="https://acinq.co/" class="text-muted small" target="_blank">ACINQ</a>
    </div>
</div>
<div class="figure ml-4">
    <a href="https://lunanode.com/" target="_blank">
        <img src="~/img/lunanode.svg" alt="Sponsor LunaNode" height="75" />
    </a>
    <div class="figure-caption text-center">
        <a href="https://lunanode.com/" class="text-muted small" target="_blank">LunaNode</a>
    </div>
</div>
<div class="figure ml-4">
    <a href="https://walletofsatoshi.com/" target="_blank">
        <img src="~/img/walletofsatoshi.svg" alt="Sponsor Wallet of Satoshi" height="75" />
    </a>
    <div class="figure-caption text-center">
        <a href="https://walletofsatoshi.com/" class="text-muted small" target="_blank">Wallet of Satoshi</a>
    </div>
</div>
