<h5 class="text-center font-weight-normal mb-2">
    Our Supporters
</h5>
<div class="row justify-content-center mb-2">
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://kraken.com" target="_blank" class="text-muted small">
            <img src="~/img/kraken.svg" alt="Sponsor Kraken" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">Kraken</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://twitter.com/sqcrypto" target="_blank" class="text-muted small">
            <img src="~/img/squarecrypto.svg" alt="Sponsor Square Crypto" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">Square Crypto</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://www.btse.com" target="_blank" class="text-muted small">
            <img src="~/img/btse.svg" alt="Sponsor BTSE" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">BTSE</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://www.dglab.com/en/" target="_blank" class="text-muted small">
            <img src="~/img/dglab.svg" alt="Sponsor DG lab" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">DG Lab</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://www.okcoin.com/" target="_blank" class="text-muted small">
            <img src="~/img/okcoin.svg" alt="Sponsor OKCoin" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">OKCoin</span>
        </a>
    </div>
    <div class="p-3 text-center" style="flex-basis:105px;">
        <a href="https://acinq.co/" target="_blank" class="text-muted small">
            <img src="~/img/acinq-logo.svg" alt="Sponsor ACINQ" height="50" asp-append-version="true"/>
            <span class="d-block mt-3">ACINQ</span>
        </a>
    </div>
</div>
<p class="text-center">
    <a href="https://foundation.btcpayserver.org" target="_blank">View all supporters</a>
</p>
