@model ConfirmModel

<div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmTitle" aria-hidden="true">
    <partial name="ConfirmModal" model="Model" />
</div>

<script>
    const modal = document.getElementById('ConfirmModal')
    modal.addEventListener('show.bs.modal', event => {
        const $target = event.relatedTarget
        const $form = document.getElementById('ConfirmForm')
        const $text = document.getElementById('ConfirmText')
        const $continue = document.getElementById('ConfirmContinue')
        const { title, description, text, confirm, confirmInput } = $target.dataset
        const action = $target.dataset.action || ($target.nodeName === 'A'
            ? $target.getAttribute('href')
            : $target.form.getAttribute('action'))
        
        $form.setAttribute('action', action)
        
        if (title) document.getElementById('ConfirmTitle').textContent = title
        if (confirm) $continue.textContent = confirm
        if (description) {
            document.getElementById('ConfirmDescription').innerHTML = description
        }
        if (text) {
            $text.textContent = text
        }
        if (confirmInput) {
            $text.removeAttribute('hidden')
            $continue.setAttribute('disabled', 'disabled')
            document.getElementById('ConfirmInputText').textContent = confirmInput
            document.getElementById('ConfirmInput').addEventListener('input', event => {
                event.target.value.trim() === confirmInput
                    ? $continue.removeAttribute('disabled')
                    : $continue.setAttribute('disabled', 'disabled')
            })
        } else {
            $text.setAttribute('hidden', 'hidden')
            $continue.removeAttribute('disabled')
        }
    });
</script>
