@using BTCPayServer.Abstractions.Extensions
@inject BTCPayServer.Services.BTCPayServerEnvironment _env

<footer class="btcpay-footer">
    <div class="d-flex flex-wrap flex-column justify-content-between flex-xl-row gap-3">
        <div class="d-flex flex-wrap justify-content-center justify-content-xl-start gap-4">
            <a href="https://github.com/btcpayserver/btcpayserver" class="d-flex align-items-center" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="github"/>
                <span style="margin-left:.4rem">Github</span>
            </a>
            <a href="https://chat.btcpayserver.org/" class="d-flex align-items-center" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="mattermost"/>
                <span style="margin-left:.4rem">Mattermost</span>
            </a>
            <a href="https://twitter.com/BtcpayServer" class="d-flex align-items-center" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="twitter"/>
                <span style="margin-left:.4rem">Twitter</span>
            </a>
            <a href="https://t.me/btcpayserver" class="d-flex align-items-center" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="telegram"/>
                <span style="margin-left:.4rem">Telegram</span>
            </a>
            <a href="https://btcpayserver.org/donate/" class="d-flex align-items-center" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="donate"/>
                <span style="margin-left:.4rem">Donate</span>
            </a>
            @if (!string.IsNullOrEmpty(_env.OnionUrl) && !Context.Request.IsOnion())
            {
                <a href="@_env.OnionUrl" class="d-flex align-items-center" target="_onion" rel="noreferrer noopener" role="button" data-clipboard="@_env.OnionUrl" data-clipboard-confirm-element="CopyTorUrlText" style="min-width:9em;">
                    <vc:icon symbol="onion"/>
                    <span style="margin-left:.4rem" id="CopyTorUrlText">Copy Tor URL</span>
                </a>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="text-center">
                @_env.ToString()
            </div>
        }
    </div>
</footer>
