@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
</head>
<body>
    <section class="content-wrapper">
        <!-- Dummy navbar-brand, hackish way to keep test AssertNoError passing -->
        <div class="navbar-brand d-none"></div>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
