@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />

    <link href="~/main/fonts/Montserrat.css" rel="stylesheet" asp-append-version="true">
    <style>
        .content-wrapper {
            padding: 50px 0;
        }

        .col-head {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 0 2rem;
        }

        .head-logo {
            height: 70px;
            margin-bottom: 1rem;
        }

        .lead-title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 1.2;
            max-width: 17em;
            letter-spacing: .1em;
        }

        .lead-login {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.8;
            letter-spacing: 0.1em;
        }

        @@media screen and (min-width: 768px) {
            .content-wrapper {
                padding: 75px 0;
            }

            .col-head {
                text-align: left;
                flex-direction: row;
            }

            .lead-title {
                font-size: 34px;
            }

            .lead-login {
                font-size: 18px;
            }

            .head-logo {
                height: 80px;
                margin: 0 30px 0 0;
            }
        }
    </style>
</head>
<body>
    <section class="content-wrapper">
        <!-- Dummy navbar-brand, hackish way to keep test AssertNoError passing -->
        <div class="navbar-brand d-none"></div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-head">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="head-logo" asp-append-version="true"/>
                    </a>
                    <h1 class="lead-title text-uppercase m-0">@ViewData["Headline"]</h1>
                </div>
            </div>

            <hr class="primary my-4 d-block" />

            @RenderBody()

            <hr class="primary my-5 d-block" />

            <div class="row justify-content-center">
                <div class="col">
                    <partial name="_BTCPaySupporters"/>
                </div>
            </div>
        </div>
    </section>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
