@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />

    <link href="~/main/fonts/Montserrat.css" rel="stylesheet" asp-append-version="true">
    <style>
        .content-wrapper {
            padding: 50px 0;
        }

        .col-head {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 0 2rem;
        }

        @@media screen and (min-width: 768px) {
            .content-wrapper {
                padding: 75px 0;
            }

            .col-head {
                flex-direction: row;
            }
        }
    </style>
</head>
<body>
    <section class="content-wrapper">
        <!-- Dummy navbar-brand, hackish way to keep test AssertNoError passing -->
        <div class="navbar-brand d-none"></div>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
