@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = ViewBag.ShowMenu ?? true;
    if (!ViewData.ContainsKey("NavPartialName"))
    {
        ViewData["NavPartialName"] = "_Nav";
    }
}

@section PageHeadContent {
    @await RenderSectionAsync("PageHeadContent", false)
}

@section PageFootContent {
    @await RenderSectionAsync("PageFootContent", false)
}

@if (ViewBag.ShowMenu)
{
    <nav class="nav">
        <partial name="@ViewData["NavPartialName"].ToString()" />
    </nav>
}

<partial name="_StatusMessage" />

@RenderBody()
