@{
    var parsedModel = TempData.GetStatusMessageModel();
}

@if (parsedModel != null)
{
	<div class="alert alert-@parsedModel.SeverityCSS @(parsedModel.AllowDismiss? "alert-dismissible":"" ) @(ViewData["Margin"] ?? "mb-4") text-break" role="alert" v-pre>
        @if (parsedModel.AllowDismiss)
        {
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <vc:icon symbol="close" />
            </button>
        }
        @if (!string.IsNullOrEmpty(parsedModel.Message))
        {
            <span style="white-space: pre-wrap;">@parsedModel.Message</span>
        }
        @if (!string.IsNullOrEmpty(parsedModel.Html))
        {
            @Safe.Raw(parsedModel.Html)
        }
    </div>
}
