@{
    var parsedModel = TempData.GetStatusMessageModel();
}

@if (parsedModel != null)
{
    <div class="alert alert-@parsedModel.SeverityCSS @(parsedModel.AllowDismiss? "alert-dismissible":"" )" role="alert">
        @if (parsedModel.AllowDismiss)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
        @if (!string.IsNullOrEmpty(parsedModel.Message))
        {
            @parsedModel.Message
        }
        @if (!string.IsNullOrEmpty(parsedModel.Html))
        {
            @Safe.Raw(parsedModel.Html)
        }
    </div>
}
