@model string

@if(!string.IsNullOrEmpty(Model))
{
    var parsedModel = new StatusMessageModel(Model);
    <div class="alert alert-@parsedModel.SeverityCSS alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @parsedModel.Message@Html.Raw(parsedModel.Html)
    </div>
}
