@model ConfirmModel

@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
</head>
<body class="bg-light">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>@Model.Description</p>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(Model.Action))
                {
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <form method="post">
                                <button id="continue" type="submit" class="btn @Model.ButtonClass w-25">@Model.Action</button>
                                <button type="submit" class="btn btn-secondary w-25" onclick="history.back(); return false;">Go back</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
