@using BTCPayServer.Services.Stores
@model BTCPayServer.Models.InvoicingModels.PaymentModel

@inject SignInManager<ApplicationUser> SignInManager
@inject StoreRepository StoreRepository
@inject UserManager<ApplicationUser> UserManager
<script type="text/x-template" id="manual-method-checkout-template">
    <div  id="manual-payment-container">
        <p v-if="manualSettings.displayText" id="manual-display-text">
            {{manualSettings.displayText}}
        </p>
        <template v-if="manualSettings.allowCustomerToMarkPaid || isAdmin">
            <textarea v-if="manualSettings.allowPaymentNote" id="manual-payment-notes" placeholder="Notes.." v-model="paymentNote" ></textarea> 
                <template v-if="manualSettings.allowPartialPaymentInput">
                    <input type="number" style="width:100%; margin-bottom: 20px" id="partial-payment-input" required placeholder="Partial payment amount" min="0" v-bind:max="dueAmount" v-bind:disabled="loading" step="any" v-model="partialPaymentAmount"  />
                    <button class="action-button" type="button"  v-bind:disabled="loading"  v-on:click="submitPayment" id="btn-add-payment">
                    <div v-show="loading" class="general__spinner">
                        <partial name="Checkout-Spinner"/>
                    </div>
                    Mark paid
                    </button>
                </template>
                <button class="action-button" v-else v-on:click="submitPayment" v-bind:disabled="loading" id="btn-add-payment">
                    <div v-show="loading" class="general__spinner">
                        <partial name="Checkout-Spinner"/>
                    </div>
                Mark paid
                </button>
        </template>
    </div>               
</script>

<script type="text/javascript">


Vue.component('ManualMethodCheckout', { 
    props: ["srvModel"],
    template: "#manual-method-checkout-template",
    data: function() {
        return {
            paymentNote: "",
            partialPaymentAmount: "",
            dueAmount: 0,
            loading: false
        }
    },
    computed:{
        manualSettings: function(){
            return this.srvModel.additionalSettings.Manual;
        }
    },
    methods: {
        submitPayment: function(){
            this.loading = true;
            var model = {
                invoiceId: this.srvModel.invoiceId
            };
            if(this.manualSettings.allowPartialPaymentInput && this.partialPaymentAmount){
                model.partialAmount = this.partialPaymentAmount;
            }
            if(this.manualSettings.allowPaymentNote){
                model.notes = this.paymentNote;
            }
            var self  = this;
            $.post('@Url.Action("AddPayment", "ManualPaymentMethod")', model, function(data, status){
                console.log(data +" and status is " + status);
                
            })
            .always(function() {
                self.loading = false;
              });
        }
    },
    created: function(){
        this.dueAmount = this.srvModel.btcDue;
    }
});

var isAdmin = @(User != null && SignInManager.IsSignedIn(User) && (await StoreRepository.HasAccessToStore(Model.StoreId, UserManager.GetUserId(User))) ? "true" : "false");
</script>


<style>
    #manual-payment-container{
    padding-left: 40px; padding-right: 40px;
    }
    #manual-payment-notes{
    width:100%;
    }
</style>
