@page "/Plugins/LNbank/Wallets/{walletId}/Edit"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.EditModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, "Edit your wallet");
}

<header>
    <h2>@ViewData["Title"]</h2>
    <div>
        <a asp-page="./Delete" asp-route-walletId="@Model.Wallet.WalletId" class="btn btn-sm btn-outline-danger d-inline-flex align-items-center mx-1">
            <svg role="img" class="me-1"><use href="/Resources/img/icon-sprite.svg#delete"></use></svg>
            Delete
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Wallet.Name" class="form-label"></label>
                <input asp-for="Wallet.Name" class="form-control" />
                <span asp-validation-for="Wallet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-page="./Index" asp-route-walletId="@Model.Wallet.WalletId" class="text-secondary">Back to Wallet</a>
</p>
