[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

canvas#fireworks{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.perk-zoom{
    display: none;
    opacity: 0;
}
.perk:hover .perk-zoom{
    opacity:1;
    display: block;
    background-color: rgba(0,158,116,0.9);
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
