@using BTCPayServer.Views.Stores
@using BTCPayServer.Client
@{
    const string cryptoCode = "BTC";
    var store = Context.GetStoreData();
}

@if (store.IsLightningEnabled(cryptoCode) && store.IsLNUrlEnabled(cryptoCode))
{
    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
        <a layout-menu-item="LightningAddress" asp-area="" asp-controller="UILNURL" asp-action="EditLightningAddress" asp-route-storeId="@store.Id">
            <vc:icon symbol="nav-lightning-address "/>
            <span text-translate="true">Lightning Address</span>
        </a>
    </li>
}
