#PosCart {
    --sidebar-width: 480px;
}

#PosCart .public-page-wrap {
    --wrap-max-width: 1320px;
    
    padding-top: 0;
}
@media (max-width: 400px) {
    #PosCart .public-page-wrap {
        --wrap-padding-horizontal: var(--btcpay-space-s);
    }
}

#PosCart .offcanvas-backdrop {
    top: var(--mobile-header-height);
    transition-duration: var(--btcpay-transition-duration-fast);
}

#Categories nav {
    justify-content: center;
}
#Categories.scrollable {
    --scroll-bar-spacing: var(--btcpay-space-m);
    --scroll-indicator-spacing: var(--btcpay-space-m);
    position: relative;
    margin-bottom: calc(var(--scroll-bar-spacing) * -1);
}
#Categories.scrollable nav {
    justify-content: start;
    overflow: auto visible;
    -webkit-overflow-scrolling: touch;
    margin-left: calc(var(--scroll-indicator-spacing) * -1);
    margin-right: calc(var(--scroll-indicator-spacing) * -1);
    padding: 0 var(--scroll-indicator-spacing) var(--scroll-bar-spacing);
}

#Categories.scrollable nav::-webkit-scrollbar {
    display: none;
}

/* Horizontal scroll indicators */
#Categories.scrollable:before,
#Categories.scrollable:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--btcpay-space-m);
}

#Categories.scrollable:before {
    background-image: linear-gradient(to right, var(--btcpay-body-bg), rgba(var(--btcpay-body-bg-rgb), 0));
    left: calc(var(--scroll-indicator-spacing) * -1);
}

#Categories.scrollable:after {
    background-image: linear-gradient(to left, var(--btcpay-body-bg), rgba(var(--btcpay-body-bg-rgb), 0));
    right: calc(var(--scroll-indicator-spacing) * -1);
}

.cart-toggle-btn {
    --button-width: 40px;
    --button-height: 40px;
    --button-padding: 7px;
    --icon-size: 1rem;
    position: absolute;
    top: calc(50% - var(--button-height) / 2);
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--button-width);
    height: var(--button-height);
    padding: var(--button-padding);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

header .cart-toggle-btn {
    --icon-size: 32px;
}

.cart-toggle-btn .icon-pos-cart {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--btcpay-header-link);
}

.cart-toggle-btn:disabled svg {
    color: var(--btcpay-body-text-muted);
}

.cart-toggle-btn:not(:disabled):hover svg {
    color: var(--btcpay-header-link-accent);
}

#SearchTerm {
    max-width: 47em;
    margin: 0 auto;
}

#cart {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1045;
    height: 100vh;
    overflow-y: auto;
    color: var(--btcpay-body-text);
    background-color: var(--btcpay-bg-tile);
}

#cart .quantity .btn {
    width: 2rem;
    height: 2rem;
}
#cart .quantity .btn .icon{
    --btn-icon-size: .75rem;
}

#CartBadge {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1.75em;
}

@media (max-width: 991px) {
    #cart {
        left: 0;
        transform: translateX(100%);
        transition: transform var(--btcpay-transition-duration-fast) ease-in-out;
    }
    #cart.show {
        transform: none;
    }
    #CartClose {
        color: var(--btcpay-body-text);
    }
}
@media (min-width: 992px) {
    #content {
        margin-right: var(--sidebar-width);
    }
    #cart {
        width: var(--sidebar-width);
        border-left: 1px solid var(--btcpay-body-border-light);
    }
    .cart-toggle-btn {
        display: none;
    }
}
