#app .public-page-wrap {
    padding: 0 var(--btcpay-space-m) var(--btcpay-space-l);
}

.cart-toggle-btn {
    --button-width: 40px;
    --button-height: 40px;
    --button-padding: 7px;
    --icon-size: 1rem;
    position: absolute;
    top: calc(50% - var(--button-height) / 2);
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--button-width);
    height: var(--button-height);
    padding: var(--button-padding);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

header .cart-toggle-btn {
    --icon-size: calc(1.34375rem + 1.125vw);
}

.cart-toggle-btn svg {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--btcpay-header-link);
}

.cart-toggle-btn:hover svg {
    color: var(--btcpay-header-link-accent);
}

#CartBadge {
    position: absolute;
    top: 0;
    right: -.25em;
    min-width: 1.75em;
}

.modal-content {
    border-radius: 0.5rem;
}
.modal-header {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.card-img-top {
    width: 100%;
    max-height: 210px;
    object-fit: scale-down;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}

.js-cart-tip-btn:focus {
    background-color: #dee2e6;
}

.js-cart-item-minus .fa,
.js-cart-item-plus .fa {
    background: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
