@{
    var walletId = Context.GetRouteValue("walletId")?.ToString();
    var storeId = Context.GetRouteValue("storeId")?.ToString();
    var cryptoCode = Context.GetRouteValue("cryptoCode")?.ToString();
    var wallet = walletId != null ? WalletId.Parse(walletId) : new WalletId(storeId, cryptoCode);
}

<div class="sticky-header-setup"></div>
<header class="sticky-header">
    <vc:wallet-nav wallet-id="wallet"/>
</header>
<script>
    const { offsetHeight } = document.querySelector('.sticky-header-setup + .sticky-header');
    document.documentElement.style.scrollPaddingTop = `calc(${offsetHeight}px + var(--btcpay-space-m))`;
</script>
