@using BTCPayServer.Controllers
@model SignWithSeedViewModel
@{
    var walletId = Context.GetRouteValue("walletId").ToString();
    var cancelUrl = Model.ReturnUrl ?? Url.Action(nameof(UIWalletsController.WalletTransactions), new { walletId });
    var backUrl = Model.BackUrl != null ? $"{Model.BackUrl}?returnUrl={Model.ReturnUrl}" : null;
    Layout = "_LayoutWizard";
    ViewData.SetActivePage(WalletsNavPages.Send, "Sign PSBT", walletId);
}

@section Navbar {
    @if (backUrl != null)
    {
		<a href="@Url.EnsureLocal(backUrl, Context.Request)" id="GoBack">
            <vc:icon symbol="back" />
        </a>
    }
	<a href="@Url.EnsureLocal(cancelUrl, Context.Request)" id="CancelWizard" class="cancel">
        <vc:icon symbol="close" />
    </a>
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p class="lead text-secondary mt-3">Using an HD private key or mnemonic seed</p>
</header>

<div class="alert alert-warning alert-dismissible my-4" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <vc:icon symbol="close" />
    </button>
    <p>Before you proceed, please understand the following:</p>
    <ol>
        <li>Make sure this BTCPay Server instance <b>belongs to you</b>.</li>
        <li>Use <b>Incognito mode or the Tor Browser</b> to ensure no malicious browser plugins are running that could steal your key.</li>
    </ol>
    <p class="mb-0">Otherwise you are exposing yourself to malicious site owners, or to malicious plugins installed in your browser.</p>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="SignWithSeed" asp-route-walletId="@walletId">
    <partial name="SigningContext" for="SigningContext"/>
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="BackUrl" />
    <div class="form-group">
        <label asp-for="SeedOrKey" class="form-label"></label>
        <input asp-for="SeedOrKey" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off"/>
    </div>
    <div class="form-group">
        <label asp-for="Passphrase" class="form-label"></label>
        <input asp-for="Passphrase" class="form-control"/>
    </div>
    <button id="Submit" type="submit" class="btn btn-primary">Sign</button>
</form>
