@using BTCPayServer.Controllers
@model WalletPSBTCombineViewModel
@{
    var walletId = Context.GetRouteValue("walletId").ToString();
    var cancelUrl = Model.ReturnUrl ?? Url.Action(nameof(UIWalletsController.WalletTransactions), new { walletId });
    var backUrl = Model.BackUrl != null ? $"{Model.BackUrl}?returnUrl={Model.ReturnUrl}" : null;
    Layout = "_LayoutWizard";
    ViewData.SetActivePage(WalletsNavPages.PSBT, "Combine PSBT", walletId);
}

@section Navbar {
    @if (backUrl != null)
    {
		<a href="@Url.EnsureLocal(backUrl, Context.Request)" id="GoBack">
            <vc:icon symbol="back" />
        </a>
    }
	<a href="@Url.EnsureLocal(cancelUrl, Context.Request)" id="CancelWizard" class="cancel">
        <vc:icon symbol="close" />
    </a>
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
</header>

<form class="form-group" method="post" asp-action="WalletPSBTCombine" asp-route-walletId="@Context.GetRouteValue("walletId")" enctype="multipart/form-data">
    <input type="hidden" asp-for="OtherPSBT"/>
    <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="BackUrl" />
    <div class="form-group">
        <label asp-for="PSBT" class="form-label"></label>
        <textarea class="form-control" rows="5" asp-for="PSBT"></textarea>
        <span asp-validation-for="PSBT" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadedPSBTFile" class="form-label"></label>
        <input type="file" class="form-control" asp-for="UploadedPSBTFile">
    </div>
    <button id="Submit" type="submit" class="btn btn-primary">Combine</button>
</form>
