@model ListTransactionsViewModel

@{
    var walletId = Context.GetRouteValue("walletId").ToString();
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePage(WalletsNavPages.Transactions, $"{Model.CryptoCode} Transactions", walletId);
}

@section PageFootContent {

    <script>
        var days = parseInt('@Model.Days');
        var _inCallback = false;

        function loadTransactions() {

            if (days >= 30 && !_inCallback) {

                _inCallback = true;
                days += 30;

                $('div#loadingText').html('Loading...');

                var url = '@Url.Action("WalletTransactions", new { walletId = walletId})' + '?days=' + days;

                $.get(url, function(data) {
                    if (data != '') {
                        $("#walletTransactions").empty().append(data);
                    }
                    _inCallback = false;
                    $('div#loadingText').empty();
                });

            }
        }

        $(window).scroll(function() {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                loadTransactions();
            }
        });

    </script>
}

    <div id="walletTransactions">
        <partial name="_WalletTransactions" model="Model" />
    </div>

    <div class="text-center mb-5" id="loadingText"></div>

    <p class="mt-4 mb-0">
        If BTCPay Server shows you an invalid balance, <a asp-action="WalletRescan" asp-route-walletId="@Context.GetRouteValue("walletId")">rescan your wallet</a>.
        <br />
        If some transactions appear in BTCPay Server, but are missing in another wallet, <a href="https://docs.btcpayserver.org/FAQ/Wallet/#missing-payments-in-my-software-or-hardware-wallet" rel="noreferrer noopener">follow these instructions</a>.
    </p>
