.qr-icon {
    height: 64px;
    width: 64px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.qr-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.qr-container svg {
    width: 256px;
    height: 256px;
}
