@using BTCPayServer.Client
@using BTCPayServer.Views.Stores
@model BTCPayServer.Components.MainNav.MainNavViewModel
@{
    var store = Context.GetStoreData();
}

@if (store != null)
{
    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
        <a layout-menu-item="Shopify" asp-area="" asp-controller="UIShopify" asp-action="EditShopify" asp-route-storeId="@store.Id">
            <vc:icon symbol="logo-shopify" />
            <span text-translate="true">Shopify</span>
        </a>
    </li>
}
