@using BTCPayServer.Plugins.Impersonation
<li class="py-1 px-3">
    <a layout-menu-item="@nameof(UIImpersonationController.LoginCodes)" asp-area="@ImpersonationPlugin.Area" asp-controller="UIImpersonation" asp-action="LoginCodes" text-translate="true">Login Codes</a>
</li>
