@using BTCPayServer.Views.Stores
@model BTCPayServer.Services.Altcoins.Monero.UI.MoneroLikeStoreController.MoneroLikePaymentMethodListViewModel

@{
    Layout = "../Shared/_NavLayout.cshtml";

    ViewData.SetActivePageAndTitle(StoreNavPages.ActivePage, "Monero Settings");

    ViewData["NavPartialName"] = "../Stores/_Nav";
}


<partial name="_StatusMessage"/>

<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <table class="table table-sm table-responsive-md">
                <thead>
                <tr>
                    <th>Crypto</th>
                    <th>Account Index</th>
                    <th class="text-center">Enabled</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.CryptoCode</td>
                        <td>@item.AccountIndex</td>
                        <td class="text-center">
                            @if (item.Enabled)
                            {
                                <span class="fa fa-check"></span>
                            }
                            else
                            {
                                <span class="fa fa-times"></span>
                            }
                        </td>
                        <td class="text-right">
                            <a id="Modify" asp-action="GetStoreMoneroLikePaymentMethod"
                               asp-route-storeId="@this.Context.GetRouteValue("storeId")"
                               asp-route-cryptoCode="@item.CryptoCode">
                                Modify
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
