@model BTCPayServer.Controllers.RegisterFromAdminViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Users, "Create account");
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" required="required" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            @if (ViewData["AllowIsAdmin"] is true)
            {
                <div class="form-group form-check">
                    <input asp-for="IsAdmin" type="checkbox" class="form-check-input"/>
                    <label asp-for="IsAdmin" class="form-check-label"></label>
                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                </div>
            }
            

            @if (ViewData["AllowRequestEmailConfirmation"] is true)
            {
                <div class="form-group form-check">
                    <input asp-for="EmailConfirmed" type="checkbox" class="form-check-input"/>
                    <label asp-for="EmailConfirmed" class="form-check-label"></label>
                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                </div>
            }

            <button id="Save"  type="submit" class="btn btn-primary" name="command" value="Save">Create account</button>
        </form>
    </div>
</div>

