@model BTCPayServer.Storage.Services.Providers.AzureBlobStorage.Configuration.AzureBlobStorageConfiguration
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Services, $"Storage - Azure Blob Storage");
}


<partial name="_StatusMessage" />
<div class="row">
    <div class="col-lg-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="ContainerName"></label>
                <input class="form-control" asp-for="ContainerName" />
                <span asp-validation-for="ContainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionString"></label>
                <input class="form-control" type="text" asp-for="ConnectionString"/>
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
            <a asp-action="Storage" asp-route-forceChoice="true" >Change Storage provider</a>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
