@model BTCPayServer.Models.ServerViewModels.MaintenanceViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Maintenance);
}


<partial name="_StatusMessage" />
<div class="row">

    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <h5>Change domain name</h5>
                <span>You can change the domain name of your server by following <a href="https://github.com/btcpayserver/btcpayserver-doc/blob/master/ChangeDomain.md">this guide</a></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input asp-for="DNSDomain" class="form-control" />
                    <span class="input-group-btn">
                        <button name="command" type="submit" class="btn btn-primary" value="changedomain" title="Change domain" disabled="@(Model.CanUseSSH ? null : "disabled")">
                            <span class="fa fa-check"></span> Confirm
                        </button>
                    </span>
                </div>
                <span asp-validation-for="DNSDomain" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h5>Update</h5>
                <span>Click here to update your server</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-primary" value="update" disabled="@(Model.CanUseSSH ? null : "disabled")">Update</button>
                </div>
            </div>
            <div class="form-group">
                <h5>Clean</h5>
                <span>Click here to delete unused docker images present on your system</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-primary" value="clean" disabled="@(Model.CanUseSSH ? null : "disabled")">Clean</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
