@model BTCPayServer.Services.PoliciesSettings
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Policies);
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />
<div class="row">
    <div class="col-lg-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="RequiresConfirmedEmail"></label>
                <input asp-for="RequiresConfirmedEmail" type="checkbox" class="form-check-inline" />
            </div>
            <div class="form-group">
                <label asp-for="LockSubscription"></label>
                <input asp-for="LockSubscription" type="checkbox" class="form-check-inline" />
            </div>
            <button type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
