@model BTCPayServer.Models.ServerViewModels.SSHServiceViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Services, "SSH settings");
}

<h2 class="mb-4">@ViewData["PageTitle"]</h2>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <p>
                <span>SSH services are used by the maintenance operations<br /></span>
            </p>
        </div>

        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="text-danger"></div>
        }

        <div class="form-group">
            <div class="form-group">
                <label asp-for="CommandLine"></label>
                <input asp-for="CommandLine" readonly class="form-control" />
            </div>
            @if (!string.IsNullOrEmpty(Model.Password))
            {
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" readonly class="form-control" />
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.KeyFilePassword))
            {
                <div class="form-group">
                    <label asp-for="KeyFilePassword"></label>
                    <input asp-for="KeyFilePassword" readonly class="form-control" />
                </div>
            }
        </div>
    </div>
</div>

@if (Model.SSHKeyFileContent != null)
{
    <h4>Authorized keys</h4>
    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <p>
                    <span>You can enter here SSH public keys authorized to connect to your server.<br /></span>
                </p>
            </div>

            <form method="post">
                <div class="form-group">
                    <textarea asp-for="SSHKeyFileContent" rows="20" cols="80" class="form-control"></textarea>
                    <span asp-validation-for="SSHKeyFileContent" class="text-danger"></span>
                </div>
                <button id="submit" type="submit" class="btn btn-primary" value="Save">Save</button>
            </form>
        </div>
    </div>
}
