@model BTCPayServer.Services.ThemeSettings
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Theme, "Theme");
}

<h2 class="mb-4">@ViewData["PageTitle"]</h2>

<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <h4 class="mb-3">Custom theme</h4>
            <p>Select one of our predefined themes. Optionally you can also provide a CSS file that customizes the chosen theme.</p>
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="text-danger"></div>
            }
            <div class="form-group">
                <label asp-for="ThemeCssUri" class="form-label"></label>
                <select asp-for="ThemeCssUri" class="form-select">
                    <option value="/main/themes/default.css">Default (Light)</option>
                    <option value="/main/themes/default-dark.css">Default (Dark)</option>
                    <option value="/main/themes/classic.css">Classic</option>
                    <option value="/main/themes/casa.css">Casa</option>
                </select>
                <span asp-validation-for="ThemeCssUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomThemeCssUri" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/Theme/#1-custom-themes" target="_blank" rel="noreferrer noopener">
                    <span class="fa fa-question-circle-o text-secondary" title="More information..."></span>
                </a>
                <input asp-for="CustomThemeCssUri" class="form-control" />
                <span asp-validation-for="CustomThemeCssUri" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
        </form>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
