@model UserViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Users);
}


<h4>Modify User - @Model.Email</h4>
<partial name="_StatusMessage" for="StatusMessage" />


<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="IsAdmin"></label>
                <input asp-for="IsAdmin" type="checkbox" class="form-check" />
            </div>
            <button name="command" type="submit" class="btn btn-primary" value="Save">Save</button>
        </form>
    </div>
</div>
