@{
    Layout = "_LayoutError";
    ViewData["Title"] = "403 - Denied";
}

What are you looking at?
<br /><br />
<a href="https://twitter.com/r0ckstardev" target="_blank" rel="noreferrer noopener">
    <img src="~/img/errorpages/429_rockstardev.jpg" alt="Vin is angry because you caused 403" title="Move away that cursor" asp-append-version="true" />
</a>
<br /><br />
It's not your business.
<br /><br />
Slowly <a href="/">navigate back to home</a>.
