@{
    Layout = "_LayoutError";
    ViewData["Title"] = "500 - Internal Server Error";
}

Whoops, something really went wrong! <a href="https://twitter.com/mrkukks" rel="noreferrer noopener">Mr Kukks</a> is so sorry.
<br /><br />
<a href="https://twitter.com/mrkukks" target="_blank" rel="noreferrer noopener">
    <img src="~/img/errorpages/500_mrkukks.jpg" alt="Mr Kukks puppy eyes" title="The most innocent look you'll ever see" asp-append-version="true" />
</a>
<br /><br />
Consult server log and consider submitting issue on BTCPayServer GitHub.
<br /><br />
<a href="/">Navigate back to home</a>.
