@using System.Net
@using System.Text.RegularExpressions
@model int?
@{
    Layout = "_LayoutError";
    ViewData["Title"] = "Generic Error occurred";
    if (Model.HasValue)
    {
        var httpCode = (HttpStatusCode)Model.Value;
        var name = Regex.Replace(httpCode.ToString(), @"(\B[A-Z])", @" $1");
        ViewData["Title"] = $"{(int)httpCode} - {name}";
    }
}

<p class="mt-4">A generic error occurred (HTTP Code: @Model)</p>
<p>Please consult the server log for more details.</p>
<a href="/">Navigate back to home</a>
