@model NewPullPaymentModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(WalletsNavPages.PullPayments, "New pull payment", Context.GetStoreData().StoreName);
}

<style type="text/css">
    .smMaxWidth {
        max-width: 200px;
    }

    @@media (min-width: 768px) {
        .smMaxWidth {
            max-width: 400px;
        }
    }

    .unconf > * {
        opacity: 0.5;
    }

    .switchTimeFormat {
        display: block;
        max-width: 150px;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .transactionLabel:not(:last-child) {
        margin-bottom: 4px;
    }

    .removeTransactionLabelForm {
        display: inline;
        position: absolute;
        right: 4px;
    }

        .removeTransactionLabelForm button {
            color: #212529;
            cursor: pointer;
            display: inline;
            padding: 0;
            background-color: transparent;
            border: 0;
        }
</style>

<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <h4 class="mb-3">@ViewData["Title"]</h4>

        <form method="post"
              asp-route-walletId="@Context.GetRouteValue("walletId")"
              asp-action="NewPullPayment">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-8">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Currency" class="control-label"></label>
                    <input asp-for="Currency" class="form-control" />
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CustomCSSLink" class="control-label"></label>
                <a href="https://docs.btcpayserver.org/Theme/#2-bootstrap-themes" target="_blank">
                    <span class="fa fa-question-circle-o text-secondary" title="More information..."></span>
                </a>
                <input asp-for="CustomCSSLink" class="form-control" />
                <span asp-validation-for="CustomCSSLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmbeddedCSS" class="control-label"></label>
                <textarea asp-for="EmbeddedCSS" rows="10" cols="40" class="form-control"></textarea>
                <span asp-validation-for="EmbeddedCSS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="Create" />
                <a asp-action="PullPayments" asp-route-walletId="@Context.GetRouteValue("walletId")" class="text-muted ml-3">Back to list</a>
            </div>
        </form>
    </div>
</div>
