@model SignWithSeedViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["Title"] = "Sign PSBT with an HD private key or mnemonic seed";
    ViewData.SetActivePageAndTitle(WalletsNavPages.Send);
}

<h4>Sign PSBT with an HD private key or mnemonic seed</h4>
<div class="row">
    <div class="col-md-10">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>
                <span>Before you proceed, please understand the following:</span>
            </p>
            <ol>
                <li>Make sure this BTCPay Server instance <b>belongs to you</b>.</li>
                <li>Use <b>Chrome's Incognito mode or the Tor Browser</b>, this make sure no malicious browser plugin is running that could steal your key.</li>
            </ol>
            <p>
                <span>Else, you are exposing yourself to malicious site owner, or to malicious plugin installed in your browser.</span>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" asp-action="SignWithSeed" asp-route-walletId="@this.Context.GetRouteValue("walletId")">
            <input type="hidden" asp-for="PSBT" />
            <div class="form-group">
                <label asp-for="SeedOrKey"></label>
                <input asp-for="SeedOrKey" class="form-control" />
                <span asp-validation-for="SeedOrKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passphrase"></label>
                <input asp-for="Passphrase" class="form-control" />
                <span asp-validation-for="Passphrase" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Sign</button>
        </form>
    </div>
</div>
