@model SignWithSeedViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["Title"] = "Sign PSBT With Key";
    ViewData.SetActivePageAndTitle(Model.Send ? WalletsNavPages.Send : WalletsNavPages.PSBT);
}

<div class="row">
    <div class="col-md-10">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post">
            
            <input type="hidden" asp-for="PSBT"/>
            <input type="hidden" asp-for="Send"/>
            <div class="form-group">
                <label asp-for="SeedOrKey"></label>
                <input asp-for="SeedOrKey" class="form-control"/>
                <span asp-validation-for="SeedOrKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Passphrase"></label>
                <input asp-for="Passphrase" class="form-control"/>
                <span asp-validation-for="Passphrase" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Go go go</button>
        </form>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/vendor/highlightjs/default.min.css">
    <script src="~/vendor/highlightjs/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}
