@model WalletSendModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["Title"] = "Manage wallet";
    ViewData.SetActivePageAndTitle(WalletsNavPages.Send);
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-10">
        <p>
            Send funds to a destination address.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="Divisibility" />
            <input type="hidden" asp-for="Fiat" />
            <input type="hidden" asp-for="Rate" />
            <input type="hidden" asp-for="CurrentBalance" />
            <input type="hidden" asp-for="RecommendedSatoshiPerByte" />
            <input type="hidden" asp-for="CryptoCode" />

            <div class="form-group">
                <label asp-for="Destination"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount"></label>
                <div class="input-group">
                    <input asp-for="Amount" class="form-control" onkeyup='updateFiatValue();' />
                    <div class="input-group-prepend">
                        <span class="input-group-text text-muted" style="display:none;" id="fiatValue"></span>
                    </div>
                </div>
                <span asp-validation-for="Amount" class="text-danger"></span>
                <p class="form-text text-muted crypto-info">
                    Your current balance is <a id="crypto-balance-link" href="#"><span>@Model.CurrentBalance</span></a> <span>@Model.CryptoCode</span>.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="FeeSatoshiPerByte"></label>
                <input asp-for="FeeSatoshiPerByte" class="form-control" />
                <span id="FeeRate-Error" class="text-danger"></span>
                <p class="form-text text-muted crypto-info">
                    The recommended value is <a id="crypto-fee-link" href="#"><span>@Model.RecommendedSatoshiPerByte</span></a> satoshi per byte.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="SubstractFees"></label>
                <input asp-for="SubstractFees" class="form-check" />
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/js/WalletSend.js" type="text/javascript" defer="defer"></script>
}
