@model WalletPSBTCombineViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(WalletsNavPages.PSBT, "Combine PSBT", Context.GetStoreData().StoreName);
}

<div class="row">
    <div class="col-md-10">
        <h4 class="mb-3">@ViewData["PageTitle"]</h4>

        <form class="form-group" method="post" asp-action="WalletPSBTCombine" enctype="multipart/form-data">
            <input type="hidden" asp-for="OtherPSBT"/>
            <div class="form-group">
                <label asp-for="PSBT"></label>
                <textarea class="form-control" rows="5" asp-for="PSBT"></textarea>
                <span asp-validation-for="PSBT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedPSBTFile"></label>
                <input type="file" class="form-control-file" asp-for="UploadedPSBTFile">
            </div>
            <button type="submit" class="btn btn-primary">Combine</button>
        </form>
    </div>
</div>
