@model WalletPSBTViewModel
@addTagHelper *, BundlerMinifier.TagHelpers
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(WalletsNavPages.PSBT, "Decode PSBT", Context.GetStoreData().StoreName);
}

@section PageHeadContent {
    <link href="~/vendor/vue-qrcode-reader/vue-qrcode-reader.css" rel="stylesheet" asp-append-version="true"/>
}

@section PageFootContent {
    <bundle name="wwwroot/bundles/camera-bundle.min.js"></bundle>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initQRShow("Scan PSBT", @Json.Serialize(Model.PSBTHex), "scan-qr-modal");
            initCameraScanningApp("Scan PSBT", function (data){
               $("textarea[name=PSBT]").val(data);
               $("#Decode").click();
            }, "scanModal");
        });
    </script>
}

<h4 class="mb-3">@ViewData["PageTitle"]</h4>

<div class="row">
    <div class="col-lg-10">
        @if (Model.Errors != null && Model.Errors.Count != 0)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <vc:icon symbol="close" />
                </button>
                @foreach (var error in Model.Errors)
                {
                    <span>@error</span>
                    <br/>
                }
            </div>
        }

        <p>You can decode a PSBT by either pasting its content, uploading the file or scanning the wallet QR code.</p>
        <form class="form-group" method="post" asp-action="WalletPSBT" asp-route-walletId="@Context.GetRouteValue("walletId")" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="PSBT" class="form-label"></label>
                <textarea class="form-control" rows="5" asp-for="PSBT"></textarea>
                <span asp-validation-for="PSBT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedPSBTFile" class="form-label"></label>
                <input asp-for="UploadedPSBTFile" type="file" class="form-control">
            </div>
            <div class="d-flex">
                <button type="submit" name="command" value="decode" class="btn btn-primary" id="Decode">Decode PSBT</button>
                <button type="button" id="scanqrcode" class="btn btn-secondary only-for-js ms-2" data-bs-toggle="modal" data-bs-target="#scanModal">Scan wallet QR with camera</button>
            </div>
        </form>

    </div>
</div>
<partial name="ShowQR"/>
<partial name="CameraScanner"/>
